<md-content layout-padding>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title"
		ng-bind="purchaseOrderObj.id?'Edit Purchase Order':'Add Purchase Order'"></h4>
	</md-subheader>
	<span flex></span>
</section>
<div>
	<form ng-submit="$event.preventDefault()" name="pOForm">
		<div layout="row" layout-xs="column">
			<div layout="row" flex>
				<md-autocomplete flex required md-input-name="autocompleteField"
					md-no-cache=true md-selected-item="purchaseOrderObj.supplier"
					md-search-text="searchTextInput"
					md-items="item in querySearch(searchTextInput)"
					md-item-text="item.supplierName" md-floating-label="Supplier Name">
				<md-item-template> <span
					md-highlight-text="searchTextInput">{{item.supplierName}}</span> </md-item-template>
				<div ng-messages="pOForm.autocompleteField.$error"
					ng-if="pOForm.autocompleteField.$touched">
					<div ng-message="required">Supplier field is required.</div>
				</div>
				</md-autocomplete>
				<md-icon md-svg-src="img/icons/ic_queue_black_24px.svg"
					ng-click="addSupplier()" class="name"
					style="color: Green; height: 18px; width: 18px"></md-icon>
			</div>

			<md-datepicker flex ng-model="purchaseOrderObj.poDueDate"
				md-placeholder="Select Due Date"></md-datepicker>
		</div>

		<div layout="row" layout-xs="column">
			<md-input-container flex> <label>To </label> <textarea
				ng-model="purchaseOrderObj.to" rows="4" cols="1"></textarea> </md-input-container>

			<md-input-container flex> <label>Ship To
			</label> <textarea ng-model="purchaseOrderObj.shipTo" rows="4" cols="1"></textarea>
			</md-input-container>
		</div>

		<div layout="row" layout-xs="column">

			<md-input-container flex> <label>Requisitioner
			</label> <input ng-model="purchaseOrderObj.requisitioner"> </md-input-container>

			<md-input-container flex> <label>Shipped
				Via </label> <input ng-model="purchaseOrderObj.shippedVia"> </md-input-container>
		</div>
		<div layout="row" layout-xs="column">
			<md-input-container flex> <label>F.O.B.Point
			</label> <input ng-model="purchaseOrderObj.fOBPoint"> </md-input-container>

			<md-input-container flex> <label>Terms </label>
			<input ng-model="purchaseOrderObj.terms"> </md-input-container>
		</div>


		<div layout="row" layout-xs="column">
			<md-input-container flex> <label>Note to
				Customer</label> <textarea ng-model="purchaseOrderObj.noteToCustomer"
				rows="3" cols="1"></textarea> </md-input-container>
		</div>

		<div layout="row" layout-align="center start"
			style="margin-top: 20px; margin-bottom: 20px;">
			<md-divider flex></md-divider>
		</div>

		<span style="color: red">{{errorMsg}}</span> <span style="color: red">{{qtyErrorMsg}}</span>
		<span style="color: red">{{qtyErrorMsg1}}</span>

		<div
			ng-hide="settingsObj.showDefaultServiceItems && purchaseOrderObj.serviceLineItemList">
			<md-button class="md-icon-button" id="removeStudent"
				ng-click="removeServices(true)"> <ng-md-icon
				icon="add_circle" style="fill: md-default" size="24"> <md-tooltip>Add
			Service Line Items</md-tooltip></ng-md-icon></md-button>
		</div>

		<div
			ng-show="settingsObj.showDefaultServiceItems && purchaseOrderObj.serviceLineItemList">
			<h3>
				Service Line Items
				<md-button class="md-icon-button" id="removeStudent"
					ng-click="removeServices(false)"> <ng-md-icon
					icon="remove_circle_outline" style="fill: md-default" size="24">
				<md-tooltip>Remove Service Line Items</md-tooltip></ng-md-icon></md-button>
			</h3>
			<table md-data-table md-progress="deferred">
				<thead md-order="query.order" md-trigger="onOrderChange">
					<tr>
						<th name="Sr.No." width="4%"></th>
						<th name="Service Name" width="40%"></th>
						<th name="Quantity"></th>
						<th name="Price"></th>
						<th name="Total"></th>
						<th name="Actions"></th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="serviceItem in purchaseOrderObj.serviceLineItemList">

						<td width="4%">{{ $index +1 }}</td>
						<td width="40%"><div layout="row">
								<md-input-container flex
									style="padding-left:2px; padding-right:0px;">
								<input ng-model="serviceItem.itemName" aria-label="iname">
								</md-input-container>
							</div></td>

						<td><md-input-container flex
								style="padding-left:2px; padding-right:0px;">
							<input type="number" ng-model="serviceItem.qty"
								ng-change="calServiceSubTotal()" aria-label="iqty" /> </md-input-container></td>
						<td><md-input-container flex
								style="padding-left:2px; padding-right:0px;">
							<input type="number" ng-model="serviceItem.price"
								ng-change="calServiceSubTotal()" aria-label="iprice" /></md-input-container></td>
						<td><b>{{serviceItem.qty * serviceItem.price |
								currency:"":"2"}} </b></td>
						<td><md-icon
								md-svg-src="img/icons/ic_delete_forever_black_24px.svg"
								ng-click="removeServiceItem($index)" class="name"
								style="color: Green; height: 18px; width: 18px"></md-icon></td>
					</tr>

					<tr>
						<td><md-button class="md-icon-button"
								ng-click="addServiceLineItem()"> <ng-md-icon
								icon="add_circle" style="fill: md-default" size="24">
							<md-tooltip> Add New </md-tooltip></ng-md-icon> </md-button></td>
						<td></td>
						<td></td>
						<td><label>Service Sub Total</label></td>
						<td><b>{{purchaseOrderObj.serviceSubTotal | currency:"":"2"}}</b></td>
						<td></td>
					</tr>

					<tr>
						<td></td>
						<td><label>Services Tax</label></td>
						<td><md-input-container flex
								ng-hide="purchaseOrderObj.serviceLineItemList.length==0">
							<md-select ng-model="purchaseOrderObj.selectedServiceTax"
								placeholder="Select Tax" ng-change="serviceTaxChanged()">
							<md-option ng-value="taxValue"
								ng-repeat="taxValue in taxforinvoice"
								ng-selected="purchaseOrderObj.selectedServiceTax.id == taxValue.id">{{taxValue.taxCodeName}}</md-option>
							</md-select> </md-input-container></td>
						<td>{{purchaseOrderObj.selectedServiceTax.taxPercenatge}}</td>
						<td><b>{{purchaseOrderObj.serviceTaxTotal | currency:"":"2"}}</b></td>
						<td></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td><label>Service Total</label></td>
						<td><b>{{purchaseOrderObj.serviceTotal | currency:"":"2"}}</b></td>
						<td></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>

		</div>

		<div
			ng-hide="settingsObj.showDefaultProductItems && purchaseOrderObj.productLineItemList">
			<md-button class="md-icon-button" id="removeStudent"
				ng-click="removeProducts(true)"> <ng-md-icon
				icon="add_circle" style="fill: md-default" size="24"> <md-tooltip>Add
			Product Line Items</md-tooltip></ng-md-icon></md-button>
		</div>
		<div
			ng-show="settingsObj.showDefaultProductItems && purchaseOrderObj.productLineItemList">
			<h3>
				Product Line Items
				<md-button class="md-icon-button" id="removeStudent"
					ng-click="removeProducts(false)"> <ng-md-icon
					icon="remove_circle_outline" style="fill: md-default" size="24">
				<md-tooltip>Remove Product Line Items</md-tooltip></ng-md-icon></md-button>
			</h3>
			<table md-data-table md-progress="deferred">
				<thead md-order="query.order" md-trigger="onOrderChange">
					<tr>
						<th name="Sr. No."></th>
						<th name="Item Name" order-by="itemName" width="40%"></th>
						<th name="Quantity" order-by="qty"></th>
						<th name="Price" order-by="price"></th>
						<th name="Total" order-by="total"></th>
						<th name="Actions" order-by="total"></th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="item in purchaseOrderObj.productLineItemList">

						<td>{{ $index +1 }}</td>
						<td width="40%">
							<div layout="row">
								<md-input-container flex> <md-select
									ng-model="item.stockItem" placeholder="Item Name"
									ng-change="productLineItemChanged(item)"> <md-option
									ng-value="stockItem"
									ng-selected="item.stockItem.id == stockItem.id"
									ng-repeat="stockItem in stockItemList">{{stockItem.itemName
								}}</md-option> </md-select> </md-input-container>
								<span></span>
								<div>
									<md-button class="md-icon-button"
										ng-click="addStock($event, item)" aria-label="as">
									<md-icon md-svg-src="img/icons/ic_queue_black_24px.svg"
										class="name" style="color: Green; height: 18px; width: 18px"></md-icon></md-button>
								</div>
							</div>
						</td>

						<td><md-input-container flex> <input
								type="number" ng-model="item.qty"
								ng-blur="checkStock(item,$event)"
								ng-change="calProductSubTotal()" aria-label="iqty" /> </md-input-container></td>
						<td><md-input-container flex> <input
								type="number" ng-model="item.price"
								ng-change="calProductSubTotal()" aria-label="iprice" /></md-input-container></td>
						<td><b>{{item.qty * item.price | currency:"":"2"}} </b></td>
						<td><md-icon
								md-svg-src="img/icons/ic_delete_forever_black_24px.svg"
								ng-click="removeProductItem($index)" class="name"
								style="color: Green; height: 18px; width: 18px"></md-icon></td>

					</tr>
					<tr>
						<td><md-button class="md-icon-button"
								ng-click="addProductLineItem()"> <ng-md-icon
								icon="add_circle" style="fill: md-default" size="24">
							<md-tooltip> New Entry </md-tooltip></ng-md-icon> </md-button></td>
						<td></td>
						<td></td>
						<td><label>Product Sub Total</label></td>
						<td><b>{{purchaseOrderObj.productSubTotal | currency:"":"2"}}</b></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td><label>Product Tax</label></td>
						<td><md-input-container flex
								ng-hide="purchaseOrderObj.productLineItemList.length==0">
							<md-select ng-model="purchaseOrderObj.selectedProductTax"
								placeholder="Select Tax" ng-change="productTaxChanged()">
							<md-option ng-value="taxValue"
								ng-selected="purchaseOrderObj.selectedProductTax.id == taxValue.id"
								ng-repeat="taxValue in taxforinvoice">{{taxValue.taxCodeName}}</md-option>
							</md-select> </md-input-container></td>
						<td>{{purchaseOrderObj.selectedProductTax.taxPercenatge}}</td>
						<td><b>{{purchaseOrderObj.productTaxTotal | currency:"":"2"}}</b></td>
						<td></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td><label>Product Total </label></td>
						<td><b>{{purchaseOrderObj.productTotal | currency:"":"2"}}</b></td>
						<td></td>
					</tr>

					<tr ng-show="tempDiscAmount">
						<td></td>
						<td></td>
						<td></td>
						<td><label>Discount</label></td>
						<td><b> {{tempDiscAmount | currency:"":"2"}}</b></td>
						<td></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td><label>Final Total</label></td>
						<td><b> {{purchaseOrderObj.finalTotal | currency:"":"2"}}</b></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

				</tbody>
			</table>
		</div>
		
		</form>
</div>
<div layout layout-sm="column">
	<section layout="row" layout-sm="column">
		<md-button class="md-raised md-primary" id="addPurchaseOrder"
			ng-disabled="pOForm.$invalid" ng-click="addPurchaseOrder()">Save
		Purchase Order</md-button>
	</section>
</div>