<md-content layout-padding>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">Purchase Order List</h4>
	</md-subheader>
	<span flex></span>
	<div layout="row" flex="33" flex-sm="50" flex-xs="100">
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
	</div>
</section>

<div>
	<md-data-table-container>
	<table md-data-table class="md-primary" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onorderchange">
			<tr>
				<th name="PO No." order-by="itemNumber"></th>
				<th name="PO Date" order-by="createdDate"></th>
				<th name="Supplier Name" order-by="supplier.supplierName"></th>
				<th name="Final Total" order-by="finalTotal"></th>
				<th name="Actions"></th>
			</tr>
		</thead>

		<tbody>
			<tr
				ng-repeat="pOItem in purchaseOrderList | filter: searchText | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">

				<td>{{pOItem.itemNumber}}</td>
				<td>{{pOItem.createdDate | formatDate}}</td>
				<td>{{pOItem.supplier.supplierName}}</td>
				<td>{{pOItem.finalTotal | currency:"":"2"}}</td>
				<td>
					<section layout="row">
						<md-button class="md-icon-button"
							ui-sref="purchaseOrder.purchaseOrderAdd({purchaseOrderObj: pOItem})">
						<ng-md-icon icon="edit" style="fill: md-default" size="20">
						<md-tooltip> Edit</md-tooltip></ng-md-icon></md-button>
						<md-button class="md-icon-button" ng-click="printpPI(pOItem.id)">
						<ng-md-icon icon="print" style="fill: md-default" size="20">
						<md-tooltip> Print PO</md-tooltip></ng-md-icon></md-button>
					</section>
				</td>
			</tr>
		</tbody>
	</table>
	<md-data-table-pagination md-limit="query.limit" md-page="query.page"
		md-total={{query.totalSize}} md-trigger="onpagechange"></md-data-table-pagination>
	</md-data-table-container>
</div>
</md-content>
