<md-dialog aria-label="Add New" style="min-width:400px;"> <md-toolbar>
<div class="md-toolbar-tools">
	<h2>Change Password ({{selectedUser.firstName + ' '
		+selectedUser.lastName}})</h2>
	<span flex></span>
	<md-button class="md-icon-button" ng-click="cancel()"> <md-icon
		md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
	</md-button>
</div>
</md-toolbar> <md-dialog-content layout-padding
	style="min-width:400px; max-width:400px; max-height:500px;">
<form name="changepassform">
	<div flex id="addField" ng-hide="curuser.isGoogleUser"
		layout-align="start center">
		<div flex=80 layout="row" ng-hide="savemsg">
			<md-input-container flex> <label>New
				Password </label> <input type="{{inputType1}}" name="password"
				ng-model="password" ng-required="true">
			<div ng-messages="changepassform.password.$error"
				ng-if="changepassform.password.$touched">
				<div ng-message="required">Please enter new password.</div>
			</div>
			</md-input-container>
			<md-input-container> <md-button
				class="md-icon-button" aria-label="prev" ng-mousedown="showpass1()"
				ng-mouseup="showpass1()" ng-mouseleave="setpassinput1()">
			<md-tooltip>Show Password</md-tooltip> <md-icon
				md-svg-icon="img/icons/ic_visibility_24px.svg"></md-icon> </md-button> </md-input-container>
		</div>
		<div flex=80 layout="row" ng-hide="savemsg">
			<md-input-container flex> <label>Confirm
				Password </label> <input type="{{inputType2}}" name="confirmpassword"
				ng-model="confirmpassword" ng-required="true">
			<div ng-messages="changepassform.confirmpassword.$error"
				ng-if="changepassform.confirmpassword.$touched">
				<div ng-message="required">Please enter confirm password.</div>
			</div>
			</md-input-container>
			<md-input-container> <md-button
				class="md-icon-button" aria-label="prev" ng-mousedown="showpass2()"
				ng-mouseup="showpass2()" ng-mouseleave="setpassinput2()">
			<md-tooltip>Show Password</md-tooltip> <md-icon
				md-svg-icon="img/icons/ic_visibility_24px.svg"></md-icon> </md-button> </md-input-container>
		</div>

		<div ng-show="checkpass" style="color: red">The confirm password
			didn't match.</div>
		<div ng-show="savemsg" style="color: Blue">Password updated
			successfully.</div>
		<section flex=80 ng-hide="savemsg" ng-hide="savemsg">
			<md-button class="md-raised md-primary" ng-click="changePassword()"
				ng-disabled="changepassform.$invalid">Change Password</md-button>
		</section>
	</div>
	<div flex ng-show="curuser.isGoogleUser">
		<a target="_blank"
			href="https://www.google.com/settings/passwordchange">Use this
			link to Google Account to change your password</a>
	</div>
</form>
</md-dialog-content> </md-dialog>
