
<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>

<div layout="column" ng-cloak>
	<section layout="row" layout-xs="column">
		<md-subheader class="md-primary" flex-gt-sm="50" flex>
		<h4 class="md-title">My Leave Applications</h4>
		</md-subheader>
		
		<md-input-container flex-gt-sm="35" flex>
		<table class="table"  style="border:1px solid black;">
		<tr >
		<td style="border:1px solid black;width: 50%;height:50% ;overflow:hidden"">{{selectedUser.firstName}} {{selectedUser.lastName}}</td>
		<td style="border:1px solid black;width: 50%;height:50% ;overflow:hidden"">Balance:{{empLeaveBalance}}</td>
		</tr>
		</table>
		
		</md-input-container>		
			
		<md-input-container flex-gt-sm="20" flex>
			<md-button align="right" class="md-icon-button"
				ui-sref="user_prof_detail.addLeaves({selectedUser:curUser})"> <ng-md-icon
				icon="add_circle" style="fill: md-default" size="24"> <md-tooltip>
			Add Leave </md-tooltip></ng-md-icon> </md-button>
		</md-input-container>
	</section>
</div>


<div>
	<md-data-table-container>
	<table md-data-table md-progress="deferred">
		<thead md-order="query.order">
			<tr>
			    <th name="Applied On"> </th>
				<th name="From" order-by="startDate"></th>
				<th name="To"></th>
				<th name="No of Days"></th>
				<th name="Manager"></th>
				<th name="Status" order-by="approved"></th>
				<th name="Note"></th>
				<th name="Edit"></th>
			</tr>

			<tr ng-repeat="empLeaveAppObj in myLeaveAppList  | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit ">
				<td>{{empLeaveAppObj.createdDate|formatDate}}</td>
				<td>{{empLeaveAppObj.startDate|formatDate}}</td>
				<td>{{empLeaveAppObj.endDate |formatDate}}</td>
				<td style="text-align: center">{{empLeaveAppObj.totalDays}}</td>
				<td>{{(empLeaveAppObj.manager.firstName + ' ' +
					empLeaveAppObj.manager.lastName) | uppercase}}</td>
				<td>{{empLeaveAppObj.approved?'Approved':'Applied'}}</td>
				<td>{{empLeaveAppObj.note}}</td>
				<td><md-button class="md-icon-button"
						ng-if="empLeaveAppObj.approved==false"
						ui-sref="user_prof_detail.addLeaves({selectedLeaveAppObj: empLeaveAppObj,selectedUser:curUser})">

					<ng-md-icon icon="edit" style="fill: md-default" size="24">
					<md-tooltip> Edit Leave</md-tooltip></ng-md-icon></md-button></td>


			</tr>
	</table>
</div>