<md-content layout-padding>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">Other Business Settings</h4>
	</md-subheader>
	<span flex></span>
</section>
<form name="documentForm" layout="column">
	<md-input-container flex="80" layout="row" flex> <label>SENDGRID
		API KEY</label> <input type="text" ng-model="settingsObj.sendGridAPIKey">
	</md-input-container>

	<md-input-container flex="80" layout="row" flex> <label>TEXTLOCAL
		API KEY</label> <input type="text" ng-model="settingsObj.textLocalAPIKey">
	</md-input-container>

	<div layout="row" layout-xs="column">
		<div flex-xs flex="40">
			<md-checkbox ng-model="settingsObj.emailNotification"
				ng-true-value="true" ng-false-value="false"
				aria-label="emailNotification"> Email Notification</md-checkbox>
		</div>

		<div class="md-caption" style="padding-left: 20px;">This is a
			system level email notification ON/OFF flag.</div>
	</div>
	<div layout="row" layout-xs="column">
		<div flex-xs flex="40">
			<md-checkbox ng-model="settingsObj.smsNotification"
				ng-true-value="true" ng-false-value="false"
				aria-label="smsNotification"> SMS Notification</md-checkbox>
		</div>

		<div class="md-caption" style="padding-left: 20px;">This is a
			system level SMS notification ON/OFF flag.</div>
	</div>
	<div layout="row" layout-xs="column">
		<div flex-xs flex="40">
			<md-checkbox ng-model="settingsObj.electronicallyGeneratedMsg"
				ng-true-value="true" ng-false-value="false"
				aria-label="electronicallyGeneratedMsg"> Display
			Electronically Generated Document Msg</md-checkbox>
		</div>

		<div class="md-caption" style="padding-left: 20px;">This is a
			system level PDF Document Message ON/OFF flag.</div>
	</div>
</form>
<section layout="row" layout-sm="column">
	<md-button class="md-raised md-primary"
		ng-disabled="actionProcessing.saving" ng-click="addSettings()"
		ng-bind="actionProcessing.saving?actionProcessing.savingButtonText : actionProcessing.saveButtonText">Save
	Changes</md-button>
</section>
</md-content>

