<md-content layout="column" flex layout-padding>
<div ng-if="loading" layout-padding>
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<div ng-if="!loading" layout-padding layout="column">
	<div layout="column" ng-cloak>
		<section layout="row" layout-xs="column">
			<md-subheader class="md-primary">
			<h4 class="md-title">Counter List</h4>
			</md-subheader>
			<span flex></span>
			<div layout="row" flex="33" flex-sm="50" flex-xs="100">
				<md-input-container flex> <label>Search
					Counter</label> <input ng-model="searchText"> </md-input-container>
			</div>
		</section>
		<div>
			<md-table-container>
			<table md-table md-progress="promise">
				<thead ng-if="!dataTableOptions.decapitate" md-head
					md-order="query.order" md-on-reorder="logOrder">
					<tr md-row>
						<th md-column md-order-by="counterName">Counter Name</th>
						<th md-column md-order-by="shardCount">ShardCount</th>
						<th md-column md-order-by="tempDSCounterValue" hide-xs>Current
							MC Value</th>
						<th md-column md-order-by="tempDSCounterValue" hide-xs>Current
							DS Value</th>
						<th md-column>Edit | Actions</th>
					</tr>
				</thead>
				<tbody md-body>
					<tr md-row
						ng-repeat="counter in counterlist | filter: searchText | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
						<td md-cell>{{counter.counterName}}</td>
						<td md-cell>{{counter.shardCount}}</td>
						<td md-cell>{{counter.tempMCCounterValue}}</td>
						<td md-cell>{{counter.tempDSCounterValue}}</td>
						<td md-cell></td>
					</tr>
				</tbody>
			</table>
			</md-table-container>
			<md-table-pagination md-limit="query.limit"
				md-limit-options="dataTableOptions.limitOptions"
				md-page="query.page" md-total={{counterlist.length}}
				md-page-select="dataTableOptions.pageSelect"
				md-boundary-links="dataTableOptions.boundaryLinks"
				md-on-paginate="logPagination"></md-table-pagination>
		</div>
	</div>
</div>
</md-content>