<md-content layout-padding>
<form name="addform">

	<div ng-show="false">
		<!-- show this if number of can login user exceeds the plan -->

		Selected Business Name: {{selectedBusiness.businessName}} <span
			id="hideSpan" style="color: red">Your Account exceed the user
			limit. Click to <a href="">Upgrade Account</a>
		</span>
	</div>
	<div>
		<section layout="row" layout-align="end end" flex>
			<md-button class="md-raised md-primary" id="uplodeExcel"
				ng-click="UplodeExcel($event)">Upload Bulk Users</md-button>
		</section>
		<div>
			<h4 ng-init="basicDetailToogle=true"
				ng-click="basicDetailToogle=!basicDetailToogle">
				Basic Detail
				<md-button class="md-icon-button" ng-show="basicDetailToogle">
				<ng-md-icon icon="keyboard_arrow_up" style="fill: md-default"
					size="24"> <md-tooltip> Expand</md-tooltip></ng-md-icon></md-button>
				<md-button class="md-icon-button" ng-show="!basicDetailToogle">
				<ng-md-icon icon="keyboard_arrow_down" style="fill: md-default"
					size="24"> <md-tooltip> Collapse</md-tooltip></ng-md-icon></md-button>
			</h4>
			<div ng-show="basicDetailToogle">
				<div flex-xs flex="50">
					<md-checkbox ng-model="user.isGoogleUser" ng-true-value="true"
						ng-false-value="false" aria-label="isGoogleUser"> Is
					Google User </md-checkbox>
				</div>
				<div layout layout-xs="column">
					<md-input-container flex> <label>User
						Name /Email </label> <input name="emailid" ng-model="user.email_id"
						ng-blur="Checkemail(user.email_id)" ng-pattern="/^.+@.+\..+$/"
						ng-required="true"> <span style="color: red">
						{{userexists}}</span>
					<div ng-messages="addform.emailid.$error"
						ng-if="addform.emailid.$submitted || addform.emailid.$touched ">
						<div ng-message="required">Please Enter Email Id.</div>
					</div>
					</md-input-container>

					<md-input-container flex ng-hide="user.isGoogleUser">
					<label>Enter Password</label> <input type="password"
						name="password" ng-model="user.password"> </md-input-container>

					<md-input-container flex> <md-checkbox
						ng-model="user.isLoginAllowed" ng-true-value="true"
						ng-false-value="false" aria-label="isLoginAllowed"></md-checkbox>
					Can User Login to System </md-input-container>

					<md-input-container flex> <label>First
						Name </label> <input name="fname" ng-model="user.firstName"
						ng-required="true">
					<div ng-messages="addform.fname.$error"
						ng-if="addform.fname.$submitted || addform.fname.$touched">
						<div ng-message="required">Please Enter First Name.</div>
					</div>
					</md-input-container>
					<md-input-container flex> <label>Last
						Name </label> <input name="lname" ng-model="user.lastName"
						ng-required="true">
					<div ng-messages="addform.lname.$error"
						ng-if="addform.lname.$submitted || addform.lname.$touched">
						<div ng-message="required">Please Enter Last Name.</div>
					</div>
					</md-input-container>
				</div>

				<div layout layout-xs="column">
					<md-input-container flex> <label>Employee
						Department </label> <md-select ng-model="user.employeeDetail.department"
						placeholder="Select  Department"> <lable>Select
					Department</lable> <md-option ng-value="department"
						ng-repeat="department in departmentList">{{department.name}}
					</md-option> </md-select></md-input-container>
					<md-input-container flex> <label>Employee
						Designation </label> <input type="text"
						ng-model="user.employeeDetail.designation" name="userDesignation">
					</md-input-container>

					<md-input-container flex> <label>Mobile
					</label> <input name="phone1" ng-model="user.employeeDetail.phone1"
						ng-minlength="10" ng-maxlength="10">
					<div ng-messages="addform.phone1.$error">
						<div ng-message="minlength, maxlength">Please enter 10 digit
							number</div>
					</div>
					</md-input-container>
					<md-input-container flex> <label>Phone
						2 </label> <input name="phone2" ng-model="user.employeeDetail.phone2">
					</md-input-container>
				</div>
			</div>

			<h4 ng-init="employeeDetailToogle=false"
				ng-click="employeeDetailToogle=!employeeDetailToogle">
				Employee Detail
				<md-button class="md-icon-button" ng-show="employeeDetailToogle">
				<ng-md-icon icon="keyboard_arrow_up" style="fill: md-default"
					size="24"> <md-tooltip> Expand</md-tooltip></ng-md-icon></md-button>
				<md-button class="md-icon-button" ng-show="!employeeDetailToogle">
				<ng-md-icon icon="keyboard_arrow_down" style="fill: md-default"
					size="24"> <md-tooltip> Collapse</md-tooltip></ng-md-icon></md-button>
			</h4>
			<div ng-show="employeeDetailToogle">


				<div layout layout-xs="column">
					<md-input-container flex> <label>PAN
						Card Number </label> <input name="panCardNumber"
						ng-model="user.employeeDetail.panCardNumber"> </md-input-container>
					<md-input-container flex> <label>EPF
						Number </label> <input name="epfNumber"
						ng-model="user.employeeDetail.epfNumber"> </md-input-container>
				</div>


				<div layout layout-xs="column">
					<md-input-container flex> <label>Bank
						Name </label> <input id="bankName" name="bankName"
						ng-model="user.employeeDetail.bankDetail.bankName"> </md-input-container>
					<md-input-container flex> <label>Branch
						Name </label> <input id="branchName" name="branchName"
						ng-model="user.employeeDetail.bankDetail.branchName"> </md-input-container>
				</div>
				<div layout layout-xs="column">
					<md-input-container flex> <label>Bank
						Account No. </label> <input id="bankAccountNo" name="bankAccountNo"
						ng-model="user.employeeDetail.bankDetail.bankAccountNo"> </md-input-container>

					<md-input-container flex> <label>Bank
						IFSC Code </label> <input id="bankIfscCode" name="bankIfscCode"
						ng-model="user.employeeDetail.bankDetail.bankIfscCode"> </md-input-container>
				</div>
			</div>
		</div>


		<section layout="row" layout-align="left left">
			<md-button class="md-raised md-primary" id="adduser"
				ng-disabled="addform.$invalid" ng-click="adduser()">Add</md-button>
		</section>

	</div>
</form>
</md-content>