<md-content layout="column" layout-align="top stretch" layout-fill>
<div>
	<div layout-fill>
		<section layout="row" layout-fill style="margin: 0; padding: 0">
			<md-content layout="row" layout-align="center start"> <md-button
				class="md-icon-button" aria-label="prev" ng-click="back()">
			<md-tooltip> go back</md-tooltip> <md-icon
				md-svg-icon="img/icons/ic_reply_black_24px.svg" aria-label="go back"></md-icon>
			</md-button> <md-button ui-sref="setup.departmentList" ng-click="close()"
				class="md-primary">Department List</md-button> <md-button
				ui-sref="setup.businesssetup" ng-click="close()" class="md-primary">Edit
			Business </md-button> <md-button ui-sref="setup.userlist" ng-click="close()"
				class="md-primary"> Userlist </md-button> <md-button
				ui-sref="setup.changeplan" ng-click="close()" class="md-primary">Change
			Plan</md-button> <md-button ui-sref="setup.changetheme" ng-click="close()"
				class="md-primary">Change Theme</md-button> <md-button
				ui-sref="setup.setlogo" ng-click="close()" class="md-primary">Set
			Company Logo</md-button> </md-content>

			<span flex></span>

			<md-button class="md-icon-button" aria-label="More"
				ng-click="toggleRight()"> <md-icon
				md-svg-icon="img/icons/more_vert.svg"></md-icon> </md-button>
		</section>
	</div>

	<md-sidenav class="md-sidenav-right md-whiteframe-z2"
		md-component-id="right"> <md-toolbar
		class="md-theme-light">
	<h1 class="md-toolbar-tools">More Actions...</h1>
	</md-toolbar> <md-content layout="column"> <md-button
		ui-sref="setup.useradd({businessNo:businessNo})" ng-click="close()"
		class="md-primary"> Add User </md-button> <md-button
		ui-sref="setup.businesssetup({businessNo:businessNo})"
		ng-click="close()" class="md-primary">Edit Business </md-button> <md-button
		ui-sref="setup.userlist({businessNo:businessNo})" ng-click="close()"
		class="md-primary"> Userlist </md-button> <md-button
		ui-sref="setup.changeplan({businessNo:businessNo})" ng-click="close()"
		class="md-primary">Change Plan</md-button> <md-button
		ui-sref="setup.setlogo" ng-click="close()" class="md-primary">Set
	Company Logo</md-button> <md-button ui-sref="setup.footer" ng-click="close()"
		class="md-primary">Set Company Footer</md-button> <md-button
		ui-sref="setup.disclaimer" ng-click="close()" class="md-primary">Add
	Disclaimer</md-button> <md-button ui-sref="setup.sendmail" ng-click="close()"
		class="md-primary">send Email</md-button> </md-content> </md-sidenav>
</div>

<md-content flex ui-view layout-fill></md-content> </md-content>
