
<md-content layout-padding>
<form name="department">
	<div >
<div layout layout-xs="column">
			<md-input-container flex> <label>Department Name <span style="color: red"
				ng-show="department.fname.$error.required" class="mandatory">*</span>
			</label> <input id="dname" name="dname" ng-model="department2.name"
				ng-required="true">
			<div ng-messages="department.dname.$error"
				ng-if="department.dname.$submitted || department.dname.$touched">
				<div ng-message="required">Please Enter Depatment Name.</div>
			</div>
			</md-input-container>
			
			
			<md-input-container flex>  <md-select ng-model="department2.pname"
			name="parentDept" > <label>Parent Account 
		</label> 
			<md-option
			ng-value="Parentdepartment" ng-repeat="Parentdepartment in Parentdepartment">
		{{Parentdepartment}} </md-option>
			
			
			</md-select>
				</md-input-container>
		</div>
		
		

		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary" id="adddepartment"
				ng-disabled="department.$invalid" ng-click="saveDepartment()">Add</md-button>
		</section>



	</div>




</form>
</md-content>