<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="100" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<div ng-if="!loading" layout-padding>
	<div ng-cloak>
		<h3 class="md-display-10">Users</h3>
		<md-fab-speed-dial md-open="fabMenuData.activeUsersIsOpen[$index]"
			md-direction="{{fabMenuData.selectedDirection}}"
			ng-class="fabMenuData.selectedMode"> <md-fab-trigger>
		<md-button aria-label="menu" class="md-fab md-mini"> <md-icon
			md-svg-src="img/icons/menu.svg"></md-icon> </md-button> </md-fab-trigger> <md-fab-actions>
		<div ng-repeat="item in fabMenuData.items">
			<md-button aria-label="{{item.name}}"
				class="md-fab md-raised md-mini" ng-click="openDialog($event, item)">
			<md-tooltip md-direction="{{item.direction}}" md-autohide="false">
			{{item.name}} </md-tooltip> <md-icon md-svg-src="{{item.icon}}"
				aria-label="{{item.name}}"></md-icon> </md-button>
		</div>
		</md-fab-actions> </md-fab-speed-dial>
		<md-content> <md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="Active"> <md-content class="md-padding">

		<div layout layout-sm="column">
			<md-input-container flex="33" flex-sm="100" flex-xs="100">
			<label>Search</label> <input ng-model="searchTextActiveUsers">
			</md-input-container>
		</div>
		<div>


			<ng-md-icon icon="add_circle" style="fill: md-default" size="35"
				ui-sref="setup.useradd({selectedBusiness: selectedBusiness})">
			<md-tooltip> Add User</md-tooltip></ng-md-icon>
			</ng-md-icon>

		</div>

		<div>
			<md-data-table-container>

			<table md-data-table md-progress="deferred">
				<thead md-order="query.order" md-trigger="onOrderChange">
					<tr>
						<th name="First Name" order-by="firstName"></th>
						<th name="Last Name" order-by="lastName"></th>
						<th name="Department" order-by="department" hide-xs></th>
						<th name="Designation" order-by="designation" hide-xs></th>
						<th name="Login Allowed" order-by="isLoginAllowed" hide-xs></th>
						<th name="Email" order-by="email_id" hide-xs></th>
						<th name="Last Login" order-by="lastLoginDate" hide-xs></th>
						<th name="Edit | Actions"></th>
					</tr>
				</thead>
				<tbody>
					<tr
						ng-repeat="user in activeUsers | filter: searchTextActiveUsers | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
						<td>{{user.firstName}}</td>
						<td>{{user.lastName}}</td>
						<td hide-xs>{{user.department?user.department.name:'Default'}}</td>
						<td hide-xs>{{user.designation}}</td>
						<td hide-xs>{{user.isLoginAllowed?'Yes':'No'}}</td>
						<td hide-xs>{{user.email_id}}</td>
						<td hide-xs>{{user.lastLoginDate | formatDateWithTime}}</td>
						<td>
							<section layout="row">
								<md-button class="md-icon-button"
									ng-show="currentStateName == 'setup.userlist'"
									ui-sref="setup.userview({selectedUser: user})" style="margin-top: 10px"> <ng-md-icon
									icon="edit" style="fill: md-default" size="24" > <md-tooltip>
								Edit Record</md-tooltip></ng-md-icon></md-button>
								<md-button class="md-icon-button"
									ng-show="currentStateName == 'proAdmin.editBusiness.userlist'"
									ui-sref="proAdmin.editBusiness.userview({selectedUser: user})" style="margin-top: 10px">
								<ng-md-icon icon="edit" style="fill: md-default" size="24">
								<md-tooltip> Edit Record</md-tooltip></ng-md-icon></md-button>

								<md-menu md-offset="0 -7"> <md-button
									aria-label="Open Menu" class="md-icon-button"
									ng-click="$mdOpenMenu($event)"> <md-icon
									md-menu-origin md-svg-icon="img/icons/more_vert.svg"></md-icon>
								</md-button> <md-menu-content width="2"> <md-menu-item>
								<md-button class="md-raised md-primary"
									ng-click="changePassword($event, user)" md-menu-align-target>Change
								Password </md-button> </md-menu-item> <md-menu-item> <md-button
									class="md-raised md-primary" ng-click="suspendUser(user)"
									md-menu-align-target>Suspend </md-button> </md-menu-item> <md-menu-item>
								<md-button class="md-raised md-primary"
									ng-click="changeAuthView({selectedUser:user})"
									md-menu-align-target>Manange Authorization </md-button> </md-menu-item> </md-menu-content> </md-menu>
							</section>
						</td>
					</tr>
				</tbody>
			</table>

			<md-data-table-pagination md-limit="query.limit" md-page="query.page"
				md-total={{activeUsers.length}} md-trigger="onpagechange"></md-data-table-pagination>
			</md-data-table-container>
		</div>

		</md-content> </md-tab> <md-tab label="Suspended"> <md-content class="md-padding">
		<!-- 	<h3 class="md-display-10">Month</h3> -->

		<div layout layout-sm="column">
			<md-input-container flex> <label>Search</label>
			<input ng-model="searchText"> </md-input-container>
		</div>

		<div>
			<md-data-table-container>

			<table md-data-table md-progress="deferred">
				<thead md-order="query.order" md-trigger="onOrderChange">
					<tr>
						<th name="First Name" order-by="firstName"></th>
						<th name="Last Name" order-by="lastName"></th>
						<th name="Email" order-by="email_id" hide-xs></th>
						<th name="Edit | Actions"></th>
					</tr>
				</thead>

				<tbody>
					<tr
						ng-repeat="user in suspendedUsers | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">
						<td>{{user.firstName}}</td>
						<td>{{user.lastName}}</td>
						<td hide-xs>{{user.email_id}}</td>
						<td>
							<section layout="row">
								<md-button class="md-icon-button"
									ng-show="currentStateName == 'setup.userlist'"
									ui-sref="setup.userview({selectedUser: user})" style="margin-top: 10px"> <ng-md-icon
									icon="edit" style="fill: md-default" size="24" > <md-tooltip>
								Edit Record</md-tooltip></ng-md-icon></md-button>
								<md-button class="md-icon-button"
									ng-show="currentStateName == 'proAdmin.editBusiness.userlist'"
									ui-sref="proAdmin.editBusiness.userview({selectedUser: user})" style="margin-top: 10px">
								<ng-md-icon icon="edit" style="fill: md-default" size="24">
								<md-tooltip> Edit Record</md-tooltip></ng-md-icon></md-button>

								<md-menu md-offset="0 -7"> <md-button
									aria-label="Open Menu" class="md-icon-button"
									ng-click="$mdOpenMenu($event)"> <md-icon
									md-menu-origin md-svg-icon="img/icons/more_vert.svg"></md-icon>
								</md-button> <md-menu-content width="2"> <md-menu-item>
								<md-button class="md-raised md-primary"
									ng-click="changePassword($event, user)" md-menu-align-target>Change
								Password </md-button> </md-menu-item> <md-menu-item> <md-button
									class="md-raised md-primary" ng-click="suspendUser(user)"
									md-menu-align-target>Suspend </md-button> </md-menu-item> <md-menu-item>
								<md-button class="md-raised md-primary"
									ng-click="changeAuthView({selectedUser:user})"
									md-menu-align-target>Manange Authorization </md-button> </md-menu-item> </md-menu-content> </md-menu>
							</section>
						</td>
					</tr>
				</tbody>
			</table>

			<md-data-table-pagination md-limit="query.limit" md-page="query.page"
				md-total={{suspendedUsers.length}} md-trigger="onpagechange"></md-data-table-pagination>
			</md-data-table-container>
		</div>

		</md-content> </md-tab>
	</div>

	<script type="text/ng-template" id="dialog.html">
    <md-dialog>
      <md-toolbar>
        <div class="md-toolbar-tools">Cool Dialog!</div>
      </md-toolbar>

      <md-dialog-content layout-padding>
        Hello user! you clicked {{dialog.item.name}}.
      </md-dialog-content>

      <div class="md-actions">
        <md-button aria-label="Close dialog" ng-click="dialog.close()" class="md-primary">
          Close Greeting
        </md-button>

        <md-button aria-label="Submit dialog" ng-click="dialog.submit()" class="md-primary">
          Submit
        </md-button>
      </div>
    </md-dialog>
  </script>
</div>
