<div ng-if="loading" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-211" data-genuitec-path="/billnstock/WebContent/app/accounting/account_add.html">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<md-content ng-if="!loading" layout-padding layout="column">
<section id="pagetoolbar" layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title"
		ng-bind="tempAccount.id?'Edit Account':'Add New Account'"></h4>
	</md-subheader>
	<span flex> </span>
	<div hide-xs>
		<md-button class="md-primary" id="Bulk Upload"
			ng-click="UplodeExcel($event)">Bulk Upload</md-button>
	</div>
</section>
<form name="accountForm">
	<div layout layout-xs="column">
		<md-input-container flex> <label>Account
			Name </label> <input ng-model="tempAccount.accountName" name="accountName"
			id="accountName" ng-required="true" minlength="3">

		<div ng-messages="accountForm.accountName.$error"
			ng-if="accountForm.accountName.$submitted || accountForm.accountName.$touched">
			<div ng-message="required">Please Enter Account Name</div>
			<div ng-message="minlength">Please Enter more than 3 character</div>

		</div>
		</md-input-container>

		<md-input-container flex> <label>Account
			Type</label> <md-select ng-model="tempAccount.accountType" name="accountType"
			ng-required="true"> <md-option ng-value="type"
			ng-repeat="type in accountTypeList"
			ng-selected="tempAccount.accountType == type"> {{type}} </md-option>
		</md-select>

		<div ng-messages="accountForm.accountType.$error"
			ng-if="accountForm.accountType.$submitted || accountForm.accountType.$touched">
			<div ng-message="required">Please Select the Type</div>

		</div>
		</md-input-container>

	</div>

	<div layout layout-xs="column">
		<md-input-container flex> <label>Account
			No </label> <input ng-model="tempAccount.accountNo" name="accountNo"
			id="accountNo" ng-required="true" minlength="3">

		<div ng-messages="accountForm.accountNo.$error"
			ng-if="accountForm.accountNo.$submitted || accountForm.accountNo.$touched">
			<div ng-message="required">Please Enter Account No</div>
		</div>
		</md-input-container>


		<md-input-container flex> <label>Description

		</label> <textarea name="description" ng-model="tempAccount.description"
			id="description" ng-required="true" maxlength="300"></textarea>

		<div ng-messages="accountForm.description.$error"
			ng-if="accountForm.description.$submitted || accountForm.description.$touched">
			<div ng-message="required">Please Enter Description</div>


		</div>

		</md-input-container>
	</div>

	<div layout layout-xs="column">
		<md-input-container flex> <label>Display
			Order No </label> <input name="displayOrderNo" type="number"
			id="displayOrderNo" ng-model="tempAccount.displayOrderNo"
			ng-required="true" maxlength="4" min="1"></input>

		<div ng-messages="accountForm.displayOrderNo.$error"
			ng-if="accountForm.displayOrderNo.$submitted || accountForm.displayOrderNo.$touched">
			<div ng-message="required">Please Enter Integer Only!</div>
			<div ng-message="maxlength">Please Enter value less than 4
				digit!</div>
			<div ng-message="min">Please Enter Positive No!</div>
		</div>
		</md-input-container>

		<md-input-container flex> <label>Account
			Group</label> <md-select ng-model="tempAccount.accountGroup"
			placeholder="Select Account Group" name="acGroup" ng-required="true">
		<md-option ng-selected="acGroup.id == tempAccount.accountGroup.id"
			ng-value="acGroup"
			ng-repeat="acGroup in accountGroupList | orderBy: acGroup.groupName">{{acGroup.groupName}}
		</md-option> </md-select>
		<div ng-messages="accountForm.acGroup.$error"
			ng-if="accountForm.acGroup.$submitted || accountForm.acGroup.$touched">
			<div ng-message="required">Please Select the Type</div>
		</div>
		</md-input-container>
	</div>
	<div layout layout-xs="column">
		<div flex-xs flex="50">
			<md-checkbox ng-model="tempAccount.contra" ng-true-value="true"
				ng-false-value="false" aria-label="contra"> Contra </md-checkbox>
		</div>
	</div>
	<section layout="row" layout-xs="column" layout-align="left left">
		<md-button class="md-raised md-primary" ng-click="addAccount()">Update</md-button>
		<md-button class="md-raised md-primary" ng-click="cancel()">Cancle</md-button>
	</section>
</form>
</md-content>
