<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th { /* //border: 1px solid #dddddd; */
	text-align: left;
	padding: 8px;
}
</style>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">Balance Sheet</h4>
	</md-subheader>
	<span flex></span>
	<md-button class="md-icon-button"
		ng-click="printDiv('balanceSheetDiv')"> <ng-md-icon
		icon="print" style="fill: md-default" size="24"> <md-tooltip>Print</md-tooltip></ng-md-icon></md-button>
	<md-button class="md-icon-button" ng-click="load_pdf()"> <ng-md-icon
		icon="file_download"> <md-tooltip>Balance
	sheet Pdf</md-tooltip></ng-md-icon> </md-button>
</section>
<md-content ng-show="loading"> <md-progress-circular
	class="md-accent md-accent" md-diameter="60"></md-progress-circular></md-content>
<md-content layout-padding ng-show="!loading"> <md-content
	layout-padding>
<form>
	<div id="balanceSheetDiv" style="width: 100%;">

		<table
			style="width: 50%; border: 1px solid #dddddd; border-color: black; float: left">

			<tr>
				<th colspan="2">Equity</th>
				<td colspan="1"></td>
			</tr>
			<tr>
				<td colspan="2"></td>
				<td style="text-align: left;" id="content">
					<div ng-repeat="groupTypeObj in accountGroupTypeGroupList">
						<div ng-if="groupTypeObj.typeName=='EQUITY'">
							<div ng-repeat="grp in groupTypeObj.groupList"
								style="text-align: right;">
								<span style="padding-right: 30%;">{{grp.groupName}}</span> <span
									flex></span> <span ng-if="grp.groupBalance < 0">(</span><span
									style="text-align: right;">{{grp.groupBalance|positive|number:2}}</span><span
									ng-if="grp.groupBalance < 0">)</span>
							</div>
						</div>
					</div>
				</td>


			</tr>
			<tr>
				<th colspan="2">LIABILITIES</th>
				<td colspan="1"></td>
			</tr>
			<tr>
				<td colspan="2"></td>
				<td style="text-align: left;" id="content">
					<div ng-repeat="groupTypeObj in accountGroupTypeGroupList">
						<div ng-if="groupTypeObj.typeName=='LIABILITIES'">
							<div ng-repeat="grp in groupTypeObj.groupList"
								style="text-align: right;">
								<span style="padding-right: 30%;">{{grp.groupName}}</span> <span
									flex></span> <span ng-if="grp.groupBalance < 0">(</span><span
									style="text-align: right;">{{grp.groupBalance|positive|number:2}}</span><span
									ng-if="grp.groupBalance < 0">)</span> <br> <br>
							</div>
						</div>
					</div>
		</td>
			</tr>


			<tr ng-show="!nettProffitOrLoss">
				<td><b>Profit & Loss A/c </b></td>
				<td><b>{{nettProffitOrLoss}}</b></td>
			</tr>
									
			<tr ng-show="!nettProffitOrLoss">
			<td>Opening Balance </td>
			<td>&nbsp;&nbsp;</td>
			
			</tr>
			<tr>
				<td class="bottom" style="text-align: right; align: bottom"
					style="padding-right: 30%;"><b>Total Liabilities</b></td>
				<td style="align: right;">
			<b>{{totalLiabilities2}} </b>
				</td>
	</tr>
	</table>
		<table
			style="width: 50%; border: 1px solid #dddddd; border-color: black; float: left">

			<tr>
				<th colspan="2">ASSETS</th>
				<th style="text-align: center;"><br> <span> </span></th>
			</tr>
			<tr>
				<td colspan="2"></td>
				<td style="text-align: left;" id="content">
					<div ng-repeat="groupTypeObj in accountGroupTypeGroupList">
						<div ng-if="groupTypeObj.typeName=='ASSETS'">
							<div ng-repeat="grp in groupTypeObj.groupList"
								style="text-align: right;">
								<span style="padding-right: 30%;">{{grp.groupName}}</span> <span
									flex></span> <span ng-if="grp.groupBalance < 0">(</span><span
									style="text-align: right;">{{grp.groupBalance|positive|number:2}}</span><span
									ng-if="grp.groupBalance < 0">)</span>
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<th colspan="2"></th>
				<td colspan="1"></td>
			</tr>
			<tr>
				<td colspan="2"></td>
				<td style="text-align: left;" id="content">
					<div ng-repeat="groupTypeObj in accountGroupTypeGroupList">
						<div ng-if="groupTypeObj.typeName=='LIABILITIES'">
							<div ng-repeat="grp in groupTypeObj.groupList"
								style="text-align: right;">
								<span style="padding-right: 30%;"></span> <span flex></span> <span
									ng-if="grp.groupBalance < 0">(</span><span
									style="text-align: right;"></span><span
									ng-if="grp.groupBalance < 0">)</span> <br> <br>
							</div>

						</div>
					</div>
					<div style="text-align: right;">
						<span style="padding-right: 30%;"><b></b></span><span
							style="align: right;"><b> </b></span>
					</div>
				</td>
			</tr>
			<tr ng-show="nettProffitOrLoss">
				<td><b>Profit & Loss A/c </b></td>
				<td><b>{{nettProffitOrLoss}}</b></td>
			</tr>
			<tr ng-show="nettProffitOrLoss">
			<td>Opening Balance </td>
			<td>&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td class="bottom" style="text-align: right; align: bottom"
					style="padding-right: 30%;"><b>Total Asset</b></td>
				<td style="align: right;">
			<b>{{totalAsset}} </b>
				</td>

				</tr>

		</table>
</div>

</form>
</md-content>