<md-content layout-padding>
<section layout="row" layout-align="end end" flex>
	<md-button class="md-raised md-primary" id="uplodeExcel"
		ng-click="UplodeExcel($event)">UplodeExcel</md-button>
</section>

<div class="md-headline">
	<u>Edit Accounting Group</u>
	
	
</div>
<form name="accGroupEditForm">

	[<span style="color: red;">Field Marked as asterik (*) are
		mandetory</span>]


	<div layout layout-sm="column">
		<md-input-container flex> <label>Group Name <span style="color: red;">*</span>
		</label> <input type="text" ng-model="tempAccountGrp.groupName" name="grpName"
			ng-required="true">

		<div ng-messages="accGroupEditForm.grpName.$error"
			ng-if="accGroupEditForm.grpName.$submitted || accGroupEditForm.grpName.$touched">
			<div ng-message="required">Please Enter Account Group Name</div>
		</div>
		</md-input-container>
		<md-input-container flex> <label>Order No </label>
		<input type="number" ng-model="tempAccountGrp.displayOrderNo"
			name="orderNo" >
			
		</md-input-container>
	</div>
	
	
	
	<div layout layout-sm="column"  ng-if="!tempAccountGrp.isPrimary">

		<md-input-container flex > <lable> Primary Type<span style="color: red;">*</span></lable> <md-select
			ng-model="tempAccountGrp.primaryType" 
		
			 id="primaryType""
			 ng-required="true">
		 <md-option
			ng-value="item.primaryType" ng-repeat="item in accountGroupList | unique:'parent.primaryType' | filter:{isPrimary:'false'}">{{item.parent.primaryType}}

		</md-option> </md-select>

		<div ng-messages="accGroupEditForm.primaryType.$error"
			ng-if="accGroupEditForm.primaryType.$submitted || accGroupEditForm.primaryType.$touched">
			<div ng-message="required">Please  Primary Type</div>

		</div>

		</md-input-container>

		<md-input-container flex ng-if="!tempAccountGrp.isPrimary">	<lable> Parent Type<span style="color: red;">*</span></lable> <md-select
			ng-model="tempAccountGrp.parent.groupName" 
			
			 id="parent"
			 ng-required="true">
	 <md-option
			ng-value="item.parent.groupName"  ng-repeat="item in accountGroupList | unique:'parent.groupName' |  filter:{isPrimary:'false'}">{{item.parent.groupName}}
			
		

		</md-option> </md-select>

		<div ng-messages="accGroupEditForm.parent.$error"
			ng-if="accGroupEditForm.parent.$submitted || accGroupEditForm.parent.$touched">
			<div ng-message="required">Please select Parent Group Type</div>
		</div>
		</md-input-container>
	</div>
	
	<div layout layout-sm="column">
		<label>isPrimary </label>
		<md-checkbox ng-model="tempAccountGrp.isPrimary"
			ng-true-value="true" ng-false-value="false"> </md-checkbox>
</div>
	
	<!-- {{accountGroupList}} -->
	
	<div layout layout-sm="column">
		<md-input-container flex ng-if="tempAccountGrp.isPrimary"> <lable>Primary Group Type<span
			style="color: red;">*</span></lable>
		<md-select ng-model="tempAccountGrp.primaryGroup"
			 id="primaryGroupT" name="primaryGroup"
			ng-required="true"> <md-option 
			ng-value="item.groupName"
			ng-repeat="item in accountGroupList">{{item.groupName}} </md-option>
		</md-select>
	

		<div ng-messages="accGroupEditForm.primaryGroup.$error"
			ng-if="accGroupEditForm.primaryGroupT.$submitted || accGroupEditForm.primaryGroupT.$touched">
			<div ng-message="required">Please Select the Primary Type</div>

		</div>
		</md-input-container>
		
		
		
	</div>
	
	
	
	
	
	
	
	<section layout="row" layout-sm="column" layout-align="center center">
		<md-button class="md-raised md-primary" ng-click="updateAccountGrp()">Update</md-button>

		<md-button class="md-raised md-primary" ng-click="cancelBtn()">Cancel</md-button>
	</section>

</form>

</md-content>

