<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th { /* //border: 1px solid #dddddd; */
	text-align: left;
	padding: 8px;
}
td{
border: 1px solid black;

}
</style>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">Profit And Loss</h4>
	</md-subheader>
	<span flex></span>
	<md-button class="md-icon-button"
		ng-click="printDiv('balanceSheetDiv')"> <ng-md-icon
		icon="print" style="fill: md-default" size="24"> <md-tooltip>Print</md-tooltip></ng-md-icon></md-button>
	<md-button class="md-icon-button" ng-click="load_pdf()"> <ng-md-icon
		icon="file_download"> <md-tooltip>Balance
	sheet Pdf</md-tooltip></ng-md-icon> </md-button>
</section>
<md-content ng-show="loading"> <md-progress-circular
	class="md-accent md-accent" md-diameter="60"></md-progress-circular></md-content>
<md-content layout-padding ng-show="!loading"> <md-content
	layout-padding>
<form>
	<div id="balanceSheetDiv" style="width: 100%;">

		<table
			style="width: 100%; border-right: 0px;border: 1px solid #dddddd; border-color: black; float: left">
			<tr>
			<th colspan="3">Operating Revenue</th>
			</tr>
			<tr ng-repeat="sales in totalSalesList">
			<td colspan="2"> {{sales.groupName}}</td>
			<td>{{sales.groupBalance}} </td>
			</tr>
<tr>
<td colspan="2"><b>Total Operating Revenue</b></td>
<td> <b>{{totalOperatingRevenue}} </b></td>
</tr>

<tr>
<th colspan="3">Operating Expenses</th>
</tr>


<tr ng-repeat="purchase in totalPurchaseList">
			<td colspan="2"> {{purchase.groupName}}</td>
			<td>{{purchase.groupBalance}} </td>
			</tr>
			<tr>
<td colspan="2"><b>Gross Profit</b></td>
<td> <b>{{grossProfit}}</b> </td></tr>



<tr>
<th colspan="3">Overhead</th>
</tr>


<tr ng-repeat="payment in totalPaymentList">
<td colspan="2"> {{payment.groupName}}</td>
<td>{{payment.groupBalance}} </td>
</tr>
<tr>
<td colspan="2"><b>Total Overhead</b></td>
<td> <b>{{totalOverhead}}</b> </td></tr>

<tr>
<td colspan="2"><b>Operating Income</b></td>
<td> <b>{{operatingIncome}}</b> </td></tr>


</table>
		
	</div>

</form>
</md-content>