<md-content layout-padding> 
<section id="pagetoolbar" layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title"
		ng-bind="account.id?'Edit Account':'Add New Account'"></h4>
	</md-subheader>
	<span flex> </span>
	<div hide-xs>
		<md-button class="md-primary" id="Bulk Upload"
			ng-click="UplodeExcel($event)">Bulk Upload</md-button>
	</div>
</section>
<md-content ng-show="loading"> <md-progress-circular
	class="md-accent md-accent" md-diameter="60"></md-progress-circular></md-content>
<md-content layout-padding ng-show="!loading"> <md-content
	layout-padding>
<form name="accountForm">
	<div layout layout-xs="column">


		<md-input-container flex> <label>Account
			Name </label> <input ng-model="account.accountName" name="accountName"
			id="accountName" ng-required="true" account-userexists minlength="3">

		<div ng-messages="accountForm.accountName.$error"
			ng-if="accountForm.accountName.$submitted || accountForm.accountName.$touched">
			<div ng-message="required">Please Enter Account Name</div>
			<div ng-message="minlength">Please Enter more than 3 character</div>
			<div ng-message="userexists">Account Already Exists</div>
		</div>
		</md-input-container>
		
		<md-input-container flex> <label>Account Type</label><md-select
			ng-model="account.accountType" id="accountType" name="accountType" ng-required="true">
		 <md-option ng-value="type"
			ng-repeat="type in accountType" ng-selected="account.accountType == type"> {{type}} </md-option> </md-select>

		<div ng-messages="accountForm.accountType.$error"
			ng-if="accountForm.accountType.$submitted || accountForm.accountType.$touched">
			<div ng-message="required">Please Select the Type</div>

		</div>
		</md-input-container>

	</div>

	<div layout layout-xs="column">
		<md-input-container flex> <label>Account
			No </label> <input ng-model="account.accountNo" name="accountNo"
			id="accountNo" ng-required="true" minlength="3">

		<div ng-messages="accountForm.accountNo.$error"
			ng-if="accountForm.accountNo.$submitted || accountForm.accountNo.$touched">
			<div ng-message="required">Please Enter Account No</div>
		</div>
		</md-input-container>


		<md-input-container flex> <label>Description

		</label> <textarea name="description" ng-model="account.description"
			id="description" ng-required="true" maxlength="300"></textarea>

		<div ng-messages="accountForm.description.$error"
			ng-if="accountForm.description.$submitted || accountForm.description.$touched">
			<div ng-message="required">Please Enter Description</div>


		</div>

		</md-input-container>
	</div>

	<div layout layout-xs="column">

		<md-input-container flex> <label>Display
			Order No </label> <input name="displayOrderNo" type="number"
			id="displayOrderNo" ng-model="account.displayOrderNo"
			ng-required="true" maxlength="4" min="1"></input>

		<div ng-messages="accountForm.displayOrderNo.$error"
			ng-if="accountForm.displayOrderNo.$submitted || accountForm.displayOrderNo.$touched">
			<div ng-message="required">Please Enter Integer Only!</div>
			<div ng-message="maxlength">Please Enter value less than 4
				digit!</div>
			<div ng-message="min">Please Enter Positive No!</div>
		</div>
		</md-input-container>
		<md-input-container flex> <md-select
			ng-model="account.accountgroup.groupName" placeholder="AccountGroup"
			id="accountlist" name="accountlist" ng-required="true">
		<lable>Account Group</lable> <md-option
			ng-value="accountlist.groupName"
			ng-repeat="accountlist in accountgroupList">{{accountlist.groupName}}

		</md-option> </md-select>

		<div ng-messages="accountForm.accountlist.$error"
			ng-if="accountForm.accountlist.$submitted || accountForm.accountlist.$touched">
			<div ng-message="required">Please Select the Type</div>

		</div>

		</md-input-container>
	</div>
	<label>Contra</label>
	<md-checkbox ng-model="account.contra" ng-true-value="true"
		ng-false-value="false"> </md-checkbox>

	<section layout="row" layout-xs="column" layout-align="left left">
		<md-button class="md-raised md-primary" name="addButton"
			id="addButton"
			ng-disabled="accountForm.$invalid || accountForm.$pristine || accountForm.$touched"
			ng-hide="account.id" ng-click="addAccount()">Add</md-button>


		<md-button class="md-raised md-primary" ng-click="cancle(account.id)">Cancle</md-button>

		<md-button class="md-raised md-primary"
			ng-disabled="accountForm.$invalid" ng-show="account.id"
			ng-click="addAccount()">Update</md-button>
</form>
</md-content>
