<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th { /* //border: 1px solid #dddddd; */
	text-align: left;
	padding: 8px;
}
</style>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">Profit And Loss</h4>
	</md-subheader>
	<span flex></span>
	<md-button class="md-icon-button"
		ng-click="printDiv('balanceSheetDiv')"> <ng-md-icon
		icon="print" style="fill: md-default" size="24"> <md-tooltip>Print</md-tooltip></ng-md-icon></md-button>
	<md-button class="md-icon-button" ng-click="load_pdf()"> <ng-md-icon
		icon="file_download"> <md-tooltip>Balance
	sheet Pdf</md-tooltip></ng-md-icon> </md-button>
</section>
<md-content ng-show="loading"> <md-progress-circular
	class="md-accent md-accent" md-diameter="60"></md-progress-circular></md-content>
<md-content layout-padding ng-show="!loading"> <md-content
	layout-padding>
<form>
	<div id="balanceSheetDiv" style="width: 100%;">

		<table
			style="width: 50%; border: 1px solid #dddddd; border-color: black; float: left">

			<tr>
				<th colspan="2">Purchase Accounts</th>
				<td colspan="1"><b>{{totalPurches}}</b></td>
			</tr>


			<tr>
				<td style="text-align: left;" id="content">
					<div ng-repeat="groupTypeObj in accountGroupTypeGroupList">
						<div ng-if="groupTypeObj.typeName=='EXPENSES'">
							<div ng-repeat="grp in groupTypeObj.groupList"
								style="text-align: right;">
								<span style="padding-right: 30%;">{{grp.groupName}}</span> <span
									flex></span> <span ng-if="grp.groupBalance < 0">(</span><span
									style="text-align: right;">{{grp.groupBalance|positive|number:2}}</span><span
									ng-if="grp.groupBalance < 0">)</span> <br> <br>
							</div>
						</div>
					</div>

				</td>
			</tr>
			<tr >
				<th colspan="2" >Gross Profit c/o</th>
				<td colspan="1"><b>{{totalGrossProfit}}</b></td>
			</tr>
			<tr>
				<th colspan="2">&nbsp;&nbsp;</th>

				<td style="border-bottom: double; border-top: double;">{{totalLeft}}</td>
			</tr>
			<tr>
				<th colspan="2">Indirect Expence</th>
				<td colspan="1"><b>{{totalIndirectExpences}}</b></td>
			</tr>
			<tr>
			<td style="text-align: left;" id="content">
					<div ng-repeat="groupTypeObj in accountGroupTypeGroupList">
						<div ng-if="groupTypeObj.typeName=='OTHEREXPENCES'">
							<div ng-repeat="grp in groupTypeObj.groupList"
								style="text-align: right;">
								<span style="padding-right: 30%;">{{grp.groupName}}</span> <span
									flex></span> <span ng-if="grp.groupBalance < 0">(</span><span
									style="text-align: right;">{{grp.groupBalance|positive|number:2}}</span><span
									ng-if="grp.groupBalance < 0">)</span> <br> <br>
							</div>
						</div>
					</div>

				</td>
			</tr>
			<tr>
				<th colspan="2"><i>Nett Profit</i></th>
				<td colspan="1"><b>{{nettProfit}}</b></td>

			</tr>
			<tr style="border-bottom: double; border-top: double;">
				<td style="padding-right: 30%; text-align: right;"><b>Total
				</b></td>
				<td style="text-align: right;"><b>{{totalGrossProfit}} </b></td>
			</tr>
		</table>
		<table
			style="width: 50%; border: 1px solid #dddddd; border-color: black; float: left">
			<tr>
				<th colspan="2">Sales Accounts</th>
				<td colspan="1"><b>{{totalSales}}</b></td>
			</tr>
			<tr>

				<td style="text-align: left;" id="content">
					<div ng-repeat="groupTypeObj in accountGroupTypeGroupList">
						<div ng-if="groupTypeObj.typeName=='INCOME'">
							<div ng-repeat="grp in groupTypeObj.groupList"
								style="text-align: right;">
								<span style="padding-right: 30%;">{{grp.groupName}}</span> <span
									flex></span> <span ng-if="grp.groupBalance < 0">(</span><span
									style="text-align: right;">{{grp.groupBalance|positive|number:2}}</span><span
									ng-if="grp.groupBalance < 0">)</span> <br> <br>
							</div>
						</div>
					</div>

				</td>
			</tr>
			<tr>
				<th colspan="2">&nbsp;&nbsp;</th>
				<td colspan="1">&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<th colspan="2">&nbsp;&nbsp;</th>

				<td style="border-bottom: double; border-top: double;">{{totalLeft}}</td>
			</tr>

			<tr>
				<th colspan="2">Gross Profit c/o</th>
				<td colspan="1"><b>{{totalGrossProfit}}</b></td>
			</tr>
			<tr>
				<td colspan="2"></td>
				<td style="text-align: left;" id="content">
					<div ng-repeat="groupTypeObj in accountGroupTypeGroupList">
						<div ng-if="groupTypeObj.typeName=='INCOME'">
							<div ng-repeat="grp in groupTypeObj.groupList"
								style="text-align: right;">
								<span style="padding-right: 30%;"></span> <span flex></span> <span
									ng-if="grp.groupBalance < 0">(</span><span
									style="text-align: right;"></span><span
									ng-if="grp.groupBalance < 0">)</span> <br> <br>
							</div>
						</div>
					</div>

				</td>
			</tr>
			<tr rowspan="2">
				<th colspan="2"><i>&nbsp;&nbsp;	</i></th>
				<td colspan="1"><b>&nbsp;&nbsp;</b></td>

			</tr>
			<tr style="border-bottom: double; border-top: double;">
				<td style="padding-right: 30%; text-align: right;"><b>Total
				</b></td>

				<td style="text-align: right;"><b>{{totalGrossProfit}}</b></td>
			</tr>
		</table>
	</div>

</form>
</md-content>