<style>
table {
	border: 1px solid black;
	border-collapse: collapse; border : 1px solid black;
	width: 90%;
	border: 1px solid black;
}

td {
	border: 1px solid black;
}
table tr td a {
 
    margin-right: 100px;
} 
</style>
<md-content layout-padding>
<md-toolbar class="md-table-toolbar md-default" style="max-height:30px">
	<div class="md-toolbar-tools">
		<span>Purches Voucher List</span>
		<div flex></div>
		<section layout="row" layout-align="end end" flex>
		</section>
	</div>
	</md-toolbar>
<div flex>
<div ng-if="loading">
			<div layout="row" layout-sm="column" layout-align="space-around">
				<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
			</div>
		</div>
<div ng-if="!loading">
	<table>
	<thead>
		<tr  style="border: 1px solid black; background-color: #ADD8E6">
			<th style=" padding-left:30px;">Debit Account </th>
			<th style=" padding-left:30px;">Credit Account</th>
			<th style=" padding-left:30px;">Name of itemst</th>
			<th style=" padding-left:30px;">Amount</th>
			<th style=" padding-left:30px;">Is Cash?</th>
			<th style=" padding-left:30px;">Account Details</th>
			<th style=" padding-left:30px;">Narration</th>
		</tr>
	</thead>
		<tbody>
			<tr	ng-repeat="item in purcheslist">

				<td style=" padding-left:30px;">{{item.accountType1.accountName}}</td>
				<td style=" padding-left:30px;">{{item.accountType2.accountName}}</td>
				<td style=" padding-left:30px;">{{item.item}}</td>
				<td><div style=" padding-left:30px; float:left;">{{item.amount|number:2}}</div> 
  				</td>
			   <td style=" padding-left:30px;">{{item.isCash}}</td>
			   <td style=" padding-left:30px;">{{item.accdetail}}</td>
			   <td><div style=" padding-left:30px; float:left;"> {{item.narration}}</div> 
				<div style="padding-right:0px;text-align:right;float:right;"><a ui-sref="accounting.voucherPurches({Account:item})" >View </a></div>
				</td>		
			</tr>
		</tbody>
	</table>
</div>
</md-content>
