<md-content layout-padding>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">Contact Add</h4>
	</md-subheader>
	<span flex></span>
</section>

<form name="contactform">
	<div id="addField">
		<div layout="column">
			<br>
			<div layout-gt-sm="row">
				<md-autocomplete flex required md-input-name="autocompleteField"
					md-input-minlength="2" md-input-maxlength="30" md-no-cache=true
					md-selected-item="contact.customer" md-search-text="searchText"
					md-items="item in querySearch(searchText)"
					md-item-text="item.companyName"
					md-floating-label="Select Reference Company Customer">
				<md-item-template> <span
					md-highlight-text="searchText">{{item.companyName}}</span> </md-item-template>
				<div ng-messages="contactform.autocompleteField.$error"
					ng-if="contactform.autocompleteField.$touched">
					<div ng-message="required">
						You <b>must</b> have a favorite state.
					</div>
					<div ng-message="minlength">Your entry is not long enough.</div>
					<div ng-message="maxlength">Your entry is too long.</div>
				</div>
				</md-autocomplete>
			</div>
		</div>
		<div layout="row" layout-sm="column">
			<md-input-container flex> <label>First
				Name </label> <input name="fname" ng-model="contact.fName"
				ng-required="true">
			<div ng-messages="contactform.fname.$error"
				ng-if="contactform.fname.$submitted || contactform.fname.$touched">
				<div ng-message="required">Please Enter first Name.</div>
			</div>

			</md-input-container>

			<md-input-container flex> <label>Last
				Name </label> <input name="lname" ng-model="contact.lName"
				ng-required="true">
			<div ng-messages="contactform.lname.$error"
				ng-if="contactform.lname.$submitted || contactform.lname.$touched">
				<div ng-message="required">Please Enter Last Name.</div>
			</div>

			</md-input-container>
		</div>
		
		<div layout="row" layout-xs="column">
			<md-input-container class="md-block" flex-gt-sm>
			<label>Mobile Number</label> <input name="mobile"
				ng-model="contact.phone" placeholder="9999933322" required
				ng-pattern="/^[0-9]{10}$/" md-maxlength="10">

			<div ng-messages="contactform.mobile.$error" role="alert" multiple>
				<div ng-message="required" class="my-message">You must supply
					mobile number.</div>
				<div ng-message="pattern" class="my-message">That doesn't look
					like a valid mobile number.</div>
				<div ng-message="md-maxlength" class="my-message">Don't use
					the long version man...</div>
			</div>
			</md-input-container>
			<md-input-container flex> <label>Email
				Address</label> <input type="email" name="email" ng-model="contact.email"
				type="email"> </md-input-container>
		</div>


		<h4>
			<b>Reference</b>
		</h4>
		<div layout layout-sm="column">
			<md-input-container flex> <label>user Id

			</label> <input id="uid" name="uid" ng-model="contact.uid"> </md-input-container>
			<md-input-container flex> <label>Supplier

			</label> <input id="supp" name="supp" ng-model="contact.supp"> </md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Customer

			</label> <input id="cust" name="cust" ng-model="contact.cust"> </md-input-container>
			<md-input-container flex> <label>Sales
				Partner</label> <input id="salespartner" name="salespartner"
				ng-model="contact.salespartner"> </md-input-container>
		</div>

		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button ng-disabled="contactform.$invalid"
				class="md-raised md-primary" ng-click="addcontact()">Add</md-button>

		</section>
	</div>
</form>
</md-content>