<md-content layout-padding>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">Edit Opportunity</h4>
	</md-subheader>
	<span flex></span>
</section>
<form name="contactform">

	<div id="addField">
		<div layout layout-sm="column">
			<md-input-container flex> <label>Opportunity
				Id</label> <input ng-model="opportunity.oid" disabled> </md-input-container>
			<md-input-container flex> <md-datepicker flex
				name="DueDate" date-format="MM/dd/yyyy" ng-model="opportunity.date"
				md-placeholder="Enter date" ng-disabled="true"></md-datepicker> </md-input-container>
		</div>

		<div layout layout-sm="column">

			<md-input-container flex> <label>from</label> <input
				ng-model="opportunity.from" disabled> </md-input-container>
			<md-input-container flex> <label>Name</label> <input
				ng-model="opportunity.opName" disabled> </md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Description
			</label> <textarea ng-model="opportunity.description" rows="2" cols="1"> </textarea></md-input-container>
		</div>
		<div layout layout-sm="column">
			<section layout="row" layout-sm="column" layout-align="left left">
				<md-button class="md-raised md-primary"
					ng-click="updateopportunity()">Update</md-button>

			</section>
		</div>



		<div layout="row" layout-xs="column" layout-align="end end">
			<a href='' ng-click='ShowHide()'>Follow up <lable
					ng-show="IsHidden">+</lable> <lable ng-hide="IsHidden">-</lable></a>
		</div>
		<div ng-hide="IsHidden">
			<md-data-table-container>
			<table md-table md-progress="promise">
		<thead ng-if="!dataTableOptions.decapitate" md-head
			md-order="query.order" md-on-reorder="logOrder">
								<tr md-row>
						<th md-column md-order-by="discussion Date">Date</th>
						<th  md-column md-order-by="description Type">Type</th>
						<th  md-column md-order-by="previous discussion">Previous Discussion</th>
						<th  md-column >Edit</th>

					</tr>
				</thead>
				<tbody>
					<tr md-row 
						ng-repeat="t in opportunity.tasks | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">
						<td md-cell  width="20%" align="left">{{t.date | formatDate}}</td>
						<td md-cell  width="20%" align="left">{{t.type}}</td>
						<td md-cell  width="40%" align="left">{{t.description}}</td>
						<td md-cell  width="20%" align="left"><md-button
								ng-click="editTask(t)" class="md-icon-button"> <ng-md-icon
								icon="edit" style="fill: md-default" size="20"> <md-tooltip>Edit</md-tooltip>
							</ng-md-icon> </md-button></td>
					</tr>
				</tbody>

			</table>
			<md-table-pagination md-limit="query.limit"
		md-limit-options="dataTableOptions.limitOptions" md-page="query.page"
		md-total={{opportunity.length}}
		md-page-select="dataTableOptions.pageSelect"
		md-boundary-links="dataTableOptions.boundaryLinks"
		md-on-paginate="logPagination"></md-table-pagination>
			</md-data-table-container>
		</div>
		<br> <br>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Task
				Id:-</label> <input ng-model="taskobj.tid" disabled> </md-input-container>
			<md-input-container flex> <md-select
				placeholder="Task Type" ng-model="taskobj.type"
				ng-disabled="taskobj.status=='inactive'"> <md-option
				ng-repeat="type in taskType" ng-value="type"> {{type}} </md-option>
			</md-select></md-input-container>
			<md-input-container flex> <md-datepicker flex
				name="DueDate" date-format="MM/dd/yyyy" ng-model="taskobj.date"
				md-placeholder="Enter Date" ng-disabled="true"></md-datepicker> </md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Description
			</label> <textarea ng-model="taskobj.description" rows="2" cols="1"
				ng-disabled="taskobj.status=='inactive'"> </textarea></md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Note </label> <textarea
				ng-model="taskobj.note" rows="4" cols="1"
				ng-disabled="taskobj.status=='inactive'"> </textarea></md-input-container>
		</div>
		<div>
			<md-checkbox ng-model="taskobj.status" ng-true-value="'inactive'"
				ng-false-value="'active'" ng-hide="taskobj.status=='inactive'">
			Close </md-checkbox>

		</div>
	</div>
	<div layout layout-sm="column">
		<md-input-container flex>
		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary"
				ng-click="addupdatetask(opportunity.id)">Add/Update Task</md-button>

		</section>
		</md-input-container>
	</div>
	</div>

</form>
</md-content>