
<md-content layout-padding>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">Opportunity Add</h4>
	</md-subheader>
	<span flex></span>
</section>
[<span style="color: red;">Field Marked as asterisk (*) are
	mandatory.</span>]
<form name="oppform">

	<div id="addField">
		<br>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Opportunity
				Id</label> <input ng-model="opportunity.oid" disabled> </md-input-container>
			<div layout layout-xs="column">
				<md-datepicker flex name="DueDate" date-format="MM/dd/yyyy"
					md-placeholder="Enter Date" ng-model="opportunity.date"
					ng-disabled="true"></md-datepicker>
			</div>
		</div>

		<div layout layout-sm="column">
			<md-input-container flex> <md-select
				name="leadcust" placeholder="Select Lead/Customer" id="selectedfrom"
				ng-model="f" ng-change="getleadcust(f)" ng-required="true">
			<md-option ng-repeat="f in from" ng-value="f"> {{f}} </md-option> </md-select>
			<div ng-messages="oppform.leadcust.$error"
				ng-if="oppform.leadcust.$submitted || oppform.leadcust.$touched">
				<div ng-message="required">Please select lead/customer Name.</div>
			</div>
			</md-input-container>
			<md-input-container flex> <md-select name="ldcu"
				placeholder="Lead/Customer" id="selectedfrom"
				ng-model="opportunity.opName" ng-required="true"> <md-option
				ng-repeat="customer in leadorcustlist"
				ng-value="customer.name?customer.name:customer.firstName+' '+customer.lastName">
			{{customer.firstName+" "+customer.lastName}}{{customer.name}} </md-option> </md-select>

			<div ng-messages="oppform.ldcu.$error"
				ng-if="oppform.ldcu.$submitted || oppform.ldcu.$touched">
				<div ng-message="required">Please Select lead/customer Name.</div>
			</div>
			</md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Description
			</label> <textarea name="description" ng-model="opportunity.description"
				rows="2" cols="50" ng-required="true"> </textarea>
			<div ng-messages="oppform.description.$error"
				ng-if="oppform.description.$submitted || oppform.description.$touched">
				<div ng-message="required">Please Enter the Description.</div>
			</div>

			</md-input-container>
		</div>

		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button ng-disabled="oppform.$invalid || oppform.$submitted"
				class="md-raised md-primary" ng-click="addopportunity()">Add</md-button>

		</section>
	</div>
	</div>
</form>
</md-content>