
<md-content layout-padding>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">Contact Add</h4>
	</md-subheader>
	<span flex></span>
</section>
[<span style="color: red;">Field Marked as asterisk (*) are
	mandatory.</span>]

<form name="contactform">
	<div id="addField">
		<div layout="column">
			<br>
			<div layout-gt-sm="row">
				<md-autocomplete flex required md-input-name="autocompleteField"
					md-input-minlength="2" md-input-maxlength="30" md-no-cache=true
					md-selected-item="contact.customer" md-search-text="searchText"
					md-items="item in querySearch(searchText)"
					md-item-text="item.companyName"
					md-floating-label="Select Reference Company Customer">
				<md-item-template> <span
					md-highlight-text="searchText">{{item.companyName}}</span> </md-item-template>
				<div ng-messages="contactform.autocompleteField.$error"
					ng-if="contactform.autocompleteField.$touched">
					<div ng-message="required">
						You <b>must</b> have a favorite state.
					</div>
					<div ng-message="minlength">Your entry is not long enough.</div>
					<div ng-message="maxlength">Your entry is too long.</div>
				</div>
				</md-autocomplete>
			</div>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>First
				Name </label> <input name="fname" ng-model="contact.fName"
				ng-required="true">
			<div ng-messages="contactform.fname.$error"
				ng-if="contactform.fname.$submitted || contactform.fname.$touched">
				<div ng-message="required">Please Enter first Name.</div>
			</div>

			</md-input-container>

			<md-input-container flex> <label>Last
				Name </label> <input name="lname" ng-model="contact.lName"
				ng-required="true">
			<div ng-messages="contactform.lname.$error"
				ng-if="contactform.lname.$submitted || contactform.lname.$touched">
				<div ng-message="required">Please Enter Last Name.</div>
			</div>

			</md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Status

			</label> <input name="status" ng-model="contact.status" ng-required="true">
			<div ng-messages="contactform.status.$error"
				ng-if="contactform.status.$submitted || contactform.status.$touched">
				<div ng-message="required">Please Enter Status.</div>
			</div>
			</md-input-container>
			<md-input-container flex> <label>Phone</label> <input
				type="number" name="phone" ng-minlength="10" ng-maxlength="11"
				ng-model="contact.phone" ng-required="true">
			<div ng-messages="contactform.phone.$error"
				ng-if="contactform.phone.$submitted || contactform.phone.$touched">
				<div ng-message="required">Please Enter phone Number.</div>
			</div>
			<span class="help-block" style="color: red;"
				ng-show="((contactform.phone.$error.minlength || contactform.phone.$error.maxlength) && contactform.phone.$dirty) ">Mobile
				Number should be 10 digits(Example.:0123456789)</span> </md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Email</label> <input
				type="email" ng-pattern="/^.+@.+\..+$/" name="email"
				ng-model="contact.email" ng-required="true"
				ng-blur="Checkemail(contact.email)"> <span
				style="color: red"> {{userexists}}</span>

			<div ng-messages="contactform.email.$error"
				ng-if="contactform.email.$submitted || contactform.email.$touched">
				<div ng-message="required">Please Enter Email id.</div>
			</div>
			<span class="help-block" style="color: red"
				ng-show="((contactform.email.$error.pattern) && contactform.email.$dirty) ">
				Enter Valid Email Format </span> </md-input-container>
		</div>
		<h4>
			<b>Reference</b>
		</h4>
		<div layout layout-sm="column">
			<md-input-container flex> <label>user Id

			</label> <input id="uid" name="uid" ng-model="contact.uid"> </md-input-container>
			<md-input-container flex> <label>Supplier

			</label> <input id="supp" name="supp" ng-model="contact.supp"> </md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Customer

			</label> <input id="cust" name="cust" ng-model="contact.cust"> </md-input-container>
			<md-input-container flex> <label>Sales
				Partner</label> <input id="salespartner" name="salespartner"
				ng-model="contact.salespartner"> </md-input-container>
		</div>

		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button ng-disabled="contactform.$invalid"
				class="md-raised md-primary" ng-click="addcontact()">Add</md-button>

		</section>
	</div>
</form>
</md-content>