
<md-content layout-padding>
<h3>
	<u>Customer View</u>
</h3>
<div>
	<section layout="row" layout-align="end end" flex>
		<md-button class="md-raised md-primary" ng-click="back()">BACK
		TO LIST</md-button>
	</section>
</div>


<div id="addField">
	
	<div>{{custInvoiceData.customer.id}}</div>
	<div>{{custInvoiceData.customer.customerName}}</div>
	<div>{{custInvoiceData.customer.mobile}}</div>
	<div>{{custInvoiceData.customer.email}}</div>
	<div>{{custInvoiceData.customer.customerAddress}}</div>


	<div>
		<md-data-table-container>
		<table md-table md-progress="promise">
		<thead ng-if="!dataTableOptions.decapitate" md-head
			md-order="query.order" md-on-reorder="logOrder">
					<tr md-row>
					<th md-column>Sr.No</th>
					<th md-column  md-order-by="customerName">Invoice Id</th>
					<th md-column  md-order-by="mobile">Invoice Date</th>
					<th md-column  md-order-by="email">Amount</th>
					<th md-column >Action</th>
				</tr>
			</thead>

			<tbody>
				<tr md-row
					ng-repeat="invoice in custInvoiceData | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">

					<td md-cell>{{$index+1}}</td>
					<td md-cell>{{invoice.id}}</td>
					<td md-cell>{{invoice.invoiceDate}}</td>
					<td md-cell>{{invoice.finalTotal}}</td>


					<td md-cell><section layout="row" layout-sm="column">
							<md-button class="md-raised md-primary"
								ui-sref="invoice.view({selectedInvoiceNo: invoice.id})">View
							Invoice</md-button>
						</section></td>
					<td md-cell>
				</tr>
			</tbody>
		</table>
		<md-table-pagination md-limit="query.limit"
		md-limit-options="dataTableOptions.limitOptions" md-page="query.page"
		md-total={{custInvoiceData.length}}
		md-page-select="dataTableOptions.pageSelect"
		md-boundary-links="dataTableOptions.boundaryLinks"
		md-on-paginate="logPagination"></md-table-pagination> </md-data-table-container>
	</div>

</div>

</md-input-container> </md-content>