<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<md-content ng-if="!loading" layout-padding layout="column" ng-cloak>
<div>
	<section layout="row" layout-xs="column">
		<md-subheader class="md-primary">
		<h4 class="md-title">Customer List</h4>
		</md-subheader>
		<span flex></span>
		<div layout="row" flex="33" flex-sm="50" flex-xs="100">
			<md-input-container flex> <label>Search
				Users</label> <input ng-model="searchText"> </md-input-container>
			<md-button class="md-icon-button" ui-sref="crm.addcustomer">
			<ng-md-icon icon="add_circle" style="fill: md-default" size="24">
			<md-tooltip> Add New </md-tooltip></ng-md-icon> </md-button>
		</div>
	</section>
</div>
<div>
	<md-data-table-container>
	<table md-data-table md-progress="deferred">
		<thead md-order="query.order" md-trigger="onOrderChange">
			<tr>
				<th name="Customer Name" order-by="firstName"></th>
				<th name="Type"></th>
				<th name="Mobile" order-by="mobile"></th>
				<th name="Email"></th>
				<th name="Action"></th>
			</tr>
		</thead>

		<tbody>
			<tr
				ng-repeat="customer in customers | orderBy: query.order | filter: searchText | limitTo: query.limit: (query.page - 1) * query.limit">
				<td>{{customer.isCompany? customer.companyName:
					(customer.firstName + " " + customer.lastName)}}</td>
				<td>{{customer.isCompany?"Firm":"Person"}}</td>
				<td>{{customer.mobile}}</td>
				<td>{{customer.email}}</td>
				<td><md-button class="md-icon-button"
						ui-sref="crm.addcustomer({selectedCustomerId: customer.id})">
					<ng-md-icon icon="edit" style="fill: md-default" size="20">
					<md-tooltip> Edit</md-tooltip></ng-md-icon></md-button></td>
			</tr>
		</tbody>
	</table>
	<md-data-table-pagination md-limit="query.limit" md-page="query.page"
		md-total={{customers.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</md-data-table-container>
</div>
</md-content>