<md-content layout-padding layout-xs="column">
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title"
		ng-bind="customerId?'Edit Customer':'Add Customer'"></h4>
	</md-subheader>
	<span flex></span>
	<div>
		<md-button class="md-raised md-primary" id="uplodeExcel"
			ng-click="UplodeExcel($event)">UplodeExcel</md-button>
	</div>
</section>
<form name="custForm">
	<md-input-container flex> Is Company <md-checkbox
		ng-model="customer.isCompany" ng-true-value="true"
		ng-false-value="false"> </md-checkbox> </md-input-container>
	<div layout="row" layout-xs="column">
		<md-input-container flex ng-show="customer.isCompany">
		<label>Enter Company Name </label> <input name="companyName"
			ng-model="customer.companyName" ng-required="customer.isCompany">
		<div ng-messages="custForm.companyName.$error"
			ng-if="custForm.companyName.$submitted || custForm.companyName.$touched">
			<div ng-message="required">Please Enter Company Name
				Name(Example.:Protostar Consalting service)</div>

			<!-- <span class="help-block"
				ng-show="((custForm.firstName.$error.pattern) &&  custForm.firstName.$dirty) ">First
				Name should be text only.(Example.:abc)</span> -->
		</div>

		</md-input-container>
	</div>
	<lable ng-show="customer.isCompany">
	<h3 class="md-subhead">Enter Primary Contact Details</h3>
	</lable>
	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>First
			Name </label> <input name="firstName" ng-model="customer.firstName"
			ng-required="true">
		<div ng-messages="custForm.firstName.$error"
			ng-if="custForm.firstName.$submitted || custForm.firstName.$touched">
			<div ng-message="required">Please Enter First
				Name(Example.:John)</div>

			<!-- <span class="help-block"
				ng-show="((custForm.firstName.$error.pattern) &&  custForm.firstName.$dirty) ">First
				Name should be text only.(Example.:abc)</span> -->
		</div>

		</md-input-container>

		<md-input-container flex> <label>Last
			Name </label> <input name="lastName" ng-model="customer.lastName"
			ng-required="true">
		<div ng-messages="custForm.lastName.$error"
			ng-if="custForm.lastName.$submitted || custForm.lastName.$touched">
			<div ng-message="required">Please Enter Last
				Name(Example.:Dove)</div>
		</div>
		</md-input-container>


	</div>

	<div layout="row" layout-xs="column">
		<md-input-container class="md-block" flex-gt-sm>
		<label>Mobile Number</label> <input name="mobile"
			ng-model="customer.mobile" placeholder="9999933322" required
			ng-pattern="/^[0-9]{10}$/" md-maxlength="10">

		<div ng-messages="custForm.mobile.$error" role="alert" multiple>
			<div ng-message="required" class="my-message">You must supply
				mobile number.</div>
			<div ng-message="pattern" class="my-message">That doesn't look
				like a valid mobile number.</div>
			<div ng-message="md-maxlength" class="my-message">Don't use the
				long version man...</div>
		</div>
		</md-input-container>
		<md-input-container flex> <label>Email
			Address</label> <input type="email" name="email" ng-model="customer.email"
			type="email"> </md-input-container>
	</div>

	<h3 class="md-subhead">Address</h3>

	<div layout="row">
		<md-input-container flex> <label>Line1 </label> <input
			name="line1" id="line1" ng-model="Address.line1"> </md-input-container>

		<md-input-container flex> <label>Line2</label> <input
			name="line2" ng-model="Address.line2"> </md-input-container>
	</div>
	<div layout="row">
		<md-input-container flex> <label>State </label> <input
			name="state" id="state" ng-model="Address.state"> </md-input-container>
		<md-input-container flex> <label>Country</label>
		<input name="country" ng-model="Address.country"> </md-input-container>
	</div>

	<div layout="row">
		<md-input-container flex> <label>City </label> <input
			name="city" id="city" ng-model="Address.city"> </md-input-container>

		<md-input-container flex> <label>Pin</label> <input
			name="pin" ng-model="Address.pin"> </md-input-container>
	</div>

	<section layout="row" layout-sm="column" layout-align="left left">
		<md-button ng-disabled="custForm.$invalid"
			class="md-raised md-primary" ng-hide="customer.id"
			ng-click="addCustomer()">Add</md-button>
	</section>

	<section layout="row" layout-sm="column" layout-align="left left">
		<md-button ng-disabled="custForm.$invalid"
			class="md-raised md-primary" ng-hide="customer.id == null"
			ng-click="addCustomer()">Update</md-button>
	</section>
</form>

</md-content>