

<md-content layout-padding>

<div>
	<md-data-table-container>
	
	<table md-table md-progress="promise">
		<thead ng-if="!dataTableOptions.decapitate" md-head
			md-order="query.order" md-on-reorder="logOrder">
				<tr md-row>
		
		    	<th  md-column  md-order-by="fName">name=</th>
				<th md-column  md-order-by="lName">lName</th>
				<th md-column  md-order-by ="status">status</th>
				<th md-column  md-order-by ="Phone">phone</th>
				<th md-column  md-order-by ="Email">Email</th>
			    <th md-column  md-order-by ="view">View</th>
			</tr>
		</thead>

		<tbody>
			<tr md-row 
				ng-repeat="contact in contactL | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
		
				<td md-cell>{{contact.fName}}</td>
				<td md-cell>{{contact.lName}}</td>
				<td md-cell>{{contact.status}}</td>
				<td md-cell>{{contact.phone}}</td>
				<td md-cell>{{contact.email}}</td> 
				<td md-cell>
					<section layout="row" layout-sm="column">
						<md-button class="md-raised md-primary"
							ui-sref="crm.viewContact({selectedContactNo: contact.id})">Edit</md-button>
					</section>
	     		</td>
			</tr>
		</tbody>
	</table>
 
 <md-table-pagination md-limit="query.limit"
		md-limit-options="dataTableOptions.limitOptions" md-page="query.page"
		md-total={{contactL.length}}
		md-page-select="dataTableOptions.pageSelect"
		md-boundary-links="dataTableOptions.boundaryLinks"
		md-on-paginate="logPagination"></md-table-pagination> </md-data-table-container>
</div>

</md-content>