<!DOCTYPE html>
<html>

<md-content layout-padding>
<h3>
	<u>Generate Quotation</u>
</h3>
<div>
	<form ng-submit="$event.preventDefault()" name="quotationAdd">
		[<span style="color: red;">Fields Marked as asterik (*) are
			mandatory.</span>]
		<div flex layout="row" layout-xs="column">
			<!-- 			<md-input-container flex> <md-select
				ng-model="invoiceObj.customer" placeholder="Customer Name"
				ng-change="CustomerddlChange($index, selectedcustomerName)">
			<md-option ng-value="cust" ng-repeat="cust in customersforinvoice">{{cust.customerName
			}}</md-option> </md-select> </md-input-container>
 -->


			
			<div layout="row" flex>
				<md-autocomplete flex required ng-model="quotationObj.customer"
					md-input-name="autocompleteField" md-input-minlength="2"
					md-input-maxlength="18" md-no-cache=true
					md-selected-item="quotationObjEdit.customer"
					md-search-text="searchTextInput"
					md-items="item in querySearch(searchTextInput)"
					md-item-text="item.firstName" md-floating-label="Customer Name">
				<md-item-template> <span
					md-highlight-text="searchTextInput">{{item.firstName}}</span> </md-item-template>
				<div ng-messages="quotationAdd.autocompleteField.$error"
					ng-if="quotationAdd.autocompleteField.$touched">
					<div ng-message="required">
						You <b>must</b>  enter Customer Name.
					</div>
					<div ng-message="minlength">Your entry is not long enough.</div>
					<div ng-message="maxlength">Your entry is too long.</div>
				</div>
				</md-autocomplete>


				<md-icon md-svg-src="img/icons/ic_queue_black_24px.svg"
					ng-click="addCustomer()" class="name"
					style="color: Green; height: 40px; width: 40px"></md-icon>
			</div>
			Due Date:
			<md-datepicker flex ng-model="quotationObjEdit.quotationDueDate"
				md-placeholder="Select Date"></md-datepicker>
		</div>
		<div layout="row" layout-xs="column">

			<md-input-container flex> <md-select
				ng-model="quotationObjEdit.account" name="account"
				placeholder="Account Name"
				ng-change="AccountNameddlChange($index, selectedAccount)"
				ng-required="true"> <md-option ng-value="Account"
				ng-repeat="Account in accountforquotation" ng-selected="$first">{{Account.accountName}}</md-option>
			</md-select>

			<div ng-messages="quotationAdd.account.$error"
				ng-if="quotationAdd.account.$submitted || quotationAdd.account.$touched">
				<div ng-message="required">Please Select Account
					(Example.:ABC)</div>
			</div>
			</md-input-container>

			<md-input-container flex> <md-select
				ng-model="quotationObjEdit.salesOrderId" placeholder="Sales Order No"
				ng-change="SOddlChange($index, selectedSOId)" name="soId">
			<md-option ng-value="SO" ng-repeat="SO in SOforquotation"
				ng-selected="quotationObjEdit.salesOrderId">{{SO.id }}</md-option> </md-select> </md-input-container>
		</div>

		<div layout="row" layout-xs="column">

			<md-input-container flex="50"> <label>PO/WO
			</label> <input name="pOrder" ng-model="quotationObjEdit.pOrder"> </md-input-container>

			<md-input-container flex> <md-select
				ng-model="selectedDiscount" placeholder="Discount"
				ng-change="lineItemDiscountChange($index, selectedDiscount)">
			<md-option ng-value="discount" ng-repeat="discount in discountType"
				ng-selected="discount">{{discount }}</md-option> </md-select> </md-input-container>

			<md-input-container flex="25"> </label> <input
				ng-model="quotationObjEdit.discAmount" ng-change="calfinalTotal()"
				name="discAmount"> </md-input-container>
		</div>

		<div layout="row" layout-xs="column">

			<md-input-container flex> <label>Note to
				Customer</label> <textarea ng-model="quotationObjEdit.noteToCustomer" rows="3"
				cols="1"></textarea> </md-input-container>


		</div>

		<div layout="row" layout-align="center start"
			style="margin-top: 20px; margin-bottom: 20px;">
			<md-divider flex></md-divider>
		</div>

		<h2>Quotation</h2>
		<span style="color: red">{{errorMsg}}</span> <span style="color: red">{{qtyErrorMsg}}</span>
		<span style="color: red">{{qtyErrorMsg1}}</span>

		==================================================================================


		<h3>Services Provided</h3>
		<table md-data-table md-progress="deferred">
			<thead md-order="query.order" md-trigger="onOrderChange">
				<tr>
					<th name="Sr_No" order-by="srNo"></th>
					<th name="Service Name" order-by="serviceName"></th>
					<th name="Quantity" order-by="qty"></th>
					<th name="Price" order-by="price"></th>
					<th name="Total" order-by="total"></th>
					<th name="Actions"></th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="service in quotationObjEdit.serviceLineItemList">

					<td>{{ $index + 1 }}</td>
					<td><md-input-container flex> <label>Service
							Name </label> <input ng-model="service.serviceName"> </md-input-container></td>

					<td><md-input-container flex> <label>Quantity
						</label> <input ng-model="service.sQty" type="number"
							ng-change="calServiceSubTotal()"> </md-input-container></td>
					<td><md-input-container flex> <input
							ng-model="service.sPrice" ng-change="calServiceSubTotal()"></md-input-container></td>
					<td style="text-align: right"><b>{{service.sQty *
							service.sPrice | currency:"":"2"}} </b></td>
					<td><md-icon
							md-svg-src="img/icons/ic_delete_forever_black_24px.svg"
							ng-click="removeService($index)" class="name"
							style="color: Green; height: 40px; width: 40px"></md-icon></td>
					<td></td>
				</tr>

				<tr>
					<td><section layout="row" layout-sm="column"
							layout-align="left left">
							<md-button class="md-raised md-primary" ng-click="addService()">Add
							Service</md-button>
						</section></td>
					<td></td>
					<td></td>
					<td><label><u>Service Sub Total</u> </label></td>
					<td style="text-align: right"><b>{{quotationObjEdit.serviceSubTotal
							| currency:"":"2"}}</b></td>
					<td></td>
				</tr>

				<tr>
					<td><label><u>Service Tax</u> </label></td>
					<td></td>
					<td><md-input-container flex
							ng-hide="quotationObjEdit.serviceLineItemList.length==0">
						<md-select
							ng-model="quotationObjEdit.selectedServiceTax.taxCodeName"
							placeholder="select Tax"
							ng-change="serviceTaxChange($index, quotationObjEdit.selectedServiceTax, $event)">
						<md-option ng-value="taxValue.taxCodeName"
							ng-repeat="taxValue in taxforquotation">{{taxValue.taxCodeName}}</md-option>
						</md-select> </md-input-container></td>
					<td>
					<td>{{quotationObjEdit.selectedServiceTax.taxPercenatge}}</td>
					<td style="text-align: right"><b>{{quotationObjEdit.serviceTaxTotal
							| currency:"":"2"}}</b></td>
					<td></td>
				</tr>

				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td><label><u>Service Total</u> </label></td>
					<td style="text-align: right"><b>{{quotationObjEdit.serviceTotal
							| currency:"":"2"}}</b></td>
					<td></td>
				</tr>

				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>




		=====================================================================================


		<h3>Prouct/Item Sold</h3>
		<table md-data-table md-progress="deferred">
			<thead md-order="query.order" md-trigger="onOrderChange">
				<tr>
					<th name="Sr_No" order-by="srNo"></th>
					<th name="Item Name" order-by="itemName"></th>
					<th name="Quantity" order-by="qty"></th>
					<th name="Price" order-by="price"></th>
					<th name="Total" order-by="total"></th>
					<th name="Actions" order-by="total"></th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="item in quotationObjEdit.invoiceLineItemList">

					<td>{{ $index+1 }}</td>

					<td><md-input-container flex> <md-select
							ng-model="quotationObjEdit.invoiceLineItemList.itemName"
							placeholder="Item Name"
							ng-change="lineItemStockChange($index, selectedStockItem)">
						<md-option ng-value="item.itemName"
							ng-repeat="item in stockforquotation">{{item.itemName
						}}</md-option> </md-select> </md-input-container></td>



<!-- 					<td><md-input-container flex> <label>Course
							State</label> <md-select
							ng-model="invoiceObjEdit.selectedServiceTax.taxCodeName">
						<md-option ng-value="tax.taxCodeName"
							ng-repeat="tax in taxforinvoice">{{tax.taxCodeName}}</md-option>
						</md-select> </md-input-container></td>
 -->
					<td><md-input-container flex> <label>Quantity
						</label> <input ng-model="item.qty" ng-blur="checkStock(item,$event)"
							type="number" ng-change="calProductSubTotal()"> </md-input-container></td>
					<td><md-input-container flex> <input
							ng-model="item.price" ng-change="calProductSubTotal()"></md-input-container></td>
					<td style="text-align: right"><b>{{item.qty * item.price |
							currency:"":"2"}} </b></td>
					<td>
						<!-- 						<section layout="row" layout-sm="column">
							<md-button class="md-raised md-primary"
								ng-click="removeItem($index)">Remove Item</md-button>
						</section>
 --> <md-icon md-svg-src="img/icons/ic_delete_forever_black_24px.svg"
							ng-click="removeItem($index)" class="name"
							style="color: Green; height: 40px; width: 40px"></md-icon>
					</td>

				</tr>
				<tr>
					<td><section layout="row" layout-sm="column"
							layout-align="left left">
							<md-button class="md-raised md-primary" ng-click="addItem()">Add
							Item</md-button>
						</section></td>
					<td></td>
					<td></td>
					<td><label><u>Product Sub Total</u> </label></td>
					<td style="text-align: right"><b>{{quotationObjEdit.productSubTotal
							| currency:"":"2"}}</b></td>
					<td></td>
				</tr>
				<tr>
					<td><label><u>Product Tax</u> </label></td>
					<td></td>
					<td><md-input-container flex
							ng-hide="quotationObjEdit.invoiceLineItemList.length==0">
						<md-select ng-model="selectedTaxItem" placeholder="select Tax"
							ng-change="lineItemTaxChange($index, selectedTaxItem, $event)">
						<md-option ng-value="taxValue"
							ng-repeat="taxValue in taxforquotation">{{taxValue.taxCodeName}}</md-option>
						</md-select> </md-input-container></td>
					<td>{{quotationObjEdit.selectedTaxItem.taxPercenatge}}</td>
					<td style="text-align: right"><b>{{quotationObjEdit.productTaxTotal
							| currency:"":"2"}}</b></td>
					<td></td>
				</tr>

				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td><label><u>Product Total</u> </label></td>
					<td style="text-align: right"><b>{{quotationObjEdit.productTotal
							| currency:"":"2"}}</b></td>
					<td></td>
				</tr>

				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td><label><u>Discount</u> </label></td>
					<td style="text-align: right"><b>
							{{quotationObjEdit.discAmount | currency:"":"2"}}</b></td>
					<td></td>
				</tr>

				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td><label><u>Final Total</u> </label></td>
					<td style="text-align: right"><b>
							{{quotationObjEdit.finalTotal | currency:"":"2"}}</b></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>

			</tbody>
		</table>
	</form>
</div>
<div layout layout-sm="column">
	<section layout="row" layout-sm="column">
		<md-button class="md-raised md-primary" id="addQuotation"
			ng-click="addQuotation()">Update </md-button>
	</section>
</div>
 <iframe
	name="print_frame" width="0" height="0" frameborder="0"
	src="about:blank"></iframe> </md-content>
</html>