<div layout="column" layout-padding>
	<md-content>
	<section>
		<md-subheader class="md-primary">
		<h3 class="md-headline" ng-show="!taskObj">Create Task</h3>
		<h3 class="md-headline" ng-show="taskObj">Edit Task</h3>
		</md-subheader>
		<form name="taskAddForm">
			<div layout="column" layout-sm="column">
				<div layout="row" flex>
					<md-input-container flex> <label>Task
						Title<span style="color: red;">*</span>
					</label> <input name="taskTitle" ng-model="taskEntity.taskTitle"
						ng-required="true">
					<div ng-messages="taskAddForm.taskTitle.$error"
						ng-if="taskAddForm.taskTitle.$submitted || taskAddForm.taskTitle.$touched">
						<div ng-message="required">This is required field.</div>
					</div>
					</md-input-container>
					<md-input-container flex> <label>Assigned
						To<span style="color: red"
						ng-show="taskAddForm.taskTitle.$error.required" class="mandatory">*</span>
					</label> <md-select name="assignedTo" id="assignedTo"
						placeholder="--Select User--" ng-model="taskEntity.assignedTo"
						ng-required="true"> <md-option
						ng-repeat="user in userList" ng-value="user">{{(user.firstName
					+ ' ' + user.lastName) | uppercase}}</md-option> </md-select>
					<div ng-messages="taskAddForm.taskTitle.$error"
						ng-if="taskAddForm.taskTitle.$submitted || taskAddForm.taskTitle.$touched">
						<div ng-message="required">Please Select User.</div>
					</div>
					</md-input-container>
				</div>
				<div flex>
					<label>Task Description</label>
				</div>
				<div flex>
					<md-input-container> <text-angular
						name="taskDesc" id="taskDesc" ng-required="true"
						ng-model="taskEntity.taskDesc"></text-angular> </md-input-container>
				</div>
			</div>

		</form>

	</section>

	<section layout="row" layout-sm="column" layout-align="left left">
		<md-button class="md-raised" ng-click="back()"> Cancel </md-button>
		<md-button class="md-raised md-primary"
			ng-disabled="taskAddForm.taskTitle.$invalid || taskAddForm.taskDesc.$invalid"
			ng-click="saveTask()"> Save </md-button>

	</section>
	</md-content>
</div>
