<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<md-content ng-if="!loading" layout-padding layout="column" ng-cloak>
<form name="taskReportForm ">
	<md-content>
	<div layout="row" layout-xs="column">
		<div layout="row" layout-sm="column" flex>
			<md-input-container> <label>Task Since</label> <md-datepicker
				flex ng-model="selectFilterData.assignedDate"
				style="padding-top:13px;"></md-datepicker> </md-input-container>
		</div>
		<md-input-container flex> <label>Filter
			By Task Status </label> <md-select name="taskStatus"
			ng-model="selectFilterData.taskStatus"> <md-option
			ng-repeat="taskStatus in selectFilterData.taskStatusList"
			ng-value="taskStatus">{{taskStatus}}</md-option> </md-select> </md-input-container>

		<md-input-container flex> <label>Filter
			Assigned By </label> <md-select name="assignedBy" id="assignedBy"
			ng-model="selectFilterData.assignedBy"> <md-option
			ng-value="user" ng-repeat="user in selectFilterData.userList">{{(user.firstName
		+ ' ' + user.lastName) | uppercase}}</md-option> </md-select> </md-input-container>
		<md-input-container flex> <label>Filter
			By Assigned To </label> <md-select name="assignedTo" id="assignedTo"
			ng-model="selectFilterData.assignedTo"> <md-option
			ng-value="user" ng-repeat="user in selectFilterData.userList">{{(user.firstName
		+ ' ' + user.lastName) | uppercase}}</md-option> </md-select> </md-input-container>
		<div layout="row" layout-align="start start">
			<md-button class="md-raised md-primary"
				ng-click="filterTasksByFitlerData()">Display Report</md-button>
		</div>
	</div>
	<div ng-hide="loading">
		<md-toolbar class="md-table-toolbar md-default">
		<div class="md-toolbar-tools">
			<span flex>Task List Report</span>
			<!-- <md-button class="md-raised md-primary" id="downloadExcel"
					ng-click="downloadData()">Download CSV Data <md-tooltip>
				Download All Schools Data</md-tooltip> </md-button> -->
			<md-button class="md-icon-button md-accent"
				ng-click="printDiv('reportContentDiv')" aria-label="Favorite">
			<md-icon md-svg-icon="img/icons/print.svg"></md-icon> </md-button>
		</div>
		</md-toolbar>
		<div id="reportContentDiv">
			<div>
				<md-table-container>
				<table md-table md-progress="promise" style="border: 1px solid black; text-align: left; padding: 2px; font-size: 9pt; border-collapse: collapse;">
					<thead ng-if="!dataTableOptions.decapitate" md-head
						md-order="reportQuery.order" md-on-reorder="logOrder">
						<tr md-row style="border: 1px solid black; text-align: left; padding: 2px; font-size: 9pt;">
							<th md-column
								style="border: 1px solid black; text-align: left; padding: 2px; font-size: 9pt;">Task
								No.</th>
							<th md-column
								style="border: 1px solid black; text-align: left; padding: 2px; font-size: 9pt;">Assigned
								To</th>
							<th md-column
								style="border: 1px solid black; text-align: left; padding: 2px; font-size: 9pt;">Assigned
								By</th>
							<th md-column
								style="border: 1px solid black; text-align: left; padding: 2px; font-size: 9pt;">Task
								Status</th>
							<th md-column
								style="border: 1px solid black; text-align: left; padding: 2px; font-size: 9pt;">Assigned
								Date</th>
							<th md-column
								style="border: 1px solid black; text-align: left; padding: 2px; font-size: 9pt;">Delayed
								(in-days)</th>
							<th md-column
								style="border: 1px solid black; text-align: left; padding: 2px; font-size: 9pt;">Task
								Title</th>
							<th md-column
								style="border: 1px solid black; text-align: left; padding: 2px; font-size: 9pt; width: 40%;">Description</th>
						</tr>
					</thead>
					<tbody md-body style="border: 1px solid black; text-align: left; padding: 2px; font-size: 9pt;">
						<tr md-row
							style="border: 1px solid black; text-align: left; padding: 2px; font-size: 8pt;"
							ng-repeat="task in taskEntityList | orderBy: reportQuery.order">
							<td md-cell
								style="border: 1px solid black; text-align: left; padding: 2px; font-size: 8pt;">{{task.itemNumber}}</td>
							<td md-cell
								style="border: 1px solid black; text-align: left; padding: 2px; font-size: 8pt;">{{(task.assignedTo.firstName
								+ ' ' + task.assignedTo.lastName) | uppercase}}</td>
							<td md-cell
								style="border: 1px solid black; text-align: left; padding: 2px; font-size: 8pt;">{{(task.assignedBy.firstName
								+ ' ' + task.assignedBy.lastName) | uppercase}}</td>
							<td md-cell
								style="border: 1px solid black; text-align: left; padding: 2px; font-size: 8pt;">{{task.taskStatus}}</td>
							<td md-cell
								style="border: 1px solid black; text-align: left; padding: 2px; font-size: 8pt;">{{task.assignedDate
								| date:"dd-MM-yyyy"}}</td>
							<td md-cell
								style="border: 1px solid black; text-align: left; padding: 2px; font-size: 8pt;">{{getDelayInDays(task)}}</td>
							<td md-cell
								style="border: 1px solid black; text-align: left; padding: 2px; font-size: 8pt;">{{task.taskTitle}}</td>
							<td md-cell
								style="border: 1px solid black; text-align: left; padding: 2px; font-size: 8pt;">{{task.taskDesc
								| htmlToPlainText}}</td>

						</tr>
					</tbody>
				</table>
				</md-table-container>
			</div>
		</div>
	</div>
	</md-content>
</form>
</div>

<iframe name="print_frame" width="0" height="0" frameborder="0"
	src="about:blank"></iframe> </md-content>
