<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<md-content ng-if="!loading" layout-padding layout="column" ng-cloak>
<form name="taskReportForm ">
	<md-content>
	<div layout="row" layout-xs="column">
		<div layout="row" layout-sm="column" flex>
			<md-input-container> <label>Task Since</label> <md-datepicker
				flex ng-model="selectFilterData.assignedDate"
				style="padding-top:13px;"></md-datepicker> </md-input-container>
		</div>
		<md-input-container flex> <label>Filter
			By Task Status </label> <md-select name="taskStatus"
			ng-model="selectFilterData.taskStatus"> <md-option
			ng-repeat="taskStatus in selectFilterData.taskStatusList"
			ng-value="taskStatus">{{taskStatus}}</md-option> </md-select> </md-input-container>

		<md-input-container flex> <label>Filter
			Assigned By </label> <md-select name="assignedBy" id="assignedBy"
			ng-model="selectFilterData.assignedBy"> <md-option
			ng-value="user" ng-repeat="user in selectFilterData.userList">{{(user.firstName
		+ ' ' + user.lastName) | uppercase}}</md-option> </md-select> </md-input-container>
		<md-input-container flex> <label>Filter
			By Assigned To </label> <md-select name="assignedTo" id="assignedTo"
			ng-model="selectFilterData.assignedTo"> <md-option
			ng-value="user" ng-repeat="user in selectFilterData.userList">{{(user.firstName
		+ ' ' + user.lastName) | uppercase}}</md-option> </md-select> </md-input-container>
		<div layout="row" layout-align="start start">
			<md-button class="md-raised md-primary"
				ng-click="filterTasksByFitlerData()">Display Report</md-button>
		</div>
	</div>
	<div ng-hide="loading">
		<md-toolbar class="md-table-toolbar md-default">
		<div class="md-toolbar-tools">
			<span flex>Task List Report</span>
			<!-- <md-button class="md-raised md-primary" id="downloadExcel"
					ng-click="downloadData()">Download CSV Data <md-tooltip>
				Download All Schools Data</md-tooltip> </md-button> -->
			<md-button class="md-icon-button md-accent"
				ng-click="printDiv('reportContentDiv')" aria-label="Favorite">
			<md-icon md-svg-icon="img/icons/print.svg"></md-icon> </md-button>
		</div>
		</md-toolbar>
		<div id="reportContentDiv">
			<div>
				<md-data-table-container>
				<table md-data-table class="md-primary" md-progress="deferred"
					style="font-family: arial, sans-serif; border-collapse: collapse; width: 100%;">
					<thead md-order="reportQuery.order" md-trigger="onorderchange">
						<tr>
							<th name="Task No."
								style="border: 1px solid black; text-align: left; padding: 2px;"></th>
							<th name="Assigned To"
								style="border: 1px solid black; text-align: left; padding: 2px;"></th>
							<th name="Assigned By"
								style="border: 1px solid black; text-align: left; padding: 2px;"></th>
							<th name="Task Status"
								style="border: 1px solid black; text-align: left; padding: 2px;"></th>
							<th name="Assigned Date"
								style="border: 1px solid black; text-align: left; padding: 2px;"></th>
							<th name="Delayed(in Days)"
								style="border: 1px solid black; text-align: left; padding: 2px;"></th>
							<th name="Task Title"
								style="border: 1px solid black; text-align: left; padding: 2px;"></th>
							<th name="Description"
								style="border: 1px solid black; text-align: left; padding: 2px;"></th>

						</tr>
					</thead>
					<tbody>
						<!-- <tr
						ng-repeat="task in taskEntityList | proOrderObjectByDateField: 'assignedDate'"> -->
						<tr ng-repeat="task in taskEntityList | orderBy: reportQuery.order">
							<td
								style="border: 1px solid black; text-align: left; padding: 2px;">{{task.itemNumber}}</td>
							<td
								style="border: 1px solid black; text-align: left; padding: 2px;">{{(task.assignedTo.firstName
								+ ' ' + task.assignedTo.lastName) | uppercase}}</td>
							<td
								style="border: 1px solid black; text-align: left; padding: 2px;">{{(task.assignedBy.firstName
								+ ' ' + task.assignedBy.lastName) | uppercase}}</td>
							<td
								style="border: 1px solid black; text-align: left; padding: 2px;">{{task.taskStatus}}</td>
							<td
								style="border: 1px solid black; text-align: left; padding: 2px;">{{task.assignedDate
								| date:"dd-MM-yyyy"}}</td>
							<td
								style="border: 1px solid black; text-align: left; padding: 2px;">{{getDelayInDays(task.assignedDate)}}</td>
							<td
								style="border: 1px solid black; text-align: left; padding: 2px;">{{task.taskTitle}}</td>
							<td
								style="border: 1px solid black; text-align: left; padding: 2px;">{{task.taskDesc
								| htmlToPlainText}}</td>

						</tr>
					</tbody>
				</table>
				</md-data-table-container>
			</div>
		</div>
	</div>
	</md-content>

</form>
</div>

<iframe name="print_frame" width="0" height="0" frameborder="0"
	src="about:blank"></iframe> </md-content>
