<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<md-content ng-if="!loading" layout-padding layout="column" ng-cloak>
<div>
	<section layout="row" layout-xs="column">
		<md-subheader class="md-primary">
		<h4 class="md-title">
			<span flex hide-xs>{{(action == 'listmytask')?'Tasks Assigned
				To Me':'All Task List'}}</span>
		</h4>
		</md-subheader>
		<span flex></span>
		<div layout="row" flex="40" flex-sm="50" flex-xs="100">
			<md-input-container flex> <label>Search</label>
			<input ng-model="searchText"> </md-input-container>
			<md-button class="md-icon-button" ui-sref="taskmanagement.add">
			<ng-md-icon icon="add_circle" style="fill: md-default" size="24">
			<md-tooltip> Add New </md-tooltip></ng-md-icon> </md-button>
			<!-- <md-input-container> <label>Since Date </label>
			<md-datepicker ng-model="selectFilterData.assignedDate"
				ng-change="filterTasksByFitlerData()"></md-datepicker> </md-input-container> -->
			<mdp-date-picker mdp-placeholder="Since Date"
				ng-model="selectFilterData.assignedDate"
				ng-change="filterTasksByFitlerData()"></mdp-date-picker>
		</div>
	</section>
</div>
<md-table-container>
<table md-table md-progress="promise">
	<thead ng-if="!dataTableOptions.decapitate" md-head md-order="query.order"
		md-on-reorder="logOrder">
		<tr md-row>
			<th md-column flex="5" md-numeric md-order-by="itemNumber"><span>Task
					No.</span></th>
			<th md-column md-order-by="assignedBy.firstName"><span>Assigned
					By</span></th>
			<th md-column md-order-by="assignedDate"><span>Assigned
					Date</span></th>
			<th md-column flex="5"><span>Delayed Days</span></th>
			<th md-column md-order-by="taskStatus"><span>Task Status</span></th>
			<th md-column md-order-by="taskTitle"><span>Task Title</span></th>
			<th md-column><span>Action</span></th>
		</tr>
	</thead>
	<tbody md-body>
		<tr md-row
			ng-repeat="task in taskEntityList | filter: searchText | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
			<td md-cell flex="5">{{task.itemNumber}}</td>
			<td md-cell>{{(task.assignedTo.firstName + ' ' +
				task.assignedTo.lastName) | uppercase}}</td>
			<td md-cell>{{task.assignedDate | formatDate}}</td>
			<td md-cell>{{getDelayInDays(task)}}</td>
			<td md-cell>{{task.taskStatus}}</td>
			<td md-cell>{{task.taskTitle}}</td>
			<!-- <td md-cell>{{task.taskDesc.substring(0, 100) + "..." |
				htmlToPlainText}}</td> -->
			<td md-cell><md-button class="md-icon-button" id="editRecord"
					ng-click="changeEditView({taskObj:task})"> <ng-md-icon
					icon="edit" style="fill: md-default" size="24"> <md-tooltip>
				Edit Record</md-tooltip></ng-md-icon></md-button></td>
		</tr>
	</tbody>
</table>
</md-table-container> <md-table-pagination md-limit="query.limit"
	md-limit-options="dataTableOptions.limitOptions" md-page="query.page"
	md-total={{taskEntityList.length}} md-page-select="dataTableOptions.pageSelect"
	md-boundary-links="dataTableOptions.boundaryLinks"
	md-on-paginate="logPagination"></md-table-pagination> <br>
<div ng-if="action == 'listmytask'">
	<div layout="row">
		<md-subheader class="md-primary">
		<h4 class="md-title">Tasks Assigned By Me</h4>
		</md-subheader>
		<div flex></div>
		<md-button class="md-icon-button" ng-click="loadStuff()">
		<md-icon>refresh</md-icon> </md-button>
	</div>
	<md-table-container>
	<table md-table md-progress="promise">
		<thead ng-if="!options.decapitate" md-head md-order="query2.order"
			md-on-reorder="logOrder">
			<tr md-row>
				<th md-column flex="5" md-numeric md-order-by="itemNumber"><span>Task
						No.</span></th>
				<th md-column md-order-by="assignedTo.firstName"><span>Assigned
						To</span></th>
				<th md-column md-order-by="assignedDate"><span>Assigned
						Date</span></th>
				<th md-column flex="5"><span>Delayed Days</span></th>
				<th md-column md-order-by="taskStatus"><span>Task Status</span></th>
				<th md-column md-order-by="taskTitle"><span>Task Title</span></th>
				<th md-column><span>Action</span></th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row
				ng-repeat="task in taskAssignedByMeList | filter: searchText | orderBy: query2.order | limitTo: query2.limit: (query2.page - 1) * query2.limit">
				<td md-cell flex="5">{{task.itemNumber}}</td>
				<td md-cell>{{(task.assignedTo.firstName + ' ' +
					task.assignedTo.lastName) | uppercase}}</td>
				<td md-cell>{{task.assignedDate | formatDate}}</td>
				<td md-cell>{{getDelayInDays(task)}}</td>
				<td md-cell>{{task.taskStatus}}</td>
				<td md-cell>{{task.taskTitle}}</td>
				<!-- <td md-cell>{{task.taskDesc.substring(0, 100) + "..." |
				htmlToPlainText}}</td> -->
				<td md-cell><md-button class="md-icon-button" id="editRecord"
						ng-click="changeEditView({taskObj:task})"> <ng-md-icon
						icon="edit" style="fill: md-default" size="24"> <md-tooltip>
					Edit Record</md-tooltip></ng-md-icon></md-button></td>
			</tr>
		</tbody>
	</table>
	</md-table-container>
	<md-table-pagination md-limit="query2.limit"
		md-limit-options="dataTableOptions.limitOptions" md-page="query2.page"
		md-total={{taskAssignedByMeList.length}}
		md-page-select="dataTableOptions.pageSelect"
		md-boundary-links="dataTableOptions.boundaryLinks"
		md-on-paginate="logPagination"
		style="text-color: black;"></md-table-pagination>

</div>
</md-content>