<div layout="column">
	<section layout="row" flex id="viewToolbar">
		<md-button class="md-icon-button" aria-label="prev" ng-click="back()">
		<md-tooltip> go back</md-tooltip> <md-icon
			md-svg-icon="img/icons/ic_reply_black_24px.svg" aria-label="go back"></md-icon>
		</md-button>
		<md-button ui-sref="hr.SalaryMaster" ng-click="close()"
			class="md-primary"> Salary Master </md-button>
		<md-button ui-sref="hr.LeaveDetail" ng-click="close()"
			class="md-primary"> Leave Detail </md-button>
		<md-button ui-sref="hr.MonthlyPaymentDetail" ng-click="close()"
			class="md-primary">Monthly Salary </md-button>

		<md-button ui-sref="hr.monthlyTax" ng-click="close()"
			class="md-primary">Emp Monthly Deductions </md-button>
		<span flex></span>
		<md-button layout-align="center end" class="md-icon-button md-accent"
			ui-sref="hr.hrSettings" aria-label="Settings"> <md-icon
			md-svg-icon="img/icons/ic_settings_black_24px.svg"> <md-tooltip>HR
		Settings</md-tooltip></md-icon> </md-button>
		<div layout="row" layout-align="center end" layout-sm="column">
			<md-button class="md-icon-button" aria-label="More"
				ng-click="toggleRight()"> <md-icon
				md-svg-icon="img/icons/more_vert.svg"></md-icon> </md-button>
		</div>
	</section>

	<section layout="row">
		<md-sidenav class="md-sidenav-right md-whiteframe-z2"
			md-component-id="right"> <md-toolbar
			class="md-theme-light"> </md-toolbar> <md-content layout="column">
		<md-button ui-sref="hr.employeelist" ng-click="close()"
			class="md-primary"> employee List </md-button> <md-button
			ui-sref="hr.salslip" ng-click="close()" class="md-primary">
		Salary Structure List </md-button> <md-button ui-sref="hr.generatesalslip"
			ng-click="close()" class="md-primary"> generate Salary
		Slip </md-button> <md-button ui-sref="hr.printgeneratesalslip" ng-click="close()"
			class="md-primary"> SalarySlip List</md-button> <md-button
			ui-sref="hr.timeSheet" ng-click="close()" class="md-primary">
		Time Sheet </md-button> </md-content> </md-sidenav>
	</section>
	<div ui-view layout-padding></div>
</div>