<md-content layout-padding> <!-- <h3 class="md-headline">Leave Detail</h3> -->
<form name="employeeForm" layout="column">
	<div>
		<md-input-container flex="50"> <lable>Select
		a Month to View Leave Details<span style="color: red;">*</span></lable> <md-select
			placeholder="Select Month" ng-model="selectedMonth"
			ng-change="monthSelectChange(selectedMonth)"
			aria-label="selectedMonth" id="month" name="month" ng-required="true">
		<md-option ng-value="item" ng-repeat="item in monthList">{{item}}
		</md-option> </md-select> </md-input-container>

		<!-- <div layout-gt-sm="row">
    <div flex-gt-sm class="date-picker-row">
        <label for="email" translate>Signup date</label>
        <md-datepicker ng-model="user.created_at" md-placeholder="Signup date"></md-datepicker>
    </div>
    <div flex-gt-sm class="date-picker-row">
        <label for="email" translate>Last update</label>
        <md-datepicker ng-model="user.updated_at" md-placeholder="Update date"></md-datepicker>
    </div>
</div> -->
	</div>

	<md-toolbar class="md-table-toolbar md-default">
	<div class="md-toolbar-tools">
		<span>Employee Leave Detail List</span>
		<div flex></div>
		<!-- <section layout="row" layout-align="end end" flex>
			<md-button class="md-icon-button" id="uplodeExcel"
				ng-click="UplodeExcel($event)"> <ng-md-icon
				icon="file_upload" style="fill: md-default" size="24">
			<md-tooltip>Upload CSV Data</md-tooltip></ng-md-icon></md-button>
			<md-button class="md-icon-button" id="downloadExcel"
				ng-click="downloadData()"> <ng-md-icon
				icon="file_download" style="fill: md-default" size="24">
			<md-tooltip>Download CSV Data</md-tooltip></ng-md-icon></md-button>
			<md-button class="md-icon-button" id="refreshIcon"
				ng-click="refreshListPage()"> <ng-md-icon icon="refresh"
				style="fill: md-default" size="24"> <md-tooltip>Refresh
			List</md-tooltip></ng-md-icon></md-button>

		</section> -->
	</div>
	</md-toolbar>


	<div ng-if="loading">
		<div layout="row" layout-sm="column" layout-align="space-around">
			<md-progress-circular md-diameter="60" md-mode="indeterminate">
			<lable style="color:red">Entry of current month in Leave
			Detail not Done Please do it First!</lable></md-progress-circular>
		</div>
	</div>


	<div ng-if="worning">
		<lable style="color:red">Entry of Previous month Detail not
		Done Please do it First!</lable>
	</div>

	<div ng-if="!loading">
		<div ng-if="!worning">
			<table md-data-table md-progress="deferred">
				<thead md-order="query.order" md-trigger="onOrderChange">
					<tr>
						<th ng-style="getFormRowStyle()" name="Emp. No."
							order-by="user.employeeDetail.empId"></th>
						<th ng-style="getFormRowStyle()" name="Employee Name"></th>
						<th ng-style="getFormRowStyle()" name="Department"></th>
						<th ng-style="getFormRowStyle()" name="Opening Balance"></th>
						<th ng-style="getFormRowStyle()" name="This Month Add"></th>
						<th ng-style="getFormRowStyle()" name="Leave Laken"></th>
						<th ng-style="getFormRowStyle()" name="Overtime in Days"></th>
						<th ng-style="getFormRowStyle()" name="Without Pay"></th>
						<th ng-style="getFormRowStyle()" name="Month Leave Balance"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-style="getFormRowStyle()"
						ng-repeat="empLeaveDetailObj in employeeLeaveDetailsList | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">

						<td style="margin: 0; padding-left: 5px; padding-right: 5px;">
							<b ng-bind="empLeaveDetailObj.user.employeeDetail.empId"> </b>
						</td>
						<td ng-style="getFormRowStyle()"><span
							ng-bind="empLeaveDetailObj.user.firstName + ' ' +empLeaveDetailObj.user.lastName"
							ng-style="highlightRed(monthlyPayObj.payableDays)"> </span></td>
						<td ng-style="getFormRowStyle()"><span
							ng-bind="empLeaveDetailObj.user.department.name"> </span></td>

						<td ng-style="getFormRowStyle()"><span
							ng-bind="empLeaveDetailObj.openingBalance"> </span></td>
						<!-- <td ng-style="getFormRowStyle()"><md-input-container
							ng-style="getFormRowStyle()"> <input
							ng-model="empLeaveDetailObj.openingBalance" type="number"
							ng-change="calculation (empLeaveDetailObj)" aria-label = "openingBalance"> </md-input-container></td> -->
						<td ng-style="getFormRowStyle()"><md-input-container
								ng-style="getFormRowStyle()"> <input
								ng-model="empLeaveDetailObj.mothLeave" type="number"
								ng-change="calculation (empLeaveDetailObj)"
								aria-label="mothLeave"> </md-input-container></td>
						<td ng-style="getFormRowStyle()"><md-input-container
								ng-style="getFormRowStyle()"> <input
								ng-model="empLeaveDetailObj.takenmothLeave" type="number"
								ng-change="calculation (empLeaveDetailObj)"
								aria-label="takenmothLeave"> </md-input-container></td>
						<td ng-style="getFormRowStyle()"><md-input-container
								ng-style="getFormRowStyle()"> <input
								ng-model="empLeaveDetailObj.overtimeDays" type="number"
								ng-change="calculation (empLeaveDetailObj)"
								aria-label="takenmothLeave"> </md-input-container></td>
						<td ng-style="getFormRowStyle()"><span
							ng-bind="empLeaveDetailObj.withoutpay"
							ng-style="getHighlightRedStyle(empLeaveDetailObj.withoutpay)">
						</span></td>
						<td ng-style="getFormRowStyle()"><span
							ng-bind="empLeaveDetailObj.nextOpeningBalance"> </span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{employeeLeaveDetailsList.length}}
			md-trigger="onpagechange"></md-data-table-pagination>
		</md-data-table-container>
		<div>
			<md-button class="md-raised md-primary"
				ng-disabled="employeeForm.$invalid || employeeForm.$pristine || employeeForm.$touched"
				ng-click="saveLeaveDetailList()">Save</md-button>
		</div>
	</div>
</form>
</md-content>