<md-content layout-padding flex>
<form name="employeeForm" layout="column">

	<section layout="row" layout-xs="column">
		<md-subheader class="md-primary">
		<h4 class="md-title">Employee Leave Detail</h4>
		</md-subheader>
		<span flex></span>
		<div layout="row" flex="40" flex-sm="50" flex-xs="100">
			<md-input-container flex> <md-select
				placeholder="Select Month" ng-model="selectedMonth"
				ng-change="monthSelectChange(selectedMonth)"
				aria-label="selectedMonth" id="month" name="month"
				ng-required="true"> <md-option ng-value="item"
				ng-repeat="item in monthList">{{item}} </md-option> </md-select> </md-input-container>

			<md-input-container flex> <label>Search
				Employee</label> <input ng-model="searchText"> </md-input-container>
		</div>
	</section>
	<div ng-if="loading">
		<div layout="row" layout-sm="column" layout-align="space-around">
			<md-progress-circular md-diameter="60" md-mode="indeterminate">
			<lable style="color:red">Entry of current month in Leave
			Detail not Done Please do it First!</lable></md-progress-circular>
		</div>
	</div>


	<div ng-if="worning">
		<lable style="color:red">Entry of Previous month Detail not
		Done Please do it First!</lable>
	</div>

	<div ng-if="!loading">
		<div ng-if="!worning">
			<div>
				<span style="padding-right: 20px;">Filter By Dept: </span><span
					style="padding-right: 8px;"
					md-colors="{color:'default-primary-700'}"
					ng-repeat="dept in departmentList"
					ng-click="fitlerUserListByDept(dept.name)">{{dept.name + "
					"}}</span>
			</div>

			<md-table-container>
			<table md-table md-progress="promise">
				<thead ng-if="!dataTableOptions.decapitate" md-head
					md-order="query.order" md-on-reorder="logOrder">
					<tr md-row>
						<th md-column ng-style="getFormRowStyle()"
							md-order-by="user.employeeDetail.empId">Emp. No.</th>
						<th md-column ng-style="getFormRowStyle()">Employee Name</th>
						<th md-column ng-style="getFormRowStyle()">Department</th>
						<th md-column ng-style="getFormRowStyle()">Opening Balance</th>
						<th md-column ng-style="getFormRowStyle()">This Month Add</th>
						<th md-column ng-style="getFormRowStyle()">Leave Laken</th>
						<th md-column ng-style="getFormRowStyle()">Overtime in Days</th>
						<th md-column ng-style="getFormRowStyle()">Without Pay</th>
						<th md-column ng-style="getFormRowStyle()">Month Leave
							Balance</th>
					</tr>
				</thead>
				<tbody md-body>
					<tr md-row
						ng-repeat="empLeaveDetailObj in employeeLeaveDetailsList | filter: searchText | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
						<td md-cell
							style="margin: 0; padding-left: 5px; padding-right: 5px;"><b
							ng-bind="empLeaveDetailObj.user.employeeDetail.empId"> </b></td>
						<td md-cell ng-style="getFormRowStyle()"><span
							ng-bind="empLeaveDetailObj.user.firstName + ' ' +empLeaveDetailObj.user.lastName"
							ng-style="highlightRed(monthlyPayObj.payableDays)"> </span></td>
						<td md-cell ng-style="getFormRowStyle()"><span
							ng-bind="empLeaveDetailObj.user.department.name"> </span></td>

						<td md-cell ng-style="getFormRowStyle()"><span
							ng-bind="empLeaveDetailObj.openingBalance"> </span></td>
						<!-- <td md-cell ng-style="getFormRowStyle()"><md-input-container
							ng-style="getFormRowStyle()"> <input
							ng-model="empLeaveDetailObj.openingBalance" type="number"
							ng-change="calculation (empLeaveDetailObj)" aria-label = "openingBalance"> </md-input-container></td> -->
						<td md-cell ng-style="getFormRowStyle()"><md-input-container
								ng-style="getFormRowStyle()"> <input
								ng-model="empLeaveDetailObj.mothLeave" type="number"
								ng-change="calculation (empLeaveDetailObj)"
								aria-label="mothLeave"> </md-input-container></td>
						<td md-cell ng-style="getFormRowStyle()"><md-input-container
								ng-style="getFormRowStyle()"> <input
								ng-model="empLeaveDetailObj.takenmothLeave" type="number"
								ng-change="calculation (empLeaveDetailObj)"
								aria-label="takenmothLeave"> </md-input-container></td>
						<td md-cell ng-style="getFormRowStyle()"><md-input-container
								ng-style="getFormRowStyle()"> <input
								ng-model="empLeaveDetailObj.overtimeDays" type="number"
								ng-change="calculation (empLeaveDetailObj)"
								aria-label="takenmothLeave"> </md-input-container></td>
						<td md-cell ng-style="getFormRowStyle()"><span
							ng-bind="empLeaveDetailObj.withoutpay"
							ng-style="getHighlightRedStyle(empLeaveDetailObj.withoutpay)">
						</span></td>
						<td md-cell ng-style="getFormRowStyle()"><span
							ng-bind="empLeaveDetailObj.nextOpeningBalance"> </span></td>
					</tr>
				</tbody>
			</table>

			<md-table-pagination md-limit="query.limit"
				md-limit-options="dataTableOptions.limitOptions"
				md-page="query.page" md-total={{employeeLeaveDetailsList.length}}
				md-page-select="dataTableOptions.pageSelect"
				md-boundary-links="dataTableOptions.boundaryLinks"
				md-on-paginate="logPagination"></md-table-pagination>
		</div>
		<div>
			<md-button class="md-raised md-primary"
				ng-disabled="employeeForm.$invalid || employeeForm.$pristine || employeeForm.$touched"
				ng-click="saveLeaveDetailList()">Save</md-button>
		</div>
	</div>
</form>
</md-content>