<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<md-content ng-if="!loading" ng-cloak layout-padding>
<form name="payRollRepo">
	<div>
		<div flex flex-gt-xs="60" layout="row"><span>Filter By Year: </span><span
			style="padding-right: 8px;"
			md-colors="{color:'primary'}"
			ng-repeat="year in yearFilterList"
			ng-click="getPayRollReport(year)">{{year}}</span> </div>
		<table
			style="font-family: arial, sans-serif; border-collapse: collapse; width: 60%;">
			<caption
				style="border: 1px solid #dddddd; text-align: center; font-size: 18px; padding: 2px;">
				<span flex>PayRoll By Month</span>
			</caption>
			<tr>

				<th style="border: 1px solid black; padding: 5px; text-align:center">Month Name</th>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Total INR</th>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Details</th>
			</tr>
			<tbody>
				<tr
					ng-repeat="emp in list | orderBy: query.order">
					<td style="border: 1px solid black; padding: 5px;">{{emp.month}}</td>
					<td style="border: 1px solid black; padding: 5px; text-align:right">{{emp.totalSal | number : 2}}</td>
					<td align="left" style="border: 1px solid black; padding: 5px;"><md-button
							class="md-primary md-hue-1"
							ui-sref="hr.payrollReportDetails({selectedMonth: emp.month, toShow : 'calculatedGrossSalary', payRollReportList: payRollReportList })">
						Details </md-button></td>
				</tr>
				<tr>
					<td style="border: 1px solid black; padding: 5px;"><b>TOTAL</b></td>
					<td style="border: 1px solid black; padding: 5px; text-align:right;"><b>{{total | number : 2}}</b></td>
					<td style="border: 1px solid black; padding: 5px;"></td>

				</tr>
			</tbody>
		</table>
		<br></br>
		<hr>
		<!-- ------------------------------------------------------------------- -->
		<table
			style="font-family: arial, sans-serif; border-collapse: collapse; width: 60%;">
			<caption
				style="border: 1px solid #dddddd; text-align: center; font-size: 18px; padding: 2px;">
				<span flex>PF Deduction</span>
			</caption>
			<tr>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Month Name</th>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Total INR</th>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Details</th>
			</tr>
			<tbody>
				<tr
					ng-repeat="emp in list | orderBy: query.order">
					<td style="border: 1px solid black; padding: 5px;">{{emp.month}}</td>
					<td style="border: 1px solid black; padding: 5px; text-align:right;">{{emp.totalPF | number : 2}}</td>
					<td align="left" style="border: 1px solid black; padding: 5px;"><md-button
							class="md-primary md-hue-1"
							ui-sref="hr.payrollReportDetails({selectedMonth: emp.month, toShow : 'pfDeductionAmt', payRollReportList: payRollReportList })">
						Details </md-button></td>
				</tr>
				<tr>
					<td style="border: 1px solid black; padding: 5px;"><b>TOTAL</b></td>
					<td style="border: 1px solid black; padding: 5px; text-align:right;"><b>{{totalPF | number : 2}}</b></td>
					<td style="border: 1px solid black; padding: 5px;"></td>
				</tr>
			</tbody>
		</table>


		<br></br>
		<hr>

		<!-- ------------------------------------------------------------------- -->

		<table
			style="font-family: arial, sans-serif; border-collapse: collapse; width: 60%;">
			<caption
				style="border: 1px solid #dddddd; text-align: center; font-size: 18px; padding: 2px;">
				<span flex>PT Deduction</span>
			</caption>
			<tr>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Month Name</th>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Total INR</th>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Details</th>
			</tr>

			<tbody>
				<tr
					ng-repeat="emp in list | orderBy: query.order">
					<td style="border: 1px solid black; padding: 5px;">{{emp.month}}</td>
					<td style="border: 1px solid black; padding: 5px; text-align:right;">{{emp.totalPT | number : 2}}</td>
					<td align="left" style="border: 1px solid black; padding: 5px;"><md-button
							class="md-primary md-hue-1"
							ui-sref="hr.payrollReportDetails({selectedMonth: emp.month, toShow : 'ptDeductionAmt', payRollReportList: payRollReportList })">
						Details </md-button></td>

				</tr>
				<tr>
					<td style="border: 1px solid black; padding: 5px;"><b>TOTAL</b></td>
					<td style="border: 1px solid black; padding: 5px; text-align:right;"><b>{{totalPT | number : 2}}</b></td>
					<td style="border: 1px solid black; padding: 5px;"></td>

				</tr>
			</tbody>
		</table>
		<br></br>
		<hr>


		<!-- ------------------------------------------------------------------- -->

		<table
			style="font-family: arial, sans-serif; border-collapse: collapse; width: 60%;">
			<caption
				style="border: 1px solid #dddddd; text-align: center; font-size: 18px; padding: 2px;">
				<span flex>Canteen Deduction</span>
			</caption>
			<tr>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Month Name</th>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Total INR</th>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Details</th>
			</tr>


			<tbody>
				<tr
					ng-repeat="emp in list | orderBy: query.order">
					<td style="border: 1px solid black; padding: 5px;">{{emp.month}}</td>
					<td style="border: 1px solid black; padding: 5px; text-align:right;">{{emp.totalCanteen | number : 2}}</td>
					<td align="left" style="border: 1px solid black; padding: 5px;"><md-button
							class="md-primary md-hue-1"
							ui-sref="hr.payrollReportDetails({selectedMonth: emp.month, toShow : 'canteenDeductionAmt', payRollReportList: payRollReportList })">
						Details </md-button></td>
				</tr>
				<tr>
					<td style="border: 1px solid black; padding: 5px;"><b>TOTAL</b></td>
					<td style="border: 1px solid black; padding: 5px; text-align:right;"><b>{{totalCanteen | number : 2}}</b></td>
					<td style="border: 1px solid black; padding: 5px;"></td>
				</tr>
			</tbody>
		</table>
		<br></br>
		<hr>


		<!-- ------------------------------------------------------------------- -->

		<table
			style="font-family: arial, sans-serif; border-collapse: collapse; width: 60%; table-layout: fixed";>
			<caption
				style="border: 1px solid #dddddd; text-align: center; font-size: 18px; padding: 2px;">
				<span flex>IT Deduction</span>
			</caption>
			<tr>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Month Name</th>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Total INR</th>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Details</th>
			</tr>
			<tbody>
				<tr
					ng-repeat="emp in list | orderBy: query.order">
					<td style="border: 1px solid black; padding: 5px;">{{emp.month}}</td>					
					<td style="border: 1px solid black; padding: 5px; text-align:right;">{{emp.totalIT | number : 2}}</td>
					<td align="left" style="border: 1px solid black; padding: 5px;"><md-button
							class="md-primary md-hue-1"
							ui-sref="hr.payrollReportDetails({selectedMonth: emp.month, toShow : 'itDeductionAmt', payRollReportList: payRollReportList })">
						Details </md-button></td>
				</tr>

				<tr>
					<td style="border: 1px solid black; padding: 5px;"><b>TOTAL</b></td>
					<td style="border: 1px solid black; padding: 5px; text-align:right;"><b>{{totalIT | number : 2}}</b></td>
					<td style="border: 1px solid black; padding: 5px;"></td>
				</tr>
				<tr ng-repeat="item in list2 |orderBy: query.order">
					<td style="border: 1px solid black;">{{item.totalIT | number : 2}}</td>
				</tr>
			</tbody>
		</table>
		<br></br>
		<hr>


		<!-- ------------------------------------------------------------------- -->

		<table
			style="font-family: arial, sans-serif; border-collapse: collapse; width: 60%;">
			<caption
				style="border: 1px solid #dddddd; text-align: center; font-size: 18px; padding: 2px;">
				<span flex>Other Deduction</span>
			</caption>
			<tr>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Month Name</th>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Total INR</th>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Details</th>
			</tr>
			<tbody>
				<tr
					ng-repeat="emp in list | orderBy: query.order">
					<td style="border: 1px solid black; padding: 5px;">{{emp.month}}</td>
					<td style="border: 1px solid black; padding: 5px; text-align:right;">{{emp.totalOther | number : 2}}</td>
					<td align="left" style="border: 1px solid black; padding: 5px;"><md-button
							class="md-primary md-hue-1"
							ui-sref="hr.payrollReportDetails({selectedMonth: emp.month, toShow : 'otherDeductionAmt', payRollReportList: payRollReportList })">
						Details </md-button></td>
				</tr>
				<tr>
					<td style="border: 1px solid black; padding: 5px;"><b>TOTAL</b></td>
					<td style="border: 1px solid black; padding: 5px; text-align:right;"><b>{{totalOther | number : 2}}</b></td>
					<td style="border: 1px solid black; padding: 5px;"></td>
				</tr>
			</tbody>
		</table>
		<br></br>
		<hr>


		<!-- ------------------------------------------------------------------- -->

		<table
			style="font-family: arial, sans-serif; border-collapse: collapse; width: 60%;">
			<caption
				style="border: 1px solid #dddddd; text-align: center; font-size: 18px; padding: 2px;">
				<span flex>ESI Deduction</span>
			</caption>
			<tr>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Month Name</th>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Total INR</th>
				<th style="border: 1px solid black; padding: 5px; text-align:center">Details</th>
			</tr>
			<tbody>
				<tr
					ng-repeat="emp in list | orderBy: query.order">
					<td style="border: 1px solid black; padding: 5px;">{{emp.month}}</td>
					<td style="border: 1px solid black; padding: 5px; text-align:right;">{{emp.totalESI | number : 2}}</td>
					<td align="left" style="border: 1px solid black; padding: 5px;"><md-button
							class="md-primary md-hue-1"
							ui-sref="hr.payrollReportDetails({selectedMonth: emp.month, toShow : 'esiDeductionAmt', payRollReportList: payRollReportList })">
						Details </md-button></td>
				</tr>
				<tr>
					<td style="border: 1px solid black; padding: 5px;"><b>TOTAL</b></td>
					<td style="border: 1px solid black; padding: 5px; text-align:right;"><b>{{totalESI | number : 2}}</b></td>
					<td style="border: 1px solid black; padding: 5px;"></td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
</md-content>