<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<md-content ng-if="!loading" ng-cloak layout-padding>

<div>
	<md-button class="md-primary"
		ui-sref="hr.payRollRepo({payRollReportList: payRollReportList})">Back
	to Main Report</md-button>
</div>
<h3>{{selectedMonth}}</h3>
<table
	style="font-family: arial, sans-serif; border-collapse: collapse; width: 60%;">
	<thead>
		<tr>
			<th style="border: 1px solid black; padding: 5px; text-align:center">Emp.No</th>
			<th style="border: 1px solid black; padding: 5px; text-align:center">Employee Name</th>
			<th ng-show="toShow == 'netSalaryAmt'"
				style="border: 1px solid black; padding: 5px; text-align:center">Net Salary</th>
			<th ng-show="toShow == 'pfDeductionAmt'"
				style="border: 1px solid black; padding: 5px; text-align:center">PF Deduction</th>
			<th ng-show="toShow == 'ptDeductionAmt'"
				style="border: 1px solid black; padding: 5px; text-align:center">PT Deduction</th>
			<th ng-show="toShow == 'canteenDeductionAmt'"
				style="border: 1px solid black; padding: 5px; text-align:center">Canteen
				Deduction</th>
			<th ng-show="toShow == 'itDeductionAmt'"
				style="border: 1px solid black; padding: 5px; text-align:center">IT Deduction</th>
			<th ng-show="toShow == 'otherDeductionAmt'"
				style="border: 1px solid black; padding: 5px; text-align:center">Other Deduction</th>
			<th ng-show="toShow == 'esiDeductionAmt'"
				style="border: 1px solid black; padding: 5px; text-align:center">ESI Deduction</th>
		</tr>
	</thead>
	<tr
		ng-repeat="monthlyPayObj in monthlyPayDetailsList | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">
		<td style="border: 1px solid black; padding: 5px;"><b
			ng-bind="monthlyPayObj.leaveDetailEntity.user.employeeDetail.empId">
		</b></td>
		<td style="border: 1px solid black; padding: 5px;">
			{{monthlyPayObj.leaveDetailEntity.user.firstName + ' ' +
			monthlyPayObj.leaveDetailEntity.user.lastName}}</td>
		<td ng-show="toShow == 'netSalaryAmt'"
			style="border: 1px solid black; padding: 5px; text-align:right;">
			{{monthlyPayObj.netSalaryAmt | number : 2}}</td>
		<td ng-show="toShow == 'pfDeductionAmt'"
			style="border: 1px solid black; padding: 5px; text-align:right;">
			{{monthlyPayObj.pfDeductionAmt | number : 2}}</td>
		<td ng-show="toShow == 'ptDeductionAmt'"
			style="border: 1px solid black; padding: 5px; text-align:right;">
			{{monthlyPayObj.ptDeductionAmt | number : 2}}</td>
		<td ng-show="toShow == 'canteenDeductionAmt'"
			style="border: 1px solid black; padding: 5px; text-align:right;">
			{{monthlyPayObj.canteenDeductionAmt | number : 2}}</td>
		<td ng-show="toShow == 'itDeductionAmt'"
			style="border: 1px solid black; padding: 5px; text-align:right;">
			{{monthlyPayObj.itDeductionAmt | number : 2}}</td>
		<td ng-show="toShow == 'otherDeductionAmt'"
			style="border: 1px solid black; padding: 5px; text-align:right;">
			{{monthlyPayObj.otherDeductionAmt | number : 2}}</td>
		<td ng-show="toShow == 'esiDeductionAmt'"
			style="border: 1px solid black; padding: 5px; text-align:right;">
			{{monthlyPayObj.esiDeductionAmt | number : 2}}</td>
	</tr>
	<tfoot>
		<tr>
			<td style="border: 1px solid black; padding: 5px; text-align:center;"><b>Total
			</b></td>
			<td style="border: 1px solid black; padding: 5px; text-align:right;"></td>
			<td ng-show="toShow == 'netSalaryAmt'"
				style="border: 1px solid black; padding: 5px; text-align:right;"><b>{{totalSal | number : 2}}</b></td>
			<td ng-show="toShow == 'pfDeductionAmt'"
				style="border: 1px solid black; padding: 5px; text-align:right;"><b>{{totalPF | number : 2}}</b></td>
			<td ng-show="toShow == 'ptDeductionAmt'"
				style="border: 1px solid black; padding: 5px; text-align:right;"><b>{{totalPT | number : 2}}</b></td>
			<td ng-show="toShow == 'canteenDeductionAmt'"
				style="border: 1px solid black; padding: 5px; text-align:right;"><b>{{totalCanteen | number : 2}}</b></td>
			<td ng-show="toShow == 'itDeductionAmt'"
				style="border: 1px solid black; padding: 5px; text-align:right;"><b>{{totalIT | number : 2}}</b></td>
			<td ng-show="toShow == 'otherDeductionAmt'"
				style="border: 1px solid black; padding: 5px; text-align:right;"><b>{{totalOther | number : 2}}</b></td>
			</b>
			</td>
			<td ng-show="toShow == 'esiDeductionAmt'"
				style="border: 1px solid black; padding: 5px; text-align:right;"><b>{{totalESI | number : 2}}
			</b></td>
		</tr>
	</tfoot>
</table>
</md-content>