<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<md-content ng-if="!loading" ng-cloak layout-padding> <!-- <h3 class="md-headline">Salary Master</h3> -->

<form name="SalaryMasterform" layout="column">
	<section layout="row" layout-xs="column">
		<md-subheader class="md-primary">
		<h4 class="md-title">Employee Salary Master</h4>
		</md-subheader>
		<span flex></span>
		<div layout="row" flex="40" flex-sm="50" flex-xs="100">
			<md-input-container flex> <label>Search
				Employee</label> <input ng-model="searchText"> </md-input-container>
			<md-button class="md-icon-button" id="uplodeExcel"
				ng-click="UplodeExcel($event)"> <ng-md-icon
				icon="file_upload" style="fill: md-default" size="24">
			<md-tooltip>Upload CSV Data</md-tooltip></ng-md-icon></md-button>
			<md-button class="md-icon-button" id="downloadExcel"
				ng-click="download()"> <ng-md-icon icon="file_download"
				style="fill: md-default" size="24"> <md-tooltip>Download
			CSV Data</md-tooltip></ng-md-icon></md-button>
			<md-button class="md-icon-button" id="refreshIcon"
				ng-click="Refreshpage()"> <ng-md-icon icon="refresh"
				style="fill: md-default" size="24"> <md-tooltip>Refresh
			List</md-tooltip></ng-md-icon></md-button>
		</div>
	</section>
	<div ng-cloak>
		<table md-data-table md-progress="deferred">
			<thead md-order="query.order" md-trigger="onOrderChange">
				<tr>
					<th name="Emp. No."
						style="margin: 0; padding-left: 0; padding-right: 5px;"></th>
					<th name="Employee Name"
						style="margin: 0; padding-left: 0; padding-right: 5px;"></th>
					<th name="Department"
						style="margin: 0; padding-left: 0; padding-right: 5px;"></th>
					<th name="Monthly Gross"
						style="margin: 0; padding-left: 0; padding-right: 5px;"></th>
					<th name="Basic"
						style="margin: 0; padding-left: 0; padding-right: 5px;"></th>
					<th name="HRA"
						style="margin: 0; padding-left: 0; padding-right: 5px;"></th>
					<th name="Convence"
						style="margin: 0; padding-left: 0; padding-right: 5px;"></th>
					<th name="Medical"
						style="margin: 0; padding-left: 0; padding-right: 5px;"></th>
					<th name="Education"
						style="margin: 0; padding-left: 0; padding-right: 5px;"></th>
					<th name="Adhoc Allow"
						style="margin: 0; padding-left: 0; padding-right: 5px;"></th>
					<th name="Special Allow"
						style="margin: 0; padding-left: 0; padding-right: 5px;"></th>
					<!-- <th name="Calculated Gross" style="margin: 0; padding-left: 0; padding-right: 5px;"></th> -->
				</tr>
			</thead>

			<tbody>

				<tr
					ng-repeat="empSalaryMasterObj in empSalaryMasterList | filter: searchText | limitTo: query.limit: (query.page - 1) * query.limit">

					<td style="margin: 0; padding-left: 5px; padding-right: 5px;">
						<b ng-bind="empSalaryMasterObj.empAccount.employeeDetail.empId">
					</b>
					</td>
					<td
						style="min-width: 220px; margin: 0; padding-left: 0; padding-right: 5px;"><md-input-container
							style="margin: 0; padding: 0; padding-left: 0; padding-right: 5px;">
						<b
							ng-bind="empSalaryMasterObj.empAccount.firstName + ' ' +empSalaryMasterObj.empAccount.lastName">
						</b></md-input-container></td>

					<td
						style="min-width: 100px; margin: 0; padding-left: 0; padding-right: 5px;"><md-input-container
							style="margin: 0; padding: 0; padding-left: 0; padding-right: 5px;">
						<b ng-bind="empSalaryMasterObj.empAccount.department.name"> </b></md-input-container></td>

					<td style="margin: 0; padding-left: 0; padding-right: 5px;"><md-input-container
							style="margin: 0; padding: 0;"> <input
							ng-model="empSalaryMasterObj.monthlyGrossSal" type="number"
							ng-change="grossSalaryChanged(empSalaryMasterObj)"
							aria-label="monthlyGrossSal" ng-model-options="{ debounce: 100 }">
						</md-input-container></td>
					<td
						style="min-width: 100px; margin: 0; padding-left: 0; padding-right: 5px;"><md-input-container
							style="margin: 0; padding-left: 0; padding-right: 5px;">
						<input ng-model="empSalaryMasterObj.monthlyBasic" type="number"
							ng-change="calSpecialAllow(empSalaryMasterObj)"
							aria-label="monthlyBasic"> </md-input-container></td>
					<td style="margin: 0; padding-left: 0; padding-right: 5px;"><md-input-container
							style="margin: 0; padding: 0;"> <input
							ng-model="empSalaryMasterObj.monthlyHra" type="number"
							ng-change="calSpecialAllow(empSalaryMasterObj)"
							aria-label="monthlyHra"> </md-input-container></td>
					<td style="margin: 0; padding-left: 0; padding-right: 5px;"><md-input-container
							style="margin: 0; padding: 0;"> <input
							ng-model="empSalaryMasterObj.monthlyConvence" type="number"
							ng-change="calSpecialAllow(empSalaryMasterObj)"
							aria-label="monthlyConvence"> </md-input-container></td>
					<td style="margin: 0; padding-left: 0; padding-right: 5px;"><md-input-container
							style="margin: 0; padding: 0;"> <input
							ng-model="empSalaryMasterObj.monthlyMedical" type="number"
							ng-change="calSpecialAllow(empSalaryMasterObj)"
							aria-label="monthlyMedical"> </md-input-container></td>
					<td style="margin: 0; padding-left: 0; padding-right: 5px;"><md-input-container
							style="margin: 0; padding: 0;"> <input
							ng-model="empSalaryMasterObj.monthlyEducation"
							ng-change="calSpecialAllow(empSalaryMasterObj)"
							aria-label="monthlyEducation"> </md-input-container></td>


					<td style="margin: 0; padding-left: 0; padding-right: 5px;"><md-input-container
							style="margin: 0; padding: 0;"> <input
							type="number" ng-model="empSalaryMasterObj.monthlyAdhocAllow"
							ng-change="calSpecialAllow(empSalaryMasterObj)"
							aria-label="monthlyAdhocAllow"> </md-input-container></td>


					<td style="margin: 0; padding-left: 0; padding-right: 5px;"><md-input-container
							style="margin: 0; padding: 0;"> <input
							type="number" ng-model="empSalaryMasterObj.monthlySpecialAllow"
							id="no" value="empSalaryMasterObj.monthlySpecialAllow" readonly
							ng-style="getHighlightRedStyle(empSalaryMasterObj.monthlySpecialAllow)"
							aria-label="monthlySpecialAllow"> </md-input-container></td>
				</tr>
			</tbody>
		</table>
	</div>

	<md-data-table-pagination md-limit="query.limit" md-page="query.page"
		md-total={{empSalaryMasterList.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</md-data-table-container>

	<div>
		<md-button class="md-raised md-primary"
			ng-click="saveSalaryMasterDetailList()">Submit</md-button>
		<!-- 
		<md-button class="md-fab md-primary md-hue-1" ng-click="download()">
		<md-tooltip>Download Salary Master</md-tooltip> <md-icon
			md-svg-icon="img/icons/pdfdownload.svg"></md-icon> </md-button> -->

	</div>

</form>
</md-content>