<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<md-content ng-if="!loading" ng-cloak layout-padding> <!-- <h3 class="md-headline">Salary Master</h3> -->

<form name="SalaryMasterform" layout="column">
	<section layout="row" layout-xs="column">
		<md-subheader class="md-primary">
		<h4 class="md-title">Employee Salary Master</h4>
		</md-subheader>
		<span flex></span>
		<div layout="row" flex="40" flex-sm="50" flex-xs="100">
			<md-input-container flex> <label>Search
				Employee</label> <input ng-model="searchText"> </md-input-container>
			<md-button class="md-icon-button" id="uplodeExcel"
				ng-click="UplodeExcel($event)"> <ng-md-icon
				icon="file_upload" style="fill: md-default" size="24">
			<md-tooltip>Upload CSV Data</md-tooltip></ng-md-icon></md-button>
			<md-button class="md-icon-button" id="downloadExcel"
				ng-click="download()"> <ng-md-icon icon="file_download"
				style="fill: md-default" size="24"> <md-tooltip>Download
			CSV Data</md-tooltip></ng-md-icon></md-button>
			<md-button class="md-icon-button" id="refreshIcon"
				ng-click="Refreshpage()"> <ng-md-icon icon="refresh"
				style="fill: md-default" size="24"> <md-tooltip>Refresh
			List</md-tooltip></ng-md-icon></md-button>
		</div>
	</section>
	<div ng-cloak>
		<div>
			<span style="padding-right: 20px;">Filter By Dept: </span><span
				style="padding-right: 8px;"
				md-colors="{color:'default-primary-700'}"
				ng-repeat="dept in departmentList"
				ng-click="fitlerUserListByDept(dept.name)">{{dept.name + "
				"}}</span>
		</div>
		<md-table-container>
		<table md-table md-progress="promise">
			<thead ng-if="!dataTableOptions.decapitate" md-head
				md-order="query.order" md-on-reorder="logOrder">
				<tr md-row>
					<th md-column ng-style="getFormRowStyle()">Emp. No.</th>

					<th md-column
						ng-style="getFormRowStyle()">Employee
						Name</th>
					<th md-column
						ng-style="getFormRowStyle()">Department</th>
					<th md-column
						ng-style="getFormRowStyle()">Monthly
						Gross</th>
					<th md-column
						ng-style="getFormRowStyle()">Basic</th>
					<th md-column
						ng-style="getFormRowStyle()">HRA</th>
					<th md-column
						ng-style="getFormRowStyle()">Convence</th>
					<th md-column
						ng-style="getFormRowStyle()">Medical</th>
					<th md-column
						ng-style="getFormRowStyle()">Education</th>
					<th md-column
						ng-style="getFormRowStyle()">Adhoc
						Allow</th>
					<th md-column
						ng-style="getFormRowStyle()">Special
						Allow</th>
				</tr>
			</thead>

			<tbody md-body>

				<tr md-row
					ng-repeat="empSalaryMasterObj in empSalaryMasterList | filter: searchText | limitTo: query.limit: (query.page - 1) * query.limit">

					<td md-cell
						style="margin: 0; padding-left: 5px; padding-right: 5px;"><b
						ng-bind="empSalaryMasterObj.empAccount.employeeDetail.empId">
					</b></td>
					<td md-cell
						style="min-width: 220px; margin: 0; padding-left: 0; padding-right: 5px;"><md-input-container
							style="margin: 0; padding: 0; padding-left: 0; padding-right: 5px;">
						<b
							ng-bind="empSalaryMasterObj.empAccount.firstName + ' ' +empSalaryMasterObj.empAccount.lastName">
						</b></md-input-container></td>

					<td md-cell
						style="min-width: 100px; margin: 0; padding-left: 0; padding-right: 5px;"><md-input-container
							style="margin: 0; padding: 0; padding-left: 0; padding-right: 5px;">
						<b ng-bind="empSalaryMasterObj.empAccount.department.name"> </b></md-input-container></td>

					<td md-cell ng-style="getFormRowStyle()"><md-input-container
							style="margin: 0; padding: 0;"> <input
							ng-model="empSalaryMasterObj.monthlyGrossSal" type="number"
							ng-change="grossSalaryChanged(empSalaryMasterObj)"
							aria-label="monthlyGrossSal" ng-model-options="{ debounce: 100 }">
						</md-input-container></td>
					<td md-cell
						style="min-width: 100px; margin: 0; padding-left: 0; padding-right: 5px;"><md-input-container
							ng-style="getFormRowStyle()">
						<input ng-model="empSalaryMasterObj.monthlyBasic" type="number"
							ng-change="calSpecialAllow(empSalaryMasterObj)"
							aria-label="monthlyBasic"> </md-input-container></td>
					<td md-cell ng-style="getFormRowStyle()"><md-input-container
							style="margin: 0; padding: 0;"> <input
							ng-model="empSalaryMasterObj.monthlyHra" type="number"
							ng-change="calSpecialAllow(empSalaryMasterObj)"
							aria-label="monthlyHra"> </md-input-container></td>
					<td md-cell ng-style="getFormRowStyle()"><md-input-container
							style="margin: 0; padding: 0;"> <input
							ng-model="empSalaryMasterObj.monthlyConvence" type="number"
							ng-change="calSpecialAllow(empSalaryMasterObj)"
							aria-label="monthlyConvence"> </md-input-container></td>
					<td md-cell ng-style="getFormRowStyle()"><md-input-container
							style="margin: 0; padding: 0;"> <input
							ng-model="empSalaryMasterObj.monthlyMedical" type="number"
							ng-change="calSpecialAllow(empSalaryMasterObj)"
							aria-label="monthlyMedical"> </md-input-container></td>
					<td md-cell ng-style="getFormRowStyle()"><md-input-container
							style="margin: 0; padding: 0;"> <input
							ng-model="empSalaryMasterObj.monthlyEducation"
							ng-change="calSpecialAllow(empSalaryMasterObj)"
							aria-label="monthlyEducation"> </md-input-container></td>


					<td md-cell ng-style="getFormRowStyle()"><md-input-container
							style="margin: 0; padding: 0;"> <input
							type="number" ng-model="empSalaryMasterObj.monthlyAdhocAllow"
							ng-change="calSpecialAllow(empSalaryMasterObj)"
							aria-label="monthlyAdhocAllow"> </md-input-container></td>


					<td md-cell ng-style="getFormRowStyle()"><md-input-container
							style="margin: 0; padding: 0;"> <input
							type="number" ng-model="empSalaryMasterObj.monthlySpecialAllow"
							id="no" value="empSalaryMasterObj.monthlySpecialAllow" readonly
							ng-style="getHighlightRedStyle(empSalaryMasterObj.monthlySpecialAllow)"
							aria-label="monthlySpecialAllow"> </md-input-container></td>
				</tr>
			</tbody>
		</table>
		</md-table-container>
		<md-table-pagination md-limit="query.limit"
			md-limit-options="dataTableOptions.limitOptions" md-page="query.page"
			md-total={{empSalaryMasterList.length}}
			md-page-select="dataTableOptions.pageSelect"
			md-boundary-links="dataTableOptions.boundaryLinks"
			md-on-paginate="logPagination"></md-table-pagination>
	</div>

	<div>
		<md-button class="md-raised md-primary"
			ng-click="saveSalaryMasterDetailList()">Submit</md-button>
		<!-- 
		<md-button class="md-fab md-primary md-hue-1" ng-click="download()">
		<md-tooltip>Download Salary Master</md-tooltip> <md-icon
			md-svg-icon="img/icons/pdfdownload.svg"></md-icon> </md-button> -->

	</div>

</form>
</md-content>