<md-content layout-padding>
<div>
	<div class="md-toolbar-tools">
		<md-subheader class="md-primary">
		<h4 class="md-title">Production Requisition View</h4>
		</md-subheader>
		<span flex></span>

	</div>
	<form name="bomRequisition">
  <fieldset disabled>

		<div layout="row" layout-xs="column">
			<div layout="row" flex=70>

				<md-input-container flex><label>Product Name</label> <md-select
					name="bomEntity" ng-model="productionRequisition.bomEntity"
					ng-change="selectItems(productionRequisition.bomEntity)"
					placeholder="Product Name" ng-required="true"
					ng-disabled="true"> <md-option
					ng-value="bomEntity" ng-repeat="bomEntity in bomList"
					ng-selected="bomEntity.id == productionRequisition.bomEntity.id">
				{{bomEntity.stockItemType.itemName}} </md-option> </md-select> </md-input-container>


				<md-input-container flex> <input type="number"
					aria-label="period" placeholder="Enter Qty."
					ng-change="calculation()"
					ng-model="productionRequisition.productQty"> </md-input-container>
			</div>
		</div>

		<div layout="row" layout-xs="column" flex="50" flex-gt-xs>
			<mdp-date-picker mdp-placeholder="Delivery Date"
				ng-model="productionRequisition.deliveryDate" required></mdp-date-picker>
			<h5 class="md-caption" class="md-caption"
				style="padding-top: 20px; padding-left: 20px; padding-right: 20px;"></h5>
			<mdp-time-picker mdp-format="hh:mm A"
				ng-model="productionRequisition.deliverytime"
				mdp-placeholder="Delivery Time" required></mdp-time-picker>

		</div>


	
  </fieldset>
  <table md-table md-progress="promise">
			<thead ng-if="!dataTableOptions.decapitate" md-head
				md-order="query.order" md-on-reorder="logOrder">
				<tr md-row>
					<th md-column>Category Name</th>
					<th md-column>Items</th>
					<th md-column>Qty. Needed</th>
					<th md-column>Stock-in-Hand</th>
					<th md-column>Stock-Issueed Qty.</th>
					
				</tr>
			</thead>
			<tbody>
				<tr md-row ng-init="itemToggle=true"
					ng-repeat-start="bomCategory in productionRequisition.catList track by $index">
					<td md-cell>{{bomCategory.cat.catName}}</td>
					<td md-cell></td>
					<td md-cell></td>
					<td md-cell></td>
				</tr>
				<tr md-row ng-repeat="itemObj in  bomCategory.items"
					ng-show="itemToggle" style="padding-top: 10px; padding-bottom: 10px;">
					<td md-cell></td>
					<td md-cell style="padding-top: 10px; padding-bottom: 10px;">{{itemObj.stockItemType.itemName}}</td>
					<td md-cell style="padding-top: 10px; padding-bottom: 10px;">{{itemObj.qty}}</td>
					<td md-cell style="padding-top: 10px; padding-bottom: 10px;">{{getCurrentWHStockItemQty(itemObj.stockItemType)}}</td>
					<td md-cell style="padding-top: 10px; padding-bottom: 10px;">  {{}}  </td>
				</tr>
				<tr md-row>
					<td md-cell></td>
					<td md-cell></td>
					<td md-cell></td>
					<td md-cell></td>
				</tr>
				<tr ng-repeat-end></tr>
				<tr md-row>
					<td md-cell></td>
					<td md-cell></td>
					<td md-cell></td>
					<td md-cell></td>
				</tr>
				<tr md-row>

				</tr>
			</tbody>
		</table>

	</form>
	
		<h4 ng-init="prodStockListToogle=true"
					ng-click="prodStockListToogle=!prodStockListToogle">
					Production Stock Issue List
					<md-button class="md-icon-button" ng-show="prodStockListToogle">
					<ng-md-icon icon="keyboard_arrow_up" style="fill: md-default"
						size="24"> <md-tooltip> Collapse</md-tooltip></ng-md-icon></md-button>
					<md-button class="md-icon-button" ng-show="!prodStockListToogle">
					<ng-md-icon icon="keyboard_arrow_down" style="fill: md-default"
						size="24"> <md-tooltip> Expand</md-tooltip></ng-md-icon></md-button>
				</h4>
				
				<div ng-show="prodStockListToogle">
					<md-button class="md-icon-button" ng-click="addProdstock($event)">
					<ng-md-icon icon="add_circle" style="fill: md-default" size="24">
					<md-tooltip> Add New </md-tooltip></ng-md-icon> </md-button>
					<md-table-container>
					<table md-table md-progress="promise">
						<thead ng-if="!dataTableOptions.decapitate" md-head
							md-order="query.order" md-on-reorder="logOrder">
							<tr md-row>
								<th md-column>Issue No.</th>
								<th md-column>BOM Product</th>
								<th md-column>Delivery Date</th>
								<th md-column>Status</th>
								<th md-column>Action</th>
							</tr>
						</thead>
					
						<tbody md-body ng-repeat="documentEntity1 in documentEntity">
						
							<tr md-row
								ng-repeat="bomRequisitionEntity in documentEntity1.prodRequisitionList">
								<td md-cell>{{bomRequisitionEntity.itemNumber}}</td>
								<td md-cell>{{bomRequisitionEntity.bomEntity.stockItemType.itemName}}</td>
								<td md-cell>{{bomRequisitionEntity.deliveryDateTime |
									formatDateWithTime}}</td>
								<td md-cell>{{bomRequisitionEntity.status}}</td>
								<td md-cell><md-button class="md-icon-button"
										ng-click="addProdStockIssue($event, bomRequisitionEntity)">
									<ng-md-icon icon="edit" style="fill: md-default" size="20">
									<md-tooltip> Edit</md-tooltip></ng-md-icon></md-button> <md-button
										class="md-icon-button"
										ng-click="printProductStockIssue(bomRequisitionEntity.id)">
									<ng-md-icon icon="print" style="fill: md-default" size="20">
									<md-tooltip> Print Product Requisition</md-tooltip></ng-md-icon></md-button></td>
							</tr>
						</tbody>
					</table>
					</md-table-container>
				</div>
				
	
	
	
</div>

</md-content>