<md-content layout-padding>
<div>
	<h3 class="md-headline" ng-hide="false">
		<u> Bom Requisition</u>
	</h3>
	<form name="bomRequisition">


		<div layout="row" layout-xs="column">
			<div layout="row" flex=70>

				<md-input-container flex> <md-select
					name="bomEntity" ng-model="productionRequisition.bomEntity"
					ng-change="selectItems(productionRequisition.bomEntity)"
					placeholder="Product Name" ng-required="true"> <md-option
					ng-value="bomEntity"
					ng-repeat="bomEntity in bomList"
					ng-selected="productionRequisition.bomEntity.id == bomEntity.id"
					>{{bomEntity.stockItemType.itemName}} </md-option> </md-select> </md-input-container>



				<md-input-container flex> <input type="number"
					aria-label="period" placeholder="Enter Qty."
					ng-change="calculation()"
					ng-model="productionRequisition.productQty"> </md-input-container>
			</div>
		</div>
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////	//////// -->
		<div layout="row" layout-xs="column" flex="50" flex-gt-xs>
		<mdp-date-picker mdp-placeholder="Delivery Date"
			ng-model="productionRequisition.deliveryDate"></mdp-date-picker>
	<h5 class="md-caption" class="md-caption" style="padding-top: 20px; padding-left: 20px; padding-right: 20px;"></h5>
			<mdp-time-picker mdp-format="hh:mm A" ng-model="productionRequisition.deliverytime"
				mdp-placeholder="Delivery Time"></mdp-time-picker>
			
	</div>
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////	 ///////////////////-->

		<table md-table md-progress="promise">
			<thead ng-if="!dataTableOptions.decapitate" md-head
				md-order="query.order" md-on-reorder="logOrder">
				<tr md-row>
					<th md-column md-order-by="srNo">Category</th>
					<th md-column md-order-by="srNo">Catogory Name</th>
				</tr>
			</thead>
			<tbody>
				<tr md-row ng-init="itemToggle=true"
					ng-repeat-start="bomCategory in productionRequisition.catList track by $index">

					<td md-cell>Category {{ $index +1 }}<md-button
							class="md-icon-button" ng-show="!itemToggle"
							ng-click="itemToggle=true"> </md-button> <md-button
							class="md-icon-button" ng-show="itemToggle"
							ng-click="itemToggle=false" ng-disabled="true"> </md-button></td>
					<td md-cell><div layout="row">
							<md-input-container flex> <input type="text"
								aria-label="period" placeholder="Enter Qty."
								ng-model="bomCategory.cat.catName" ng-disabled="true"> </md-input-container>

						</div></td>

					<td md-cell></td>

				</tr>
				<tr md-row ng-repeat="itemObj in  bomCategory.items"
					ng-show="itemToggle">
					<td md-cell></td>
					<td md-cell>
						<div layout="row">

							<md-input-container flex> <input type="text"
								aria-label="period" placeholder="Enter Qty."
								ng-model="itemObj.itemName" ng-disabled="true"> </md-input-container>
						</div>
					</td>

					<td md-cell>
						<div layout="row">
							<md-input-container> <input
								placeholder="Product qty." ng-model="itemObj.qty"
								ng-required="true" ng-disabled="true"></md-input-container>

						</div>
					</td>
					<td md-cell><</td>
				</tr>
				<tr md-row>
					<td md-cell></td>
					<td md-cell></td>
					<td md-cell></td>
					<td md-cell></td>
				</tr>
				<tr ng-repeat-end></tr>
				<tr md-row>
					<td md-cell></td>
					<td md-cell></td>
					<td md-cell></td>
					<td md-cell></td>
				</tr>
				<tr md-row>

				</tr>
			</tbody>
		</table>

	</form>
</div>
<div layout layout-xs="column" ng-hide="budgetObj.status == 'FINALIZED'">
	<section layout="row" layout-xs="column">

		<md-button class="md-raised md-primary" ng-click="submitPequisition()">Submit</md-button>
	</section>
</div>
</md-content>