<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<md-content ng-if="!loading" layout-padding>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">Machine List</h4>
	</md-subheader>
	<span flex></span>
	<!-- <div layout="row" flex="33" flex-sm="50" flex-xs="100">
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
		<md-button class="md-icon-button" ui-sref="invoice.add"> <ng-md-icon
			icon="add_circle" style="fill: md-default" size="24"> <md-tooltip>
		Add New </md-tooltip></ng-md-icon> </md-button>
	</div> -->
</section>

<div>

	<md-data-table-container>
	<table md-table md-progress="promise">
		<thead ng-if="!dataTableOptions.decapitate" md-head
			md-order="query.order" md-on-reorder="logOrder">
			<tr>
				<th md-column>Machine No.</th>
				<th md-column md-order-by="createdDate">Machine Name</th>
				<th md-column>Contact</th>
				<th md-column>Manifacturer Name</th>
				<th md-column>City</th>
				<th md-column>Actions</th>


			</tr>
		</thead>

		<tbody md-body>

			<tr md-row
				ng-repeat="machine in machineList | filter: searchText | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">

				<td md-cell>{{machine.machineNo}}</td>
				<td md-cell>{{machine.machineName}}</td>
				<td md-cell>{{machine.manifacturerDetail.phone1}}</td>
				<td md-cell>{{machine.manifacturerName}}</td>
				<td md-cell>{{machine.manifacturerDetail.city}}</td>
				<td md-cell>
					<section layout="row">
						<md-button class="md-icon-button"
							ui-sref="production.add_machine({machineObj: machine})">
						<ng-md-icon icon="edit" style="fill: md-default" size="20">
						<md-tooltip> Edit</md-tooltip></ng-md-icon></md-button>
					</section>
				</td>
			</tr>
		</tbody>
	</table>

	<md-table-pagination md-limit="query.limit"
		md-limit-options="dataTableOptions.limitOptions" md-page="query.page"
		md-total={{machineList.length}}
		md-page-select="dataTableOptions.pageSelect"
		md-boundary-links="dataTableOptions.boundaryLinks"
		md-on-paginate="logPagination"></md-table-pagination> </md-data-table-container>

</div>
</md-content>