<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<md-content ng-if="!loading" layout-padding>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">Machine QC Record List</h4>
	</md-subheader>
	<span flex></span>
	<div layout="row" flex="33" flex-sm="50" flex-xs="100">
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
		<md-button class="md-icon-button" ui-sref="production.add_qcmachine_record"> <ng-md-icon
			icon="add_circle" style="fill: md-default" size="24"> <md-tooltip>
		Add New </md-tooltip></ng-md-icon> </md-button>
	</div>
</section>

<div>
	<md-table-container>
	<table md-table md-progress="promise">
		<thead ng-if="!dataTableOptions.decapitate" md-head
			md-order="query.order" md-on-reorder="logOrder">
			<tr md-row>
				<th md-column md-order-by="machineQc.qcName" >QC Name</th>
				<th md-column >Note</th>
				<th md-column md-order-by="validFrom">Record Date</th>
				<th md-column>Actions</th>
			</tr>
		</thead>

		<tbody md-body>
			<tr md-row
				ng-repeat="qcmachineRecord in qcmachine_recordList | filter: searchText | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">

				<td md-cell>{{qcmachineRecord.machineQc.qcName}}</td>
				<td md-cell>{{qcmachineRecord.machineQc.note}}</td>
				<td md-cell>{{qcmachineRecord.recordDate | formatDate}}</td>
				<td md-cell>
					<section layout="row">
						<md-button class="md-icon-button"
							ui-sref="production.add_qcmachine_record({qcmachineRecordObj: qcmachineRecord})"> <ng-md-icon
							icon="edit" style="fill: md-default" size="20"> <md-tooltip>
						Edit</md-tooltip></ng-md-icon></md-button>
						<md-button class="md-icon-button"
							ng-click="printQCMachineRecord(qcmachineRecord.id)"> <ng-md-icon
							icon="print" style="fill: md-default" size="20"> <md-tooltip>
						Print Record</md-tooltip></ng-md-icon></md-button></td>
					</section>
				</td>
			</tr>
		</tbody>
	</table>
	</md-table-container>
	<md-table-pagination md-limit="query.limit"
		md-limit-options="dataTableOptions.limitOptions" md-page="query.page"
		md-total={{query.totalSize}}
		md-page-select="dataTableOptions.pageSelect"
		md-boundary-links="dataTableOptions.boundaryLinks"
		md-on-paginate="logPagination"></md-table-pagination>
</div>
</md-content>