<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<md-content ng-if="!loading" layout-padding>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">Production Requisition List</h4>
	</md-subheader>
	<span flex></span>
	<div layout="row" flex="33" flex-sm="50" flex-xs="100">
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
	</div>
</section>

<div>
	<div>
		<md-table-container>
		<table md-table md-progress="promise">
			<thead ng-if="!dataTableOptions.decapitate" md-head
				md-order="query.order" md-on-reorder="logOrder">
				<tr md-row>
					<th md-column md-order-by="itemNumber">Requisition No.</th>
					<th md-column md-order-by="bomEntity.stockItemType.itemName">BOM
						Product</th>
					<th md-column md-order-by="deliveryDateTime">Delivery Date</th>
					<th md-column>Status</th>
					<th md-column>Action</th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row
					ng-repeat="bomRequisitionEntity in bomRequiList | filter: searchText | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
					<td md-cell>{{bomRequisitionEntity.itemNumber}}</td>
					<td md-cell>{{bomRequisitionEntity.bomEntity.stockItemType.itemName}}</td>
					<td md-cell>{{bomRequisitionEntity.deliveryDateTime |
						formatDateWithTime}}</td>
					<td md-cell>{{bomRequisitionEntity.status}}</td>
					<td md-cell><md-button class="md-icon-button"
							ng-click="printProductRequisition(bomRequisitionEntity.id)">
						<ng-md-icon icon="print" style="fill: md-default" size="20">
						<md-tooltip> Print Product Requisition</md-tooltip></ng-md-icon></md-button></td>
				</tr>
			</tbody>
		</table>
		</md-table-container>
		<md-table-pagination md-limit="query.limit"
			md-limit-options="dataTableOptions.limitOptions" md-page="query.page"
			md-total={{bomRequiList.length}}
			md-page-select="dataTableOptions.pageSelect"
			md-boundary-links="dataTableOptions.boundaryLinks"
			md-on-paginate="logPagination"></md-table-pagination>
	</div>