
<md-content layout="column" layout-align="top stretch" layout-fill>
<div layout="column">
	<style>
.animate-show {
	line-height: 20px;
	opacity: 1;
	padding: 10px;
	background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
	transition: all linear 0.2s;
}

.animate-show.ng-hide {
	line-height: 0;
	opacity: 0;
	padding: 0 10px;
}
</style>

	<div>
			<md-button hide-xs ui-sref="production.add_bom"
			class="md-primary">Add BOM </md-button>
				<md-button hide-xs ui-sref="production.list_bom"
			class="md-primary">List BOM </md-button>
			<md-button hide-xs ui-sref="production.add_machine"
			class="md-primary">Add Machine </md-button>
			<md-button hide-xs ui-sref="production.list_machine"
			class="md-primary">Machine List</md-button>
			<md-button hide-xs ui-sref="production.add_qcmachine"
			class="md-primary">Add QCMachine </md-button>
			<md-button hide-xs ui-sref="production.list_qcmachine"
			class="md-primary">List QCMachine </md-button>
	</div>

	<md-sidenav class="md-sidenav-right md-whiteframe-z2"
		md-component-id="right" layout="column"> <md-toolbar
		class="md-theme-light">
	<h1 class="md-toolbar-tools">Accounting</h1>

	</md-toolbar> <md-button show-xs ui-sref="accounting.account_add2"
		ng-click="close()" class="md-primary"> Add Account</md-button> <md-button
		show-xs ui-sref="accounting.accountlist" ng-click="close()"
		class="md-primary"> Account List</md-button> <md-button show-xs
		ui-sref="accounting.accountGroupAdd" ng-click="close()"
		class="md-primary">Add Group</md-button> <md-button show-xs
		ui-sref="accounting.accountGroupList" ng-click="close()"
		class="md-primary"> Group List</md-button> <md-button show-xs
		ui-sref="accounting.accountGroupView" ng-click="close()"
		class="md-primary"> Group View</md-button> <md-button show-xs
		ui-sref="accounting.addGeneralEntry" ng-click="close()"
		class="md-primary">Add General Entry</md-button> <!-- <md-button show-xs ui-sref="accounting.generalEntitylist"
	class="md-primary"> General Entry List</md-button>  --> <md-button
		show-xs ui-sref="accounting.entryList" ng-click="close()"
		class="md-primary">Account View</md-button> <md-button show-xs
		ui-sref="accounting.voucherSales" ng-click="close()"
		class="md-primary">Sales Voucher</md-button> <md-button show-xs
		ui-sref="accounting.voucherSalesList" ng-click="close()"
		class="md-primary">Sales Voucher List</md-button> <md-button show-xs
		ui-sref="accounting.voucherReceipt" ng-click="close()"
		class="md-primary">Receipt Voucher</md-button> <md-button show-xs
		ui-sref="accounting.voucherRecieptList" ng-click="close()"
		class="md-primary">Receipt Voucher List</md-button> <md-button hide-xs
		ui-sref="accounting.accountChart" ng-click="close()"
		class="md-primary">Account Chart</md-button> <md-button hide-xs
		ui-sref="accounting.accountPAndL" ng-click="close()"
		class="md-primary">P & L Statement</md-button> <md-button hide-xs
		ui-sref="accounting.balanceSheet" ng-click="close()"
		class="md-primary">Balance Sheet</md-button> <md-button hide-xs
		ui-sref="accounting.trialBalance" ng-click="close()"
		class="md-primary">Trial Balance</md-button> <!-- 			Sidenav Buttons -->
	</md-sidenav>
</div>
<md-content ui-view layout-padding></md-content> </md-content>