
<md-content layout="column" flex layout-padding>
<div ng-if="loading" layout-padding>
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<div ng-if="!loading" layout-padding layout="column">
	<section layout="row" layout-xs="column">
		<md-subheader class="md-primary">
		<h4 class="md-title">Production Module Settings</h4>
		</md-subheader>
		<span flex></span>
	</section>
	<form name="invoiceSettings" layout="column">
		<div layout="row" layout-xs="column">
			<md-checkbox flex-offset="15" flex="30"
				ng-model="settingsObj.needModuleDocumentApproval"
				ng-true-value="true" ng-false-value="false"
				aria-label="needModuleDocumentApproval"> Need Module
			Document Approval</md-checkbox>
			<div class="md-caption" style="padding-left: 20px;">This
				setting makes Approval Compulsory for this module Documents like
				Bom, Production Machine, Machine QC Definition, Machine QC Record
				etc.</div>
		</div>
		<div layout="row" layout-xs="column">
			<div flex-xs flex="30">
				<md-checkbox flex-offset="15"
					ng-model="settingsObj.emailNotification" ng-true-value="true"
					ng-false-value="false" aria-label="isGoogleUser">
				Email Notification</md-checkbox>
			</div>

			<md-input-container flex="80" layout="row"> <label>Email
				Notification List(enter comma separated email ids)</label> <textarea
				ng-model="settingsObj.emailNotificationDL" rows="2" cols="1"></textarea>
			</md-input-container>
		</div>
	</form>
	<div flex-xs flex="30">
		<md-checkbox flex-offset="15" ng-disabled="true"
			aria-label="Checkbox Disabled" class="md-primary"> </md-checkbox>
		Machine QC Item Units
		<!--Heading is placed outside the check-box,if inside it appears as faded on the UI because the check-box is disabled.  -->
	</div>
	<form name="qcMachineItemUnitForm">
		<div layout="row" layout-xs="column">
			<md-input-container flex="30"> <label>Enter
				Unit Name</label> <input name="unitName" type="text"
				ng-model="qcMachineUnitMeasure.unitName" ng-required="true">
			</md-input-container>
			<md-input-container flex> <label>Enter
				Description </label> <input type="text" ng-model="qcMachineUnitMeasure.note">
			</md-input-container>
			<md-input-container flex> <md-button
				class="md-icon-button" ng-click="addMachineQCUnitMeasure()">
			<ng-md-icon icon="add_circle" style="fill: md-default" size="20">
			<md-tooltip> Add Machine QC Unit Measure</md-tooltip></ng-md-icon> </md-button></md-input-container>
		</div>
		<md-data-table-container>
		<table style="width: 80%" md-table>
			<thead md-head>
				<tr md-row>
					<th md-column>Unit Name</th>
					<th md-column>Description</th>
					<th md-column>Actions</th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row ng-repeat="unit in qcMachineUnitMeasureList">
					<td md-cell>{{unit.unitName}}</td>
					<td md-cell>{{unit.note}}</td>
					<td md-cell><md-button class="md-icon-button"
							ng-click="editMachineQCUnitMeasure($event,unit)"> <ng-md-icon
							icon="edit" style="fill: md-default" size="20"> <md-tooltip>
						Edit</md-tooltip></ng-md-icon></md-button></td>
				</tr>
			</tbody>
		</table>
		</md-data-table-container>
	</form>
	<p></p>

	<section layout="row" layout-sm="column" ng-if="!isSaving">
		<md-button class="md-raised md-primary" ng-click="addSettings()">Save
		Changes </md-button>
	</section>
	<section layout="row" layout-sm="column" ng-if="isSaving">
		<md-button class="md-raised md-primary" ng-disabled="true">Save
		Changes </md-button>
	</section>
</div>
</md-content>

