<md-dialog aria-label="Add New" style="min-width:500px;"> <md-toolbar>
<div class="md-toolbar-tools">
	<h2>Edit Machine QC Unit Measure</h2>
	<span flex></span>
	<md-button class="md-icon-button" ng-click="cancel()"> <md-icon
		md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
	</md-button>
</div>
</md-toolbar> <md-dialog-content
	style="min-width:200px; max-width:800px; max-height:600px;">
<md-content layout-padding>
<form name="stockItemUnitForm">
	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Unit
			Name </label> <input type="text" ng-model="qcMachineUnitMeasure.unitName"
			ng-required="true"> </md-input-container>
		<md-input-container flex> <label>Description</label>
		<input type="text" ng-model="qcMachineUnitMeasure.note"> </md-input-container>
	</div>
</form>
</md-content> </md-dialog-content> <md-dialog-actions layout="row"> <md-button
	ng-disabled="stockItemUnitForm.$invalid" class="md-raised md-primary"
	ng-click="addqcMachineUnitMeasure()">Save</md-button> <md-button
	class="md-raised" ng-click="cancel()">Cancel</md-button> </md-dialog-actions> </md-dialog>