<style>
.red-background {
	background-color: #FFA07A;
}
</style>
<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<md-content ng-if="!loading" layout-padding>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">Purchase Order List</h4>
	</md-subheader>
	<div layout="row" flex>
		<span flex></span>
		<div layout="row" flex="33" flex-sm="50" flex-xs="100">
			<md-input-container flex> <label>Search</label>
			<input ng-model="searchText"> </md-input-container>
		</div>
		<md-button class="md-icon-button" ui-sref="stock.purchaseOrderAdd">
		<ng-md-icon icon="add_circle" style="fill: md-default" size="24">
		<md-tooltip> Add New </md-tooltip></ng-md-icon> </md-button>
	</div>
</section>

<div>
	<div>
		<span style="padding-right: 8px;">Filter By Status: </span><span
			md-colors="{color:'default-primary-700'}"
			ng-repeat="status in documentStatusList"
			ng-click="fitlerListByStatus(status)"> <span
			style="text-decoration: underline;"
			ng-if="(selectedStatus == status) || ((selectedStatus == '' || selectedStatus == 'ALL') && status == 'ALL')">{{status
				+ " "}}</span> <span
			ng-if="!((selectedStatus == status) || ((selectedStatus == '' || selectedStatus == 'ALL') && status == 'ALL'))">{{status
				+ " "}}</span></span>
	</div>
	<md-data-table-container>
	<table md-table md-progress="promise">
		<thead ng-if="!dataTableOptions.decapitate" md-head
			md-order="query.order" md-on-reorder="logOrder">
			<tr md-row>
				<th md-column md-order-by="itemNumber" width="4%">PO No.</th>
				<th md-column md-order-by="createdBy">Created Date</th>
				<th md-column md-order-by="poDueDate">Due Date</th>
				<th md-column md-order-by="createdBy.firstName">Created By</th>
				<th md-column md-order-by="status">Status</th>
				<th md-column md-order-by="supplier.supplierName">Supplier Name</th>
				<th md-column>Actions</th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row
				ng-repeat="pOItem in purchaseOrderList | filter: searchText | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"
				ng-class="{'red-background' : pOItem.highLight==true}">
				<td md-cell>{{pOItem.itemNumber}}</span></td>
				<td md-cell>{{pOItem.createdDate|formatDateWithTime}}</td>
				<td md-cell>{{pOItem.poDueDate|formatDate}}</td>
				<td md-cell>{{pOItem.createdBy.firstName+"
					"+pOItem.createdBy.lastName }}</td>
				<td md-cell>{{pOItem.status}}</td>
				<td md-cell>{{pOItem.supplier.supplierName}}</td>
				<td md-cell>
					<section layout="row">
						<md-button class="md-icon-button"
							ui-sref="stock.purchaseOrderAdd({purchaseOrderObj: pOItem})">
						<ng-md-icon icon="edit" style="fill: md-default" size="20">
						<md-tooltip> Edit</md-tooltip></ng-md-icon></md-button>
						<md-button class="md-icon-button" ng-show="pOItem.starred==true"
							ng-hide="pOItem.starred==false"
							ng-click="changeStarredValue(pOItem)"> <md-icon
							md-svg-src="/img/icons/ic_star_black_24px.svg"
							style="fill: md-default" size="20"> <md-tooltip>
						Unstar</md-tooltip></md-icon></md-button>
						<md-button class="md-icon-button" ng-show="pOItem.starred==false"
							ng-hide="pOItem.starred==true"
							ng-click="changeStarredValue(pOItem)"> <md-icon
							md-svg-src="/img/icons/ic_star_border_black_24px.svg"
							style="fill: md-default" size="20"> <md-tooltip>
						Star it </md-tooltip></md-icon></md-button>
						<md-button class="md-icon-button" ng-click="printPO(pOItem.id)">
						<ng-md-icon icon="print" style="fill: md-default" size="20">
						<md-tooltip> Print PO</md-tooltip></ng-md-icon></md-button>
					</section>
				</td>
			</tr>
		</tbody>
	</table>
	<md-table-pagination md-limit="query.limit"
		md-limit-options="dataTableOptions.limitOptions" md-page="query.page"
		md-total={{query.totalSize}}
		md-page-select="dataTableOptions.pageSelect"
		md-boundary-links="dataTableOptions.boundaryLinks"
		md-on-paginate="logPagination"></md-table-pagination> </md-data-table-container>
</div>
</md-content>
