<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<md-content ng-if="!loading" layout-padding>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">Requisition List</h4>
	</md-subheader>
	<div layout="row" flex>
		<span flex></span>
		<div layout="row" flex="33" flex-sm="50" flex-xs="100">
			<md-input-container flex> <label>Search</label>
			<input ng-model="searchText"> </md-input-container>
		</div>
		<md-button class="md-icon-button" ui-sref="stock.requisitionAdd">
		<ng-md-icon icon="add_circle" style="fill: md-default" size="24">
		<md-tooltip> Add New </md-tooltip></ng-md-icon> </md-button>
	</div>
</section>

<div>
	<div>
		<span style="padding-right: 8px;">Filter By Status: </span><span
			md-colors="{color:'default-primary-700'}"
			ng-repeat="status in documentStatusList"
			ng-click="fitlerListByStatus(status)">{{status + " "}}</span>
	</div>
	<md-data-table-container>
	<table md-data-table class="md-primary" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onorderchange">
			<tr>
				<th name="Req. No." order-by="itemNumber"></th>
				<th name="Created Date" order-by="createdBy"></th>
				<th name="Created By" order-by="createdBy.firstName"></th>
				<th name="Status" order-by="status"></th>
				<th name="Expected Date" order-by="expectedDate"></th>
				<!-- <th name="On Behalf Of" order-by="onBehalfOf"></th> -->
				<th name="Actions"></th>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="requisition in requisitionList | filter: searchText | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">

				<td>{{requisition.itemNumber}}</td>
				<td>{{requisition.createdDate|formatDateWithTime}}</td>
				<td>{{requisition.createdBy.firstName+"
					"+requisition.createdBy.lastName }}</td>
				<td>{{requisition.status}}</td>
				<td>{{requisition.expectedDate|formatDate}}</td>
				<!-- <td>{{requisition.onBehalfOf}}</td> -->
				<td>
					<section layout="row">
						<md-button class="md-icon-button"
							ui-sref="stock.requisitionAdd({selectedRequisition: requisition})">
						<ng-md-icon icon="edit" style="fill: md-default" size="20">
						<md-tooltip> Edit</md-tooltip></ng-md-icon></md-button>
						<md-button class="md-icon-button"
							ng-show="requisition.starred==false"
							ng-hide="requisition.starred==true"
							ng-click="changeStarredValue(requisition)"> <md-icon
							md-svg-src="/img/icons/ic_star_black_24px.svg"
							style="fill: md-default" size="20"> <md-tooltip>
						Star</md-tooltip></md-icon></md-button>
						<md-button class="md-icon-button"
							ng-show="requisition.starred==true"
							ng-hide="requisition.starred==false"
							ng-click="changeStarredValue(requisition)"> <md-icon
							md-svg-src="/img/icons/ic_star_border_black_24px.svg"
							style="fill: md-default" size="20"> <md-tooltip>
						Unstar </md-tooltip></md-icon></md-button>
						<md-button class="md-icon-button"
							ng-click="printAsPdf(requisition.id)"> <ng-md-icon
							icon="print" style="fill: md-default" size="20"> <md-tooltip>
						Print as PDF</md-tooltip></ng-md-icon></md-button>
					</section>
				</td>
			</tr>
		</tbody>
	</table>
	</md-data-table-container>
</div>