<md-content layout-padding>
<h3 class="md-title">Stock Management Settings</h3>
<form name="invoiceSettings" layout="column">
	<h4 class="md-subhead">Setup Default Invoice Items</h4>
	<hr>

	<md-input-container flex="80" layout="row"> <label>Note
		to Customer</label> <textarea ng-model="settingsObj.noteToCustomer" rows="2"
		cols="1"></textarea> </md-input-container>
	<hr>
	<md-input-container flex="80" layout="row"> <label>Invoice
		Terms and Conditions</label> <textarea
		ng-model="settingsObj.termsAndConditions" rows="3" cols="1"></textarea>
	</md-input-container>

	<hr>
	<md-checkbox ng-model="settingsObj.emailNotification"
		ng-true-value="true" ng-false-value="false" aria-label="isGoogleUser">
	Invoice Email Notification</md-checkbox>
	<md-input-container flex="80" layout="row"> <label>Email
		Notification List(enter comma separated email ids)</label> <textarea
		ng-model="settingsObj.emailNotificationDL" rows="2" cols="1"></textarea> </md-input-container>
</form>

<section layout="row" layout-sm="column">
	<md-button class="md-raised md-primary"
		ng-click="addSettings()">Save Changes </md-button>
</section>
</md-content>

