<md-content layout-padding>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">Stock Module Settings</h4>
	</md-subheader>
	<span flex></span>
</section>
<form name="invoiceSettings" layout="column">
	<div layout="row" layout-xs="column">
		<md-checkbox flex-offset="15"
			ng-model="settingsObj.needModuleDocumentApproval"
			ng-true-value="true" ng-false-value="false"
			aria-label="needModuleDocumentApproval"> Need Module
		Document Approval</md-checkbox>
		<div class="md-caption" style="padding-left: 20px;">This setting
			makes Approval Compulsory for this module Documents like Requisition,
			Purchase Order, Stock Receipt, Stock Shipment etc.</div>
	</div>
	<md-input-container flex="80" layout="row"> <label>PO
		Terms and Conditions</label> <textarea
		ng-model="settingsObj.poTermsAndConditions" rows="3" cols="1"></textarea>
	</md-input-container>

	<md-input-container flex="80" layout="row"> <label>Stock
		Shipment Terms and Conditions</label> <textarea
		ng-model="settingsObj.stockShipTermsAndConditions" rows="3" cols="1"></textarea>
	</md-input-container>

	<div layout="row" layout-xs="column">
		<div flex-xs flex="20">
			<md-checkbox flex-offset="15"
				ng-model="settingsObj.emailNotification" ng-true-value="true"
				ng-false-value="false" aria-label="isGoogleUser">
			Email Notification</md-checkbox>
		</div>

		<md-input-container flex="80" layout="row"> <label>Email
			Notification List(enter comma separated email ids)</label> <textarea
			ng-model="settingsObj.emailNotificationDL" rows="2" cols="1"></textarea>
		</md-input-container>
	</div>
	<div layout="row" layout-xs="column">
		<div flex-xs flex="20">
			<md-checkbox flex-offset="15" ng-model="settingsObj.linkPOToBudget"
				ng-true-value="true" ng-false-value="false"
				aria-label="isGoogleUser"> Link PO to Budget</md-checkbox>
		</div>
	</div>

</form>
<div flex-xs flex="20">
	<md-checkbox flex-offset="15" md-indeterminate
		aria-label="Checkbox Indeterminate" class="md-primary">
	Stock Item Units </md-checkbox>
</div>
<div id="stockItemUnit">
	<md-input-container> <label>Enter Unit
		Name</label> <input type="text" ng-model="stockItemUnit.unitName"> </md-input-container>
	<md-button class="md-icon-button" ng-click="addStockItemUnit()">
	<ng-md-icon icon="add_circle" style="fill: md-default" size="20">
	<md-tooltip> Add Stock Item Unit</md-tooltip></ng-md-icon> </md-button>
	<md-data-table-container>
	<table style="width: 20%" md-data-table class="md-primary"
		md-progress="deferred">
		<thead md-order="query.order" md-trigger="onorderchange">
			<tr>
				<th name="Unit Name"></th>
				<th name="Actions"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="unit in stockItemUnitList">
				<td>{{unit.unitName}}</td>
				<td><md-button class="md-icon-button"
						ng-click="editStockItemUnit($event,unit)"> <ng-md-icon
						icon="edit" style="fill: md-default" size="20"> <md-tooltip>
					Edit</md-tooltip></ng-md-icon></md-button></td>
			</tr>
		</tbody>
	</table>
	</md-data-table-container>
</div>
<div flex-xs flex="30">
	<md-checkbox flex-offset="15" md-indeterminate
		aria-label="Checkbox Indeterminate" class="md-primary">
	Stock Item Categories </md-checkbox>
</div>
<div id="stockItemTypeCategory">
	<md-input-container> <label>Enter Category
		Type</label> <input type="text" ng-model="stockItemTypeCategory.catName">
	</md-input-container>
	<md-button class="md-icon-button" ng-click="addStockItemTypeCategory()">
	<ng-md-icon icon="add_circle" style="fill: md-default" size="20">
	<md-tooltip> Add Stock Item Category</md-tooltip></ng-md-icon> </md-button>
	<md-data-table-container>
	<table style="width: 20%" md-data-table class="md-primary"
		md-progress="deferred">
		<thead md-order="query.order" md-trigger="onorderchange">
			<tr>
				<th name="Category Type"></th>
				<th name="Actions"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="cat in stockItemCategories">
				<td>{{cat.catName}}</td>
				<td><md-button class="md-icon-button"
						ng-click="editStockItemCategory($event,cat)"> <ng-md-icon
						icon="edit" style="fill: md-default" size="20"> <md-tooltip>
					Edit</md-tooltip></ng-md-icon></md-button></td>
			</tr>
		</tbody>
	</table>
	</md-data-table-container>
</div>
<div flex-xs flex="30">
	<md-checkbox flex-offset="15" md-indeterminate
		aria-label="Checkbox Indeterminate" class="md-primary">
	Stock Item Order Types </md-checkbox>
</div>
<div id="stockItemOrderType">
	<md-input-container> <label>Enter Order
		Type </label> <input type="text" ng-model="stockItemOrderType.typeName">
	</md-input-container>
	<md-button class="md-icon-button" ng-click="addStockItemOrderType()">
	<ng-md-icon icon="add_circle" style="fill: md-default" size="20">
	<md-tooltip> Add Stock Item Order Type</md-tooltip></ng-md-icon> </md-button>
	<md-data-table-container>
	<table style="width: 20%" md-data-table class="md-primary"
		md-progress="deferred">
		<thead md-order="query.order" md-trigger="onorderchange">
			<tr>
				<th name="Order Type"></th>
				<th name="Actions"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="orderType in stockItemOrderTypes">
				<td>{{orderType.typeName}}</td>
				<td><md-button class="md-icon-button"
						ng-click="editStockItemOrderType($event,orderType)"> <ng-md-icon
						icon="edit" style="fill: md-default" size="20"> <md-tooltip>
					Edit</md-tooltip></ng-md-icon></md-button></td>
			</tr>
		</tbody>
	</table>
	</md-data-table-container>
</div>
<section layout="row" layout-sm="column">
	<md-button class="md-raised md-primary" ng-click="addSettings()">Save
	Changes </md-button>
</section>
</md-content>

