<md-content layout-padding> <md-content layout-wrap>
<section id="pagetoolbar" layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title"
		ng-bind="stock.id?'Edit Stock Item':'Add Stock Item'"></h4>
	</md-subheader>
	<span flex> </span>
	<div hide-xs>
		<md-button class="md-primary" id="Bulk Upload"
			ng-click="UplodeExcel($event)">Bulk Upload</md-button>
	</div>
</section>
<form name="stockForm">
	<div>
		<div layout layout-xs="column">

			<div layout="row" flex>
				<md-autocomplete flex required md-input-name="autocompleteField"
					md-no-cache=true md-selected-item="stock.stockItemType"
					md-search-text="searchTextInput"
					md-items="item in querySearch(searchTextInput)"
					md-item-text="item.itemName" md-floating-label="Select Stock Item">
				<md-item-template> <span
					md-highlight-text="searchTextInput">{{item.itemName}}</span> </md-item-template>
				<div ng-messages="stockForm.autocompleteField.$error"
					ng-if="stockForm.autocompleteField.$touched">
					<div ng-message="required">This is required field.</div>
				</div>
				</md-autocomplete>
				<md-icon md-svg-src="img/icons/ic_queue_black_24px.svg"
					ng-click="addStockType()" class="name"
					style="color: Green; height: 18px; width: 18px"></md-icon>
			</div>
			<md-input-container flex> <label>Tags </label> <input
				name="categories"
				ng-value="stock.stockItemType?stock.stockItemType.tags:''"
				ng-disabled="true"></md-input-container>
		</div>

		<div layout="row" layout-xs="column">
			<md-input-container flex> <label> Cost </label>
			<input name="cost" type="number" ng-model="stock.cost"
				ng-required="true">
			<div ng-messages="stockForm.cost.$error"
				ng-if="stockForm.cost.$submitted || stockForm.cost.$touched || stockForm.cost.$dirty">
				<div ng-message="required">Please Enter Cost (Example.:1234)</div>
			</div>
			</md-input-container>
			<md-input-container flex> <label>Moving
				Avg. Cost </span>
			</label> <textarea name="note" ng-model="stock.movingAvgCost"
				ng-disabled="true"></textarea> </md-input-container>
		</div>

		<div layout="row" layout-xs="column">
			<md-input-container flex> <label> Price
			</label> <input name="price" type="number" ng-model="stock.price"
				ng-required="true">
			<div ng-messages="stockForm.price.$error"
				ng-if="stockForm.price.$submitted || stockForm.price.$touched || stockForm.price.$dirty">
				<div ng-message="required">Please Enter Price (Example.:1234)</div>
			</div>
			</md-input-container>
			<md-input-container flex> <label>Notes </span>
			</label> <textarea name="note" ng-model="stock.notes" ng-required="false"></textarea>
			</md-input-container>
		</div>
		<div layout="row" layout-xs="column">
			<md-input-container flex> <label>Threshold
				Value </label> <input name="threshold" type="number"
				ng-model="stock.thresholdValue" ng-required="false">
			<div ng-messages="stockForm.threshold.$error"
				ng-if="stockForm.threshold.$submitted || stockForm.threshold.$touched || stockForm.threshold.$dirty">
				<div ng-message="required">Please Enter Threshold
					Value.(Example.:120)</div>
			</div>
			</md-input-container>

			<md-input-container flex> <label>Quantity
			</label> <input name="quantity" type="number" ng-model="stock.qty"
				ng-disabled="true"> </md-input-container>
		</div>

		<h3 class="md-subhead">
			<b>Location Details</b>
		</h3>
		<div layout="row" layout-xs="column">

			<div flex layout="row">
				<md-input-container flex> <label>Warehouse
				</label> <md-select flex ng-model="stock.warehouse"
					placeholder="Select Warehouse"> <md-option
					ng-value="warehouse" ng-required="true"
					ng-selected="(stock.warehouse.id)?(stock.warehouse.id == warehouse.id):($index == 0)"
					ng-repeat="warehouse in warehouses">{{warehouse.warehouseName
				}}</md-option> </md-select> </md-input-container>
				<md-icon md-svg-src="img/icons/ic_queue_black_24px.svg"
					ng-click="addWarehouse()" class="name"
					style="color: Green; height: 18px; width: 18px"></md-icon>
			</div>
			<md-input-container flex> <label>Section

			</label> <input name="section" ng-model="stock.section"> </md-input-container>
		</div>

		<div layout="row" layout-xs="column">

			<md-input-container flex> <label>Rack </label> <input
				name="rack" ng-model="stock.rack"> </md-input-container>

			<md-input-container flex> <label>Slot </label> <input
				name="slot" ng-model="stock.slot"> </md-input-container>
		</div>

		<section layout="row" layout-xs="column" layout-align="left left">
			<md-button class="md-raised md-primary"
				ng-disabled="stockForm.$invalid" ng-click="addStock()">
			</md-icon>Save</md-button>
		</section>

	</div>
</form>
</md-content> </md-content>