<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<md-content ng-if="!loading" layout-padding>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">
		<a
			ui-sref="stock.stockReceiptAdd({stockReceiptObj : tempStockReceiptObj})"><md-tooltip>
			Click go back to Receipt </md-tooltip>Receipt No. {{
			tempStockReceiptObj.itemNumber }}</a> QC Record List
	</h4>
	</md-subheader>
	<span flex></span>
	<div layout="row" flex="33" flex-sm="50" flex-xs="100">
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
		<md-button class="md-icon-button"
			ui-sref="stock.addStockReceiptQCRecord({ stockReceiptObj :tempStockReceiptObj})">
		<ng-md-icon icon="add_circle" style="fill: md-default" size="24">
		<md-tooltip> Add New </md-tooltip></ng-md-icon> </md-button>
	</div>
</section>
<div align="right">
	<md-button class="md-icon-button"
		ng-click="printStockReceiptQCRecord()">
	<ng-md-icon icon="print" style="fill: md-default" size="20">
	<md-tooltip> Print Record</md-tooltip></ng-md-icon></md-button>
</div>

<div>
	<md-table-container>
	<table md-table md-progress="promise">
		<thead ng-if="!dataTableOptions.decapitate" md-head
			md-order="query.order" md-on-reorder="logOrder">
			<tr md-row>
				<th md-column>Sr. No.</th>
				<th md-column md-order-by="machineQc.qcName">QC Name</th>
				<th md-column>Note</th>
				<th md-column md-order-by="validFrom">Created Date</th>
				<th md-column>Actions</th>
			</tr>
		</thead>

		<tbody md-body>
			<tr md-row
				ng-repeat="qcRecord in stockreceipt_qcrecordList | filter: searchText | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
				<td md-cell>{{ $index + 1 }}</td>
				<td md-cell>{{qcRecord.qcStockReceipt.qcName}}</td>
				<td md-cell>{{qcRecord.note}}</td>
				<td md-cell>{{qcRecord.createdDate | formatDate}}</td>
				<td md-cell>
					<section layout="row">
						<md-button class="md-icon-button"
							ui-sref="stock.addStockReceiptQCRecord({stockReceiptQCRecordObj: qcRecord, tempReceiptObj : tempStockReceiptObj})">
						<ng-md-icon icon="edit" style="fill: md-default" size="20">
						<md-tooltip> Edit</md-tooltip></ng-md-icon></md-button>
				</td>
				</section>
				</td>
			</tr>
		</tbody>
	</table>
	</md-table-container>
	<md-table-pagination md-limit="query.limit"
		md-limit-options="dataTableOptions.limitOptions" md-page="query.page"
		md-total={{qcmachine_recordList.length}}
		md-page-select="dataTableOptions.pageSelect"
		md-boundary-links="dataTableOptions.boundaryLinks"
		md-on-paginate="logPagination"></md-table-pagination>
</div>
</md-content>