<md-content layout-padding> <md-content layout-wrap>
<section id="pagetoolbar" layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title"
		ng-bind="stock.id?'Edit Stock Item Type':'Add Stock Item Type'"></h4>
	</md-subheader>
	<span flex> </span>
	<div hide-xs>
		<md-button class="md-primary" id="Bulk Upload"
			ng-click="UplodeExcel($event)">Bulk Upload</md-button>
	</div>
</section>
<form name="stockForm">
	<div layout="column">
		<div layout="row" layout-xs="column">
			<md-input-container flex> <label>Item
				Name </label> <input name="itemName" ng-model="stock.itemName"
				ng-required="true">
			<div ng-messages="stockForm.itemName.$error"
				ng-if="stockForm.itemName.$submitted || stockForm.itemName.$touched">
				<div ng-message="required">This is required field.</div>
			</div>
			</md-input-container>
			<md-input-container flex> <label>Tags
				(comma separated values) </label> <input name="tags" ng-model="stock.tags"
				ng-required="false"> </md-input-container>
		</div>
		<section layout="row" layout-xs="column">
			<md-input-container flex> <label>Select
				Brand</label> <md-select placeholder="Brand" ng-model="stock.brand">
			<md-option ng-repeat="brand in stockItemBrands" ng-value="brand"
				ng-selected="stock.brand.id == brand.id">{{brand.brandName}}
			</md-option> </md-select> </md-input-container>

			<md-input-container flex> <label>Select
				Product Type</label> <md-select placeholder="Product Type"
				ng-model="stock.productType"> <md-option
				ng-repeat="productType in stockItemProductTypes"
				ng-value="productType"
				ng-selected="stock.productType.id == productType.id">{{productType.typeName}}
			</md-option> </md-select> </md-input-container>

		</section>
		<p></p>
		<section layout="row" layout-xs="column">
			<div flex>
				<md-input-container>
				<h4>Select Unit of Measure</h4>
				<md-radio-group ng-model="stock.unitOfMeasure">
				<div flex ng-repeat='unit in stockUnitList' class="row">
					<div layout="row" flex>
						<md-radio-button flex-offset="15" ng-value="unit"
							class="md-primary"> {{unit.unitName}} </md-radio-button>
					</div>
				</div>
				</md-radio-group> </md-input-container>
			</div>

			<!-- <md-input-container flex> <label>Select
				Category</label> <md-select placeholder="Category" ng-model="stock.cat">
			<md-option ng-repeat="cat in stockItemCategories" ng-value="cat"
				ng-selected="stock.cat.id==cat.id">{{cat.catName}} </md-option> </md-select> </md-input-container> -->
			<div flex layout="column">
				<md-input-container flex> <md-checkbox
					ng-model="stock.maintainAsProductionItem"
					aria-label="isProductionItem" ng-true-value="true"
					ng-false-value="false"></md-checkbox> Is Production Product
				<div>
					<p style="font-size: .8em; width: 100%; text-align: left;">
						Mark this if the product item is being produced in your company
						and want to see in BOM.</p>
				</div>
				</md-input-container>

				<md-input-container flex> <md-checkbox
					ng-model="stock.maintainStockBySerialNumber"
					aria-label="maintainStockBySerialNumber" ng-true-value="true"
					ng-false-value="false"></md-checkbox> Maintain By Serial Number
				<div>
					<p style="font-size: .8em; width: 100%; text-align: left;">
						Mark this if you want to maintain the product item stock by serial
						number. Note that you will have to use serial numbers for each
						item in Stock Receipts, Shipments, Invoices etc.</p>
				</div>
				</md-input-container>
			</div>
		</section>
		<section layout="row" layout-xs="column">
			<div flex="50">
				<h4>Select Category</h4>
				<div layout="row" layout-wrap flex>
					<div flex="50" ng-repeat="cat in stockItemCategories">
						<md-checkbox ng-checked="exists(cat, stock.categoryList)"
							ng-click="toggle(cat, stock.categoryList)"> {{
						cat.catName }} </md-checkbox>
					</div>
				</div>
			</div>
		</section>

		<div layout="row" layout-xs="column">
			<md-input-container flex> <md-checkbox
				ng-model="stock.withAdditionalExciseTax" aria-label="active"
				ng-true-value="true" ng-false-value="false" id="changer">
			With Additional Excise Tax </md-checkbox></md-input-container>

			<md-input-container flex ng-show="stock.withAdditionalExciseTax">
			<label>Excise Tax Rate(&#37)</label> <input type="number"
				ng-model="stock.exciseTaxPercenatge"
				ng-required="stock.withAdditionalExciseTax"> </md-input-container>
		</div>

		<section layout="row" layout-xs="column" layout-align="left left" ng-if="!isSaving">
			<md-button class="md-raised md-primary"
				ng-disabled="stockForm.$invalid" ng-click="addStockItemType()">
			</md-icon>Save</md-button>
		</section>
		<section layout="row" layout-xs="column" ng-if="isSaving">
			<md-button class="md-raised md-primary" ng-disabled="true">Saving...</md-button>
		</section>

	</div>
</form>
</md-content> </md-content>