<md-content layout-padding> <md-content layout-wrap>
<section id="pagetoolbar" layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title"
		ng-bind="stock.id?'Edit Stock Item Type':'Add Stock Item Type'"></h4>
	</md-subheader>
	<span flex> </span>
	<div hide-xs>
		<md-button class="md-primary" id="Bulk Upload"
			ng-click="UplodeExcel($event)">Bulk Upload</md-button>
	</div>
</section>
<form name="stockForm">
	<div layout="column">
		<div layout="row" layout-xs="column">
			<md-input-container flex> <label>Item
				Name </label> <input name="itemName" ng-model="stock.itemName"
				ng-required="true">
			<div ng-messages="stockForm.itemName.$error"
				ng-if="stockForm.itemName.$submitted || stockForm.itemName.$touched">
				<div ng-message="required">This is required field.</div>
			</div>
			</md-input-container>
			<md-input-container flex> <label>Tags
				(comma separated values) </label> <input name="tags" ng-model="stock.tags"
				ng-required="false"> </md-input-container>
		</div>
		<section layout="row" layout-xs="column">
			<md-input-container flex-gt-sm="30" flex> <label>Select
				Category</label> <md-select placeholder="Category" ng-model="stock.cat">
			<md-option ng-repeat="cat in stockItemCategories" ng-value="cat"
				ng-selected="stock.cat.id==cat.id">{{cat.catName}} </md-option> </md-select> </md-input-container>
			<span flex='15'> </span>
			<md-input-container flex> <md-checkbox
				ng-model="stock.maintainStockBySerialNumber"
				aria-label="maintainStockBySerialNumber" ng-true-value="true"
				ng-false-value="false"></md-checkbox> Maintain By Serial Number </md-input-container>
		</section>
		<section layout="row" layout-xs="column">
			<md-input-container>
			<h5>Select Unit</h5>

			<md-radio-group ng-model="stock.unitOfMeasure">
			<div flex ng-repeat='unit in stockUnitList' class="row">
				<div layout="row" layout-align="start center">
					<md-radio-button flex-offset="15" ng-value="unit"
						class="md-primary"> {{unit.unitName}} </md-radio-button>
				</div>
			</div>
			</md-radio-group> </md-input-container>
		</section>

		<section layout="row" layout-xs="column" layout-align="left left">
			<md-button class="md-raised md-primary"
				ng-disabled="stockForm.$invalid" ng-click="addStockItemType()">
			</md-icon>Save</md-button>
		</section>

	</div>
</form>
</md-content> </md-content>