<md-content layout-padding>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">Stock Receipt List</h4>
	</md-subheader>
	<span flex></span>
	<div layout="row" flex="33" flex-sm="50" flex-xs="100">
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
	</div>
	<md-button class="md-icon-button" ui-sref="stock.stockReceiptAdd">
	<ng-md-icon icon="add_circle" style="fill: md-default" size="24">
	<md-tooltip> Add New </md-tooltip></ng-md-icon> </md-button>
</section>

<div>
	<md-data-table-container>
	<table md-data-table class="md-primary" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onorderchange">
			<tr>
				<th name="Stock Receipt No." order-by="receiptNumber"></th>
				<th name="Receipt Date" order-by="createdDate"></th>
				<th name="Supplier Name" order-by="customer.companyName"></th>
				<th name="Actions"></th>
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="stockReceipt in stockReceiptList | filter: searchText | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">

				<td>{{stockReceipt.receiptNumber}}</td>
				<td>{{stockReceipt.createdDate | formatDate}}</td>
				<td>{{stockReceipt.customer.isCompany?stockReceipt.customer.companyName:(stockReceipt.customer.firstName
					+' '+ stockReceipt.customer.lastName)}}</td>
				<td>
					<section layout="row">
						<!-- <md-button class="md-icon-button"
							ui-sref="stockReceipt.view({selectedstockReceiptNo: stockReceipt.id})">
						<ng-md-icon icon="receipt" style="fill: md-default" size="20">
						<md-tooltip> View Stock Receipt</md-tooltip></ng-md-icon></md-button> -->
						<md-button class="md-icon-button"
							ui-sref="stock.stockReceiptAdd({stockReceiptObj: stockReceipt})">
						<ng-md-icon icon="edit" style="fill: md-default" size="20">
						<md-tooltip> Edit</md-tooltip></ng-md-icon></md-button>
						<!-- <md-button class="md-icon-button"
							ng-click="updatePaidStatus(stockReceipt.id)"> <ng-md-icon
							icon="done" style="fill: md-default" size="20"> <md-tooltip>
						Paid</md-tooltip></ng-md-icon></md-button> -->
						<md-button class="md-icon-button"
							ng-click="printstockReceipt(stockReceipt.id)"> <ng-md-icon
							icon="print" style="fill: md-default" size="20"> <md-tooltip>
						Print Stock Receipt</md-tooltip></ng-md-icon></md-button>
						<!-- <md-button class="md-icon-button"
							ng-click="updateNotPaidStatus(selectedstockReceiptNo)">
						<ng-md-icon icon="clear" style="fill: md-default" size="20">
						<md-tooltip> Not Paid</md-tooltip></ng-md-icon></md-button> -->
					</section>
				</td>
			</tr>
		</tbody>
	</table>

	<md-data-table-pagination md-limit="query.limit" md-page="query.page"
		md-total={{stockReceiptList.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</md-data-table-container>
</div>
</md-content>