<div layout="column">
	<div>
		<div layout-fill>
			<section layout="row" layout-fill style="margin: 0; padding: 0"
				id="viewToolbar">
				<md-content layout="row" layout-align="center start"> <md-button
					class="md-icon-button" aria-label="prev" ng-click="back()">
				<md-tooltip> go back</md-tooltip> <md-icon
					md-svg-icon="img/icons/ic_reply_black_24px.svg"
					aria-label="go back"></md-icon> </md-button> <md-menu> <md-button
					aria-label="Open demo menu" class="md-primary"
					ng-click="openPurchaseMenu($mdOpenMenu, $event)">
				Purchase </md-button> <md-menu-content width="4">
				<p class="md-subhead md-primary"
					style="padding: 0 0 0 5px; margin: 0 0 0 0">Purchase Menu</p>
				<md-menu-divider></md-menu-divider> <md-button
					ui-sref="stock.requisitionList" ng-click="close()"
					class="md-primary"
					style="margin: 0 0 1px 0; border-radius: 10px 10px 10px 10px;">
				Requisitions</md-button> <md-menu-divider></md-menu-divider> <md-button
					ui-sref="stock.purchaseOrderList" ng-click="close()"
					class="md-primary"
					style="margin: 0 0 1px 0; border-radius: 10px 10px 10px 10px;">
				Purchase Orders</md-button> <md-menu-divider></md-menu-divider> </md-menu-content> </md-menu> <md-menu>
				<md-button aria-label="Open demo menu" class="md-primary"
					ng-click="openSalesMenu($mdOpenMenu, $event)"> Sales </md-button> <md-menu-content
					width="4">
				<p class="md-subhead md-primary"
					style="padding: 0 0 0 5px; margin: 0 0 0 0">Sales Menu</p>
				<md-menu-divider></md-menu-divider> <md-button
					ui-sref="stock.quotation_list" ng-click="close()"
					class="md-primary"
					style="margin: 0 0 1px 0; border-radius: 10px 10px 10px 10px;">
				Quotations</md-button> <md-menu-divider></md-menu-divider> <md-button
					ui-sref="stock.invoice_list" ng-click="close()" class="md-primary"
					style="margin: 0 0 1px 0; border-radius: 10px 10px 10px 10px;">
				Invoices</md-button> <md-menu-divider></md-menu-divider> <md-button
					ui-sref="stock.invoice_settings"
					ng-show="hasUserAuthority(curUser, 'Invoice.ModuleAdmin')"
					class="md-primary"
					style="margin: 0 0 1px 0; border-radius: 10px 10px 10px 10px;">
				Invoices Settings</md-button> <md-menu-divider></md-menu-divider> </md-menu-content> </md-menu> <md-button
					ui-sref="stock.stockItemList" ng-click="close()" class="md-primary">
				Current Stock</md-button> <md-button ui-sref="stock.stockReceiptList"
					ng-click="close()" class="md-primary"> Stock Receipts</md-button> <md-button
					ui-sref="stock.stockShipmentList" ng-click="close()"
					class="md-primary"> Stock Shipments</md-button> <md-button
					ui-sref="stock.stockItemTypeList" ng-click="close()"
					class="md-primary"> Stock Items</md-button> <!-- <md-button
				ui-sref="stock.supplierList" ng-click="close()" class="md-primary">
			Suppliers </md-button> <md-button ui-sref="stock.reportByTaxPaid" ng-click="close()"
					class="md-primary">
				<md-icon md-svg-src="img/icons/ic_trending_flat_black_24px.svg"
					ui-sref="warehouse.add" class="name"
					style="color: Green; height: 15px; width: 15px"></md-icon> Tax Paid
				</md-button>

				<md-button ui-sref="stock.reportByTaxRecived" ng-click="close()"
					class="md-primary">
				<md-icon md-svg-src="img/icons/ic_trending_flat_black_24px.svg"
					class="name" style="color: Green; height: 15px; width: 15px"></md-icon>
				Tax Collection </md-button> --> </md-content>
				<span flex></span>
				<md-button ng-show="hasUserAuthority(curUser, 'Stock.ModuleAdmin')"
					layout-align="center end" class="md-icon-button md-accent"
					ui-sref="stock.settings" aria-label="Favorite"> <md-icon
					md-svg-icon="img/icons/ic_settings_black_24px.svg"> <md-tooltip>Stock
				Settings</md-tooltip></md-icon> </md-button>
				<md-button class="md-icon-button" aria-label="More"
					ng-click="toggleRight()"> <md-icon
					md-svg-icon="img/icons/more_vert.svg"></md-icon> </md-button>

			</section>
		</div>

		<md-sidenav class="md-sidenav-right md-whiteframe-z2"
			md-component-id="right"> <md-toolbar
			class="md-theme-light"> <!--<h1 class="md-toolbar-tools">More Actions...</h1>-->
		</md-toolbar> <md-content layout-padding> <md-button
			ui-sref="stock.supplierList" ng-click="close()" class="md-primary">
		Suppliers </md-button> <md-button ui-sref="stock.warehouseList" ng-click="close()"
			class="md-primary"> Warehouses</md-button> <md-button
			ui-sref="stock.budgetList" ng-click="close()" class="md-primary">Budget</md-button>
		<md-button ui-sref="stock.taxlist" ng-click="close()"
			class="md-primary"> Tax List </md-button> <md-button
			ui-sref="stock.stockReceiptQCList" ng-click="close()"
			class="md-primary"> Stock Receipt QC Master</md-button> <!-- <md-button
		ui-sref="stock.taxadd" ng-click="close()" class="md-primary">
	<md-icon md-svg-src="img/icons/ic_queue_black_24px.svg"
		ui-sref="warehouse.add" class="name"
		style="color: Green; height: 20px; width: 20px"></md-icon> Add Tax </md-button>  
		<md-button
		ui-sref="stock.taxlist" ng-click="close()" class="md-primary">
	<md-icon md-svg-src="img/icons/ic_view_list_black_24px.svg"
		ui-sref="warehouse.add" class="name"
		style="color: Green; height: 20px; width: 20px"></md-icon> Tax List </md-button>  <md-button
		ui-sref="stock.warehouseAdd" ng-click="close()" class="md-primary">
	Add Warehouse</md-button> <md-button ui-sref="stock.warehouseList"
		ng-click="close()" class="md-primary"> Warehouse List</md-button> <md-button
		ui-sref="purchaseOrder" ng-click="close()" class="md-primary">
	Purchase Module</md-button> -->

		<h3>
			<md-icon md-svg-src="img/icons/ic_receipt_black_24px.svg"
				ui-sref="warehouse.add" class="name"
				style="color: Green; height: 20px; width: 20px"></md-icon>
			<u>Reports</u>
		</h3>
		<md-button ui-sref="stock.reportByThreshold" ng-click="close()"
			class="md-primary"> <md-icon
			md-svg-src="img/icons/ic_trending_flat_black_24px.svg"
			ui-sref="warehouse.add" class="name"
			style="color: Green; height: 15px; width: 15px"></md-icon> Stock By
		Threshold </md-button> <md-button ui-sref="stock.reportByWarehouse"
			ng-click="close()" class="md-primary"> <md-icon
			md-svg-src="img/icons/ic_trending_flat_black_24px.svg"
			ui-sref="warehouse.add" class="name"
			style="color: Green; height: 15px; width: 15px"></md-icon> Stock By
		Warehouse </md-button> <md-button ui-sref="stock.reportStockTransaction"
			ng-click="close()" class="md-primary"> <md-icon
			md-svg-src="img/icons/ic_trending_flat_black_24px.svg"
			ui-sref="warehouse.add" class="name"
			style="color: Green; height: 15px; width: 15px"></md-icon> Stock
		Transaction Report </md-button> <md-button ui-sref="stock.reportByTaxPaid"
			ng-click="close()" class="md-primary"> <md-icon
			md-svg-src="img/icons/ic_trending_flat_black_24px.svg"
			ui-sref="warehouse.add" class="name"
			style="color: Green; height: 15px; width: 15px"></md-icon> Tax Paid </md-button>
		<md-button ui-sref="stock.reportByTaxRecived" ng-click="close()"
			class="md-primary"> <md-icon
			md-svg-src="img/icons/ic_trending_flat_black_24px.svg"
			ui-sref="warehouse.add" class="name"
			style="color: Green; height: 15px; width: 15px"></md-icon> Tax
		Collection </md-button> </md-content> </md-sidenav>
	</div>

	<div ui-view layout-padding>
		<!-- sample dashboards -->
		<div layout="row" layout-xs="column">
			<md-card layout-padding layout="column" flex="45" flex-xs="95">
			<p flex align="center">Purchase Dashboard</p>
			<table class="table" style="border: 1px solid black;">
				<tr>
					<td style="border: 1px solid black; width: 60%; overflow: hidden">Purchase
						Orders Due Today</td>
					<td style="border: 1px solid black;"><md-button
							class="md-icon-button" ng-click="viewPOsDueToday($event)">
						<ng-md-icon icon="pageview" style="fill: md-default" size="20">
						<md-tooltip> View</md-tooltip></ng-md-icon></md-button> of follow-up pending <a href="">
							2</a></td>
				</tr>
				<tr>
					<td style="border: 1px solid black;">Purchase Orders Due in
						next 3 Days</td>
					<td style="border: 1px solid black;"><md-button
							class="md-icon-button" ng-click="viewPOsDueInThreeDays($event)">
						<ng-md-icon icon="pageview" style="fill: md-default" size="20">
						<md-tooltip> View</md-tooltip></ng-md-icon></md-button> of follow-up pending <a href="">
							7</a></td>
				</tr>
				<tr>
					<td style="border: 1px solid black;">Purchase Orders Due in
						next 7 Days</td>
					<td style="border: 1px solid black;"><md-button
							class="md-icon-button" ng-click="viewPOsDueInSevenDays($event)">
						<ng-md-icon icon="pageview" style="fill: md-default" size="20">
						<md-tooltip> View</md-tooltip></ng-md-icon></md-button> of follow-up pending <a href="">
							15</a></td>
				</tr>
				<tr>
					<td style="border: 1px solid black;">Total Purchase Orders Due</td>
					<td style="border: 1px solid black;"><md-button
							class="md-icon-button" ng-click="viewTotalPOsFinalized($event)">
						<ng-md-icon icon="pageview" style="fill: md-default" size="20">
						<md-tooltip> View</md-tooltip></ng-md-icon></md-button></td>
				</tr>
			</table>
			</md-card>
			<md-card layout-padding layout="column" flex="45" flex-xs="95">
			<p flex align="center">Stock Dashboard</p>

			<table class="table" style="border: 1px solid black;">
				<tr>
					<td style="border: 1px solid black; width: 85%; overflow: hidden">Stock
						Items below Re-order Level</td>
					<td style="border: 1px solid black;"><a href="">6 </a></td>
				</tr>
				<tr>
					<td style="border: 1px solid black;">Stock Items Not-in-Hand
						against Production Requistions</td>
					<td style="border: 1px solid black;"><a href="">14 </a></td>
				</tr>
				<tr>
					<td style="border: 1px solid black;">Purchase Orders Due in
						next 7 Days</td>
					<td style="border: 1px solid black;"><a href="">17 </a></td>
				</tr>
				<tr>
					<td style="border: 1px solid black;">Total Purchase Orders Due</td>
					<td style="border: 1px solid black;"></td>
				</tr>
			</table>
			</md-card>
		</div>

	</div>
</div>