<md-subheader class="md-primary">
<h4 class="md-title"
	ng-bind="tempStockReceiptQCDailyRecordObj.id?'Edit QC Record':'Add QC Record'"></h4>
</md-subheader>

<form name="addStockReceiptQCRecordFom">
		<md-input-container flex> <label>Stock Receipt
			QC Name</label> <md-select name="qcStockReceipt" ng-model="tempRecepitQCObj.qcStockReceipt"
			ng-change="getStockReceiptQCDailyRecord(tempRecepitQCObj.qcStockReceipt)" ng-required="true">
		<md-option ng-repeat="stockReceiptQc in qcstockReceiptList"
			ng-selected="stockReceiptQc.id==qcStcockReceipt.id"
			ng-value="stockReceiptQc">{{stockReceiptQc.qcName}}</md-option> </md-select>
		<div ng-messages="addStockReceiptQCRecordFom.qcStockReceipt.$error"
			ng-if="addStockReceiptQCRecordFom.qcStockReceipt.$submitted || addStockReceiptQCRecordFom.qcStockReceipt.$touched">
			<div ng-message="required">Please Select Stock Receipt.</div>
		</div>
		</md-input-container>
	</div>

	<div>
		<md-table-container ng-if="isTableShow">
		<table md-table md-progress="promise">
			<tbody md-body>
				<tr md-row>
					<td md-cell width="20%">QC Parameter Name</td>
					<td md-cell>QC Parameter Value</td>
				</tr>
				<tr md-row ng-repeat="tempParam in tempRecepitQCObj.paramRecordedValues track by $index">
					<td md-cell ng-model="tempParam.parameterName">{{ tempParam.parameterName }}</td>
					<td md-cell><md-input-container
							flex style="padding-left:2px; padding-right:0px;">
						<label>Enter Value</label> <input
							ng-model="tempParam.recordedValue"> </md-input-container></td>
				</tr>
			</tbody>
		</table>
		</md-table-container>
	</div>
	<div ng-if="isTableShow">
		<section layout="row" layout-xs="column">
			<md-button class="md-raised md-primary" ng-if="!tempStockReceiptQCDailyRecordObj.id"
				ng-click="addStockReceiptQCRecord()">Save</md-button>
			<md-button class="md-raised md-primary" ng-if="tempStockReceiptQCDailyRecordObj.id"
				ng-click="addStockReceiptQCRecord()">Update</md-button>	
		</section>
	</div>
</form>