<md-content layout-padding>
<section id="pagetoolbar" layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">Stock Items</h4>
	</md-subheader>
	<span flex> </span>
	<md-input-container flex-gt-xs="25"> <label>Search</label>
	<input ng-model="searchText"> </md-input-container>
	<md-button class="md-icon-button" ui-sref="stock.stockItemAdd">
	<ng-md-icon icon="add_circle" style="fill: md-default" size="24">
	<md-tooltip> Add New </md-tooltip></ng-md-icon> </md-button>
</section>

<div id="stockTable">
	<md-data-table-container>
	<table md-data-table md-progress="deferred">
		<thead md-order="query.order" md-trigger="onOrderChange">
			<tr>
				<th name="Item No" order-by="itemNumber"></th>
				<th name="Item Name" order-by="itemName"></th>
				<th name="Category" order-by="category"></th>
				<th name="Actions"></th>
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="stockItem in stockItemList | orderBy: query.order| filter: searchText | limitTo: query.limit: (query.page - 1) * query.limit"">
				<td>{{stockItem.itemNumber}}</td>
				<td>{{stockItem.itemName}}</td>
				<td>{{stockItem.category}}</td>
				<td><md-button class="md-icon-button"
						ui-sref="stock.stockItemAdd({selectedStockItem: stockItem})">
					<ng-md-icon icon="edit" style="fill: md-default" size="24">
					<md-tooltip> Edit Record</md-tooltip></ng-md-icon></md-button></td>
			</tr>
		</tbody>
	</table>
	<md-data-table-pagination md-limit="query.limit" md-page="query.page"
		md-total={{stockItemList.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</md-data-table-container>
</div>
</md-content>
