<md-content layout-padding>
<section id="pagetoolbar" layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">Warehouse List</h4>
	</md-subheader>
	<span flex> </span>
	<md-input-container flex-gt-xs="25"> <label>Search</label>
	<input ng-model="searchText"> </md-input-container>
</section>

<div>
	<md-data-table-container>
	<table md-data-table md-progress="deferred">
		<thead md-order="query.order" md-trigger="onOrderChange">
			<tr>
				<th name="Warehouse Name" order-by="warehouseName"></th>
				<th name="Description"></th>
				<th name="Address1" order-by="address.city"></th>
				<th name="PIN" order-by="address.pin"></th>
				<th name="Actions"></th>
			</tr>
		</thead>

		<tbody>
			<tr
				ng-repeat="warehouse in warehouses | orderBy: query.order | filter: searchText | limitTo: query.limit: (query.page - 1) * query.limit">
				<td>{{warehouse.warehouseName}}</td>
				<td>{{warehouse.description}}</td>
				<td>{{warehouse.address.city}}</td>
				<td>{{warehouse.address.pin}}</td>
				<td><md-button class="md-icon-button"
						ui-sref="stock.warehouseAdd({selectedWarehouse: warehouse})">
					<ng-md-icon icon="edit" style="fill: md-default" size="24">
					<md-tooltip> Edit Record</md-tooltip></ng-md-icon></md-button></td>
			</tr>
		</tbody>
	</table>
	<md-data-table-pagination md-limit="query.limit" md-page="query.page"
		md-total={{warehouses.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</md-data-table-container>

	<!-- 		<md-data-table-toolbar class="alternate" ng-show="selected.length">
			<div>
				{{selected.length}} {{selected.length > 1 ? 'stockData' : 'stock'}} selected
			</div>
			<div>
				{{selected}}
			</div>
		</md-data-table-toolbar>
 -->
</div>

</md-content>