

<md-content layout-padding>

<div>
	<md-data-table-container>
	<div layout-sm="column" layout-align="start start" flex>

		<md-button class="md-icon-button" aria-label="prev"
			ng-click="back()"> <md-tooltip> get back to Business list</md-tooltip> <md-icon
			md-svg-icon="img/icons/ic_reply_black_24px.svg"
			aria-label="Prev Week"></md-icon> </md-button>

	</div>
	<div>
		<section layout="row" layout-align="center center" flex>
			<b><label>{{businessName}}</label></b></section>
		<section layout="row" layout-align="end end" flex>
			<md-button class="md-raised md-primary" ui-sref="probusiness.adduser({BNo:businessNo})">Add
			New User</md-button>
		</section>
	</div>

	<table md-table md-progress="promise">
		<thead ng-if="!dataTableOptions.decapitate" md-head
			md-order="query.order" md-on-reorder="logOrder">
			<tr>
				<th md-column md-order-by= "fName">First Name</th>
				<th md-column md-order-by= "lName">Last Name</th>
				<th md-column md-order-by= "email">Email</th>
				<th md-column md-order-by= "Edit">Edit</th>
			</tr>
		</thead>

		<tbody md-body>
			<tr md-row
				ng-repeat="user in userlist | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">
				<td md-cell>{{user.firstName}}</td>
				<td md-cell>{{user.lastName}}</td>
				<td md-cell>{{user.email_id}}</td>

				<td md-cell>
					<section layout="row" layout-sm="column">
						<md-button class="md-raised md-primary"
							ui-sref="probusiness.userview({selecteduserNo:user.id})">View
						user</md-button>
					</section>
				</td>
			</tr>
		</tbody>
	</table>

	<md-table-pagination md-limit="query.limit"
		md-limit-options="dataTableOptions.limitOptions" md-page="query.page"
		md-total={{userlist.length}}
		md-page-select="dataTableOptions.pageSelect"
		md-boundary-links="dataTableOptions.boundaryLinks"
		md-on-paginate="logPagination"></md-table-pagination>
	</md-data-table-container>
</div>

<!-- vals: {{customers}}
<md-button ui-sref="customer.list" ng-click="getAllemp()" class="md-primary">
		Customer List in side List view 
	</md-button>--> </md-content>