<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<div ng-if="!loading">
	<section layout="row" layout-xs="column">
		<md-subheader class="md-primary">
		<h4 class="md-title">Business Plan Types</h4>
		</md-subheader>
		<span flex></span>
		<div layout="row" flex="33" flex-sm="50" flex-xs="100">
			<md-input-container flex> <label>Search
				</label> <input ng-model="searchText"> </md-input-container>
			<md-button class="md-icon-button" ui-sref="proAdmin.addAccount">
			<ng-md-icon icon="add_circle" style="fill: md-default" size="24">
			<md-tooltip> Add New </md-tooltip></ng-md-icon> </md-button>
		</div>
	</section>
	<div>
		<md-data-table-container>

		<table md-table md-progress="promise">
		<thead ng-if="!dataTableOptions.decapitate" md-head
			md-order="query.order" md-on-reorder="logOrder">
				<tr md-row>
					<th md-column md-order-by="planName">Business Plan</th>
					<th md-column md-order-by="desciption">Description</th>
					<th md-column md-order-by="maxuser">Maxuser</th>
					<th md-column >Payment Description</th>
					<th md-column >Edit</th>
				</tr>
			</thead>

			<tbody md-body>
				<tr md-row
					ng-repeat="account in accountlist | orderBy: 'maxuser' | filter: searchText | limitTo: query.limit: (query.page - 1) * query.limit"">
					<td md-cell>{{account.planName}}</td>
					<td md-cell>{{account.description}}</td>
					<td md-cell>{{account.maxuser}}</td>
					<td md-cell>{{account.paymentDesc}}</td>
					<td md-cell><section layout="row" layout-sm="column">
							<md-button class="md-icon-button"
								ui-sref="proAdmin.editAccoutType({selectedAccountType:account})">
							<ng-md-icon icon="edit" style="fill: md-default" size="20">
							<md-tooltip> Edit Plan</md-tooltip></ng-md-icon> </md-button>
						</section></td>
				</tr>
			</tbody>
		</table>

		<md-table-pagination md-limit="query.limit"
		md-limit-options="dataTableOptions.limitOptions" md-page="query.page"
		md-total={{accountlist.length}}
		md-page-select="dataTableOptions.pageSelect"
		md-boundary-links="dataTableOptions.boundaryLinks"
		md-on-paginate="logPagination"></md-table-pagination>
		</md-data-table-container>
	</div>
</div>