<div layout="column">
	<div>
		<section layout="row">
			<!-- View Specific Toolbar-->
			<div class="md-toolbar-tools">
				<span flex></span>

				<section layout="row">
					<!-- 	<md-button class="md-icon-button md-primary" aria-label="Settings">
					<md-icon md-svg-icon="img/icons/menu.svg"></md-icon> </md-button> -->

					<div layout="row" layout-align="center end" layout-sm="column">
						<a ui-sref="newBusinessAccount">Business Registration</a>

						<!-- <a target="#"  ui-sref="login">Existing user</a> -->
					</div>
					<!--
					<md-button href="#customer.list" ng-click="close()"
					class="md-primary">
					Student Registration
					</md-button>
					<md-button href="#customer.list" ng-click="close()"
					class="md-primary">
					Teacher Registration
					</md-button>

					<md-button class="md-icon-button md-accent" aria-label="Favorite">
						<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
					</md-button>-->

					<!-- 	<md-button class="md-icon-button" aria-label="More"
						ng-click="toggleRight()"> <md-icon
						md-svg-icon="img/icons/more_vert.svg"></md-icon> </md-button>
 -->
				</section>
			</div>

			<!-- Right Navigation Pane -->
			<md-sidenav class="md-sidenav-right md-whiteframe-z2"
				md-component-id="right"> <md-toolbar
				class="md-theme-light">
			<h1 class="md-toolbar-tools">Sidenav Right</h1>
			</md-toolbar> <md-content layout-padding>
			<form>
				<md-input-container> <label for="testInput">Test
					input</label> <input type="text" id="testInput" ng-model="data"
					md-sidenav-focus> </md-input-container>
			</form>
			<md-button ng-click="close()" class="md-primary"> Close
			Sidenav Right </md-button>

			<p hide-md show-gt-md>This shows the selected module
				links/actions.</p>
			<md-button ng-click="close()" class="md-primary"> Current
			Module Action 1 </md-button> <md-button ng-click="close()" class="md-primary">
			Current Module Action 2 </md-button> <md-button ng-click="close()"
				class="md-primary"> Current Module Action 3 </md-button> <md-button
				href="#customer.list" ng-click="close()" class="md-primary">
			Customer List </md-button> </md-content> </md-sidenav>

		</section>

	</div>


	<form name="homeForm">
		<div layout="column">
			<h3 class="md-display-1">Welcome to ProERP</h3>
			<hr>
			<!-- <h3 class="md-display-1">Welcome to the {{institute.name}}</h3> -->
			<p class="md-body-3">ProERP is a category of business-management
				software--typically a suite of integrated applications--that an
				organization can use to collect, store, manage and interpret data
				from many business activities, including:
			<ul>
				<li>inventory management</li>
				<li>shipping and payment</li>
				<li>finance</li>
				<li>product planning, purchase</li>
				<li>manufacturing or service delivery</li>
				<li>marketing and sales</li>
				<li>Human Resources</li>

			</ul>

			<h3 class="md-display-1">Functional Areas</h3>
			<p>
				An ERP system covers the following common functional areas. In many
				ERP systems these are called and grouped together as <i>ERP
					modules</i>:
			</p>
			<ul>
				<li><a target="#"
					href="https://en.wikipedia.org/wiki/Financial_accounting"
					title="Financial accounting">Financial accounting</a>: <a
					target="#" href="https://en.wikipedia.org/wiki/General_ledger"
					title="General ledger">General ledger</a>, <a target="#"
					href="https://en.wikipedia.org/wiki/Fixed_asset"
					title="Fixed asset">fixed asset</a>, <a target="#"
					href="https://en.wikipedia.org/wiki/Accounts_payable"
					title="Accounts payable">payables</a> including vouchering,
					matching and payment, <a target="#"
					href="https://en.wikipedia.org/wiki/Accounts_receivable"
					title="Accounts receivable">receivables</a> cash application and
					collections, <a target="#"
					href="https://en.wikipedia.org/wiki/Cash_management"
					title="Cash management">cash management</a>, <a target="#"
					href="https://en.wikipedia.org/wiki/Consolidation_(business)"
					title="Consolidation (business)">financial consolidation</a></li>
				<li><a target="#"
					href="https://en.wikipedia.org/wiki/Management_accounting"
					title="Management accounting">Management accounting</a>: <a
					target="#" href="https://en.wikipedia.org/wiki/Budgeting"
					class="mw-redirect" title="Budgeting">Budgeting</a>, costing, <a
					target="#" href="https://en.wikipedia.org/wiki/Cost_management"
					class="mw-redirect" title="Cost management">cost management</a>, <a
					target="#"
					href="https://en.wikipedia.org/wiki/Activity_based_costing"
					class="mw-redirect" title="Activity based costing">activity
						based costing</a></li>
				<li><a target="#"
					href="https://en.wikipedia.org/wiki/Human_resources"
					title="Human resources">Human resources</a>: <a target="#"
					href="https://en.wikipedia.org/wiki/Recruitment"
					title="Recruitment">Recruiting</a>, <a target="#"
					href="https://en.wikipedia.org/wiki/Training" title="Training">training</a>,
					<a target="#"
					href="https://en.wikipedia.org/wiki/Schedule_(workplace)"
					title="Schedule (workplace)">rostering</a>, <a target="#"
					href="https://en.wikipedia.org/wiki/Payroll" title="Payroll">payroll</a>,
					<a target="#" href="https://en.wikipedia.org/wiki/Employee_benefit"
					class="mw-redirect" title="Employee benefit">benefits</a>, <a
					target="#" href="https://en.wikipedia.org/wiki/Pensions"
					class="mw-redirect" title="Pensions">retirement and pension
						plans</a>, <a target="#"
					href="https://en.wikipedia.org/wiki/Diversity_(business)"
					title="Diversity (business)">diversity management</a>, <a
					target="#" href="https://en.wikipedia.org/wiki/Retirement"
					title="Retirement">retirement</a>, <a target="#"
					href="https://en.wikipedia.org/wiki/Employee_exit_management"
					title="Employee exit management">separation</a></li>
				<li>Manufacturing: <a target="#"
					href="https://en.wikipedia.org/wiki/Engineering"
					title="Engineering">Engineering</a>, <a target="#"
					href="https://en.wikipedia.org/wiki/Bill_of_materials"
					title="Bill of materials">bill of materials</a>, work orders, <a
					target="#" href="https://en.wikipedia.org/wiki/Scheduling"
					class="mw-redirect" title="Scheduling">scheduling</a>, <a
					target="#"
					href="https://en.wikipedia.org/wiki/Capacity_utilization"
					title="Capacity utilization">capacity</a>, <a target="#"
					href="https://en.wikipedia.org/wiki/Workflow_management_system"
					title="Workflow management system">workflow management</a>, <a
					target="#" href="https://en.wikipedia.org/wiki/Quality_control"
					title="Quality control">quality control</a>, manufacturing process,
					manufacturing projects, manufacturing flow, <a target="#"
					href="https://en.wikipedia.org/wiki/Product_life_cycle_management"
					class="mw-redirect" title="Product life cycle management">product
						life cycle management</a></li>
				<li>Order Processing: <a target="#"
					href="https://en.wikipedia.org/wiki/Order_to_cash"
					title="Order to cash">Order to cash</a>, order entry, credit
					checking, <a target="#"
					href="https://en.wikipedia.org/wiki/Pricing" title="Pricing">pricing</a>,
					available to promise, <a target="#"
					href="https://en.wikipedia.org/wiki/Inventory" title="Inventory">inventory</a>,
					<a target="#" href="https://en.wikipedia.org/wiki/Shipping"
					class="mw-redirect" title="Shipping">shipping</a>, sales analysis
					and reporting, sales commissioning.
				</li>
				<li><a target="#"
					href="https://en.wikipedia.org/wiki/Supply_chain_management"
					title="Supply chain management">Supply chain management</a>: Supply
					chain planning, supplier scheduling, <a target="#"
					href="https://en.wikipedia.org/wiki/Product_configurator"
					class="mw-redirect" title="Product configurator">product
						configurator</a>, <a target="#"
					href="https://en.wikipedia.org/wiki/Order_to_cash"
					title="Order to cash">order to cash</a>, <a target="#"
					href="https://en.wikipedia.org/wiki/Purchasing" title="Purchasing">purchasing</a>,
					<a target="#" href="https://en.wikipedia.org/wiki/Inventory"
					title="Inventory">inventory</a>, claim processing, <a target="#"
					href="https://en.wikipedia.org/wiki/Warehousing"
					class="mw-redirect" title="Warehousing">warehousing</a> (receiving,
					putaway, <a target="#"
					href="https://en.wikipedia.org/wiki/Order_picking"
					title="Order picking">picking</a> and <a target="#"
					href="https://en.wikipedia.org/wiki/Packaging_and_labeling"
					title="Packaging and labeling">packing</a>).</li>
				<li><a target="#"
					href="https://en.wikipedia.org/wiki/Project_management"
					title="Project management">Project management</a>: Project
					planning, resource planning, project costing, <a target="#"
					href="https://en.wikipedia.org/wiki/Work_breakdown_structure"
					title="Work breakdown structure">work breakdown structure</a>, <a
					target="#" href="https://en.wikipedia.org/wiki/Invoice"
					title="Invoice">billing</a>, time and expense, performance units,
					activity management</li>
				<li>Customer relationship management: Sales and marketing,
					commissions, service, customer contact, <a target="#" target="#"
					href="https://en.wikipedia.org/wiki/Call_center"
					class="mw-redirect" title="Call center">call center</a> support-—
					CRM systems are not always considered part of ERP systems but
					rather Business Support systems (BSS).
				</li>
				<li>Data services: Various "self–service" interfaces for
					customers, suppliers and/or employees</li>

				<p>
				<p class="md-body-3"></p>

				<p class="md-body-3"></p>
		</div>

	</form>
	<!-- <md-content> <h4>Standard date-picker</h4>
	<md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
	</md-content> -->
</div>
