<!DOCTYPE html>
<html lang="en" ng-app="stockApp" ng-controller="indexCtr">
<head>
<title>ProERP</title>
<meta name="viewport" content="initial-scale=1" />

<!--end send mail  -->
<link rel="stylesheet" href="/lib/base/css/angular-material.min.css">
<link rel="stylesheet" href="/lib/base/css/googleapi.roboto.css">
<link rel="stylesheet" href="/lib/base/css/font-awesome.css">
<link rel="stylesheet" href="/lib/base/css/bootstrap.min.css">
<link rel="stylesheet" href="/lib/base/css/md-data-table.min.css">
<link rel="stylesheet" href="/lib/base/css/textAngular.css">
<link rel="stylesheet" href="/css/accordianPane.css">
<link href="/app/AssetMangement/css/style.css" rel="stylesheet"
	type="text/css">
<link rel="stylesheet" href="/app/setup/css/checkbox.css">
<link href="app/invoice/css/style.css" rel="stylesheet" type="text/css" />
<link href="css/header.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<style>
.popover {
	float: left !important;
}
</style>
</head>
<body layout="column" ng-cloak md-theme="{{theme}}"
	md-theme-watch="true">

	<div ng-show="loading" style="padding-left: 8px;">
		<h4 class="md-title">Loading...Please wait...</h4>

		<md-progress-linear class="md-warn" md-mode="buffer" value="30"
			md-buffer-value="70" ng-disabled="false"></md-progress-linear>
	</div>
	<md-content id="topRight" ng-hide="loading"
		style="padding-left: 8px; padding-right: 8px;"> <!-- Top Navigation Pane -->
	<md-toolbar>
	<div class="md-toolbar-tools" layout="row">
		<div hide-xs>
			<img ng-show="curUser.business.logBlobKey" ng-click="show_info()"
				ng-src="{{logBaseURL}}" class="md-card-image" height="60px"
				width="120px" />
		</div>
		<span flex></span>
		<div layout="row" layout-align="end center">
			<!-- fill up the space between left and right area -->

			<div id="login" ng-show="!curUser">
				<md-button class="md-icon-button" ng-click="loginClick()">
				<ng-md-icon icon="login" style="fill: md-default" size="24">
				<md-tooltip> Login</md-tooltip></ng-md-icon></md-button>
				<md-button> <md-tooltip> Not Logged-in</md-tooltip> <img
					alt="Logo" src="img/images/ic_person_black_24px.svg" class=circular>
				</md-button>
			</div>
			<div id="logout" ng-show="curUser">
				<span hide-xs style="padding-top: 3px"
					ng-bind="curUser.firstName + ' ' + curUser.lastName"> </span>
				<md-button class="md-icon-button" ng-click="signOut()">
				<ng-md-icon icon="logout" style="fill: md-default" size="24">
				<md-tooltip> Logout</md-tooltip></ng-md-icon></md-button>
				<md-button> <md-tooltip> {{
				curUser.firstName + " " + curUser.lastName + "|" +
				curUser.email_id}} </md-tooltip> <img
					ngf-src="curUser.imageURl?curUser.imageURl: 'img/images/ic_person_black_24px.svg'"
					class=circular> </md-button>
			</div>
		</div>
	</div>

	</md-toolbar>

	<div ng-controller="AppCtrl">
		<section layout="row" flex>
			<!-- Left Navigation Pane -->
			<md-sidenav class="md-sidenav-left md-whiteframe-z2"
				md-component-id="left" md-is-locked-open="toggleMainMenuSwitch">

			<md-toolbar class="md-theme-indigo">
			<h1 class="md-toolbar-tools" ng-click="toggleMainMenu()">{{curUser.business.businessName
				+ ' <'}}</h1>
			</md-toolbar> <md-content layout="column">

			<div>
				<div class="md-accordion"
					ng-repeat="auth in curUser.userAuthMasterEntity.authorizations | orderBy: orderByAuthOrderValue"
					ng-show="curUser!=null">
					<md-toolbar ng-init="data.expanded[$index] = false"
						ng-click="data.expanded[$index] = !data.expanded[$index]">
					<div class="md-toolbar-tools">
						<h2>
							<span ng-bind="auth.authDisplayName"></span>
						</h2>
						<span flex=""></span> <span
							ng-class="{expandCollapse:true, active:data.expanded[$index]}"></span>
					</div>
					</md-toolbar>
					<!-- <div style="margin-left: 15px;"
						ng-class="{dataContent:true, activeContent:data.expanded[$index]}">
						<md-content flex layout="column" layout-xs="column"
							layout-align="center start"> <md-button
							ui-sref="{{auth.uiStateName}}" ng-click="close()"
							class="menu-heading md-primary" aria-label="auth.authDisplayName"
							ng-hide="" show-gt-md> <span
							ng-bind="auth.authDisplayName"> </span></md-button> </md-content>
					</div> -->
					<div style="margin-left: 15px;"
						ng-class="{dataContent:true, activeContent:data.expanded[$index]}">
						<md-content flex layout="column" layout-xs="column"
							layout-align="center start"> <md-button
							ng-repeat="subAuth in auth.authorizations | orderBy: orderByAuthOrderValue"
							ui-sref="{{subAuth.uiStateName}}" ng-click="close()"
							class="menu-heading md-primary"
							aria-label="subAuth.authDisplayName" ng-hide="" show-gt-md>
						<span ng-bind="subAuth.authDisplayName"> </span></md-button> </md-content>
					</div>
				</div>

				<!-- <div class="md-accordion" ng-show="curUser!=null">
					<md-toolbar ng-init="data.expanded5 = false"
						ng-click="data.expanded5 = !data.expanded5">
					<div class="md-toolbar-tools">
						<h2>
							<span>More Actions...</span>
						</h2>
						<span flex=""></span> <span
							ng-class="{expandCollapse:true, active:data.expanded5}"></span>
					</div>
					</md-toolbar>
					<div style="margin-left: 15px;"
						ng-class="{dataContent:true, activeContent:data.expanded5}">
						<md-content flex layout="column" layout-xs="column"
							layout-align="center start"> <md-button
							ng-repeat="auth in curUser.userAuthMasterEntity.authorizations"
							ui-sref="{{auth.uiStateName}}" ng-click="close()"
							class="menu-heading md-primary" aria-label="auth.authDisplayName"
							ng-hide="auth.authName == 'grfbooks'" show-gt-md> <menu-toggle
							section="child" ng-if="auth.authDisplayName === 'Setup'"></menu-toggle>
						<span ng-bind="auth.authDisplayName"> </span></md-button> </md-content>
					</div>
				</div> -->
			</div>

			</md-content> </md-sidenav>


			<md-content flex layout-padding>
			<div class="md-toolbar-tools" ng-hide="toggleMainMenuSwitch">
				<div>
					<md-button ng-click="toggleMainMenu()" class="md-fab md-mini"
						aria-label="Mini FAB"> <md-icon
						md-svg-src="img/icons/menu.svg"></md-icon> </md-button>
				</div>
			</div>
			<!-- <md-card> -->
			<div layout="column" layout-align="top stretch">
				<!--<div ng-view></div>-->
				<div ui-view>
					<!--This is the center page of all main modules for the index module. -->

				</div>

				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<md-content layout="column">
				<hr>
				<span flex>©2017-2018 ProERP Google Cloud Platform, a product
					of Protostar Consulting Services, Pune. All rights reserved. </span> </md-content>
			</div>

			<!-- </md-card>  --></md-content>

			<!--This is a botton section of the app-->
			<md-divider></md-divider>
		</section>
	</div>

	</md-content>

	<!-- </div> -->

	<!-- All JS Dependencies -->
	<!-- 	<script src="/lib/base/googleapi.client.js"></script> -->
	<script src="/lib/base/jquery.min.js"></script>
	<script src="/lib/base/bootstrap.min.js"></script>

	<!-- Angular Material Dependencies -->
	<script src="/lib/base/angular.min.js"></script>
	<script src="/lib/base/angular-animate.min.js"></script>
	<script src="/lib/base/angular-route.min.js"></script>
	<script src="/lib/base/angular-aria.min.js"></script>
	<script src="/lib/base/angular-messages.min.js"></script>
	<script src="/lib/base/angular-resource.min.js"></script>
	<script src="/lib/base/angular-material-icons.min.js"></script>


	<script src="/lib/base/angular-material.min.js"></script>
	<script src="/lib/base/md-data-table.min.js"></script>

	<script src="/lib/base/ui-bootstrap-tpls.min.js"></script>
	<script src="/lib/base/angular-ui-router.min.js"></script>
	<script src="/lib/base/xeditable.js"></script>
	<script src="/lib/base/textAngular-rangy.min.js"></script>
	<script src="/lib/base/textAngular-sanitize.min.js"></script>
	<script src="/lib/base/textAngular.min.js"></script>
	<script src="/lib/base/ngStorage.min.js"></script>
	<script src="/lib/base/google-plus-signin.js"></script>
	<script src="/lib/base/numtoword.js"></script>
	<!-- file uplode library-->

	<script src="/lib/base/ng-file-upload-shim.min.js"></script>
	<!-- for no html5 browsers support -->
	<script src="/lib/base/ng-file-upload.min.js"></script>
	<script src="/lib/base/ng-file-upload.js"></script>

	<!-- <script src="/lib/base/ui-grid.js"></script> -->

	<script src="https://apis.google.com/js/client.js"></script>
	<script src="https://apis.google.com/js/api.js"></script>
	<!-- App JS Dependencies -->
	<script src="/app/common/common.app.js"></script>
	<script src="/app/common/commonServices.js"></script>

	<!-- Load other view/service/controllers files-->
	<script src="/app/common/app.object.service.js"></script>
	<script src="/app/common/app.localdb.endpoint.service.js"></script>
	<script src="/app/common/app.google.endpoint.service.js"></script>
	<script src="/app/common/app.endpoint.service.js"></script>

	<script src="/home.ctr.js"></script>
	<!-- <script src="/app/demo/js/state.ctr.js"></script> -->
	<!-- <script src="/app/demo/js/drivefiles.js"></script> -->

	<!-- 	Customer js  -->
	<script src="/app/crm/js/customer_module.ctr.js"></script>
	<script src="/app/crm/js/customer_add.ctr.js"></script>
	<script src="/app/crm/js/customer_list.ctr.js"></script>
	<script src="/app/crm/js/customer_invoiceList.ctr.js"></script>
	<script src="/app/crm/js/customer_sOlist.ctr.js"></script>
	<script src="/app/crm/js/crm_ViewContactsList.js"></script>
	<!-- 	<script src="/app/customer/js/customer_edit.ctr.js"></script> -->
	<!-- 	Complete Customre js  -->

	<!-- 	Account js  -->

	<script src="/app/account/js/account_module.ctr.js"></script>
	<script src="/app/account/js/account_add.ctr.js"></script>
	<script src="/app/account/js/account_income.ctr.js"></script>
	<script src="/app/account/js/account_payable.ctr.js"></script>
	<script src="/app/account/js/account_receivable.ctr.js"></script>
	<script src="/app/account/js/account_payableList.ctr.js"></script>
	<script src="/app/account/js/account_receivableList.ctr.js"></script>
	<script src="/app/demo/js/fileUpload.ctr.js"></script>
	<!-- 	Complete Account js  -->

	<!-- Accounting entity -->

	<script src="/app/accounting/js/accounting_module.ctr.js"></script>
	<script src="/app/accounting/js/addacountCtr.ctr.js"></script>
	<script src="/app/accounting/js/accountlistCtr.ctr.js"></script>
	<script src="/app/accounting/js/account_addGeneralEntry.ctr.js"></script>
	<script src="/app/accounting/js/account_addEntry.ctr.js"></script>
	<script src="/app/accounting/js/account_entryList.ctr.js"></script>
	<script src="/app/accounting/js/accountGroupAdd.js"></script>
	<script src="/app/accounting/js/accountGroupEdit.js"></script>
	<script src="/app/accounting/js/accountGroupList.js"></script>
	<script src="/app/accounting/js/accountGroupView.ctr.js"></script>
	<script src="/app/accounting/js/accountChart.ctr.js"></script>
	<script src="/app/accounting/js/accountGroupView.ctr.js"></script>
	<script src="/app/accounting/js/account_Edit.js"></script>
	<script src="/app/accounting/js/voucherSalesCtr.ctr.js"></script>
	<script src="/app/accounting/js/voucherSalesListCtr.ctr.js"></script>
	<script src="/app/accounting/js/voucherRecieptCtr.ctr.js"></script>


	<script src="/app/accounting/js/voucherRecieptListCtr.ctr.js"></script>

	<script src="/app/accounting/js/voucherPurchesCtr.ctr.js"></script>
	<script src="/app/accounting/js/voucherPurchesListCtr.ctr.js"></script>




	<script src="/app/accounting/js/voucherRecieptListCtr.ctr.js"></script>
	<script src="/app/accounting/js/accountTrialBalance.ctr.js"></script>

	<script src="/app/accounting/js/accountBalanceSheet.js"></script>
	<script src="/app/accounting/js/generallistCtr2.ctr.js"></script>

	<!-- Complete Accounting entity -->




	<!-- 	Journal js  -->

	<script src="/app/journal/js/journal_module.ctr.js"></script>
	<script src="/app/journal/js/journal_addEntry.ctr.js"></script>
	<script src="/app/journal/js/journal_entryList.ctr.js"></script>

	<!-- 	Complete Journal js  -->


	<!-- 	Warehouse js  -->
	<!-- 	<script src="/app/warehouse/js/warehouse_module.ctr.js"></script>
	<script src="/app/warehouse/js/warehouse_add.ctr.js"></script>
	<script src="/app/warehouse/js/warehouse_list.ctr.js"></script>
	<script src="/app/warehouse/js/warehouse_edit.ctr.js"></script>
 -->
	<!-- 	Complete Warehouse js  -->

	<!-- 	Invoice js  -->
	<script src="/app/invoice/js/invoice_module.ctr.js"></script>
	<script src="/app/invoice/js/invoice_add.ctr.js"></script>
	<script src="/app/invoice/js/invoice_list.ctr.js"></script>
	<script src="/app/invoice/js/invoice_view.ctr.js"></script>
	<script src="/app/invoice/js/invoice_edit.ctr.js"></script>
	<script src="/app/invoice/js/invoice_settings.ctr.js"></script>
	<!-- 	Complete Invoice js  -->

	<!-- 	Stock js  -->
	<script src="/app/stock/js/stock_module.ctr.js"></script>
	<script src="/app/stock/js/stockItem_add.ctr.js"></script>
	<!-- 	<script src="/app/stock/js/stockItem_edit.ctr.js"></script> -->
	<script src="/app/stock/js/stockItem_list.ctr.js"></script>
	<script src="/app/report/js/stock_reportByThreshold.ctr.js"></script>
	<script src="/app/report/js/stock_reportByWarehouse.ctr.js"></script>
	<script src="/app/report/js/tax_reportByTaxPaid.ctr.js"></script>
	<script src="/app/report/js/tax_reportByTaxReceived.ctr.js"></script>

	<!-- 	Warehouse js  -->
	<!-- 	<script src="/app/stock/js/warehouse_module.ctr.js"></script> -->
	<script src="/app/stock/js/warehouse_add.ctr.js"></script>
	<script src="/app/stock/js/warehouse_list.ctr.js"></script>
	<!-- 	<script src="/app/stock/js/warehouse_edit.ctr.js"></script> -->
	<!-- 	Complete Warehouse js  -->

	<!-- 	Complete Stock js  -->

	<!--<script src="/app/invoice/js/invoice.ctr.js"></script>
		<script src="/app/fileupload/js/fileupload.ctr.js"></script>-->

	<script src="/app/test/js/table.demo.data.service.js"></script>
	<script src="/app/demo/js/table.demo.withservice.ctr2.js"></script>

	<!-- 	Tax js  -->
	<script src="/app/tax/js/tax.ctr.js"></script>
	<!-- 	Complete Tax js  -->

	<!-- 	Student js  -->
	<script src="/app/student/js/student_module.ctr.js"></script>
	<script src="/app/student/js/student.ctr.js"></script>
	<script src="/app/student/js/student.list.ctr.js"></script>
	<!-- 	Complete Student js  -->

	<!-- 	Sales Order js  -->
	<script src="/app/sales/js/salesOrder_add.ctr.js"></script>
	<script src="/app/sales/js/salesOrder_list.ctr.js"></script>
	<script src="/app/sales/js/salesOrder_view.ctr.js"></script>
	<script src="/app/sales/js/salesOrder_module.ctr.js"></script>
	<script src="/app/sales/js/salesOrder_edit.ctr.js"></script>
	<!-- 	Complete Sales Order js  -->

	<!-- 	Purchase Order js  -->
	<!-- <script src="/app/purchase/js/purchaseOrder_add.ctr.js"></script>
	<script src="/app/purchase/js/purchaseOrder_list.ctr.js"></script>
	<script src="/app/purchase/js/purchaseOrder_view.ctr.js"></script>
	<script src="/app/purchase/js/purchaseOrder_module.ctr.js"></script>
	<script src="/app/purchase/js/purchaseOrder_edit.ctr.js"></script>
	<script src="/app/purchase/js/supplier_add.ctr.js"></script>
	<script src="/app/purchase/js/supplier_list.ctr.js"></script> -->
	<!-- 	Complete Purchase Order js  -->

	<!-- 	hr js  -->
	<script src="/app/hr/js/hr.ctr.js"></script>
	<script src="/app/hr/js/hr.ctr.add.js"></script>
	<script src="/app/hr/js/hr.ctr.emplist.js"></script>
	<script src="/app/hr/js/hr.ctr.empview.js"></script>
	<script src="/app/hr/js/hr.ctr.addupdatesalstruct.js"></script>
	<script src="/app/hr/js/hr.ctr.empdoc.js"></script>
	<script src="/app/hr/js/hr.ctr.emplist_to_ganeratesalslip.js"></script>
	<script src="/app/hr/js/hr.ctr.selected_Employeesalaryslip.js"></script>
	<script src="/app/hr/js/LeaveDetails.js"></script>
	<script src="/app/hr/js/SalaryMaster.js"></script>
	<script src="/app/hr/js/MonthlyPaymentDetail.js"></script>
	<!-- complete	hr js  -->


	<!-- 	hr js  -->
	<script src="/app/hr/js/hr.ctr.js"></script>
	<script src="/app/hr/js/hr.ctr.add.js"></script>
	<script src="/app/hr/js/hr.ctr.emplist.js"></script>
	<script src="/app/hr/js/hr.ctr.addupdatesalstruct.js"></script>
	<script src="/app/hr/js/hr.ctr.empdoc.js"></script>
	<script src="/app/hr/js/hr.ctr.emsalslipstruct.js"></script>
	<script src="/app/hr/js/hr.ctr.emplist_to_ganeratesalslip.js"></script>
	<script src="/app/hr/js/hr.ctr.timesheet.js"></script>
	<script src="/app/hr/js/payRollReports.js"></script>
	<!-- complete	hr js  -->

	<!-- 	hr js  -->
	<script src="/app/hr/js/hr.ctr.js"></script>
	<script src="/app/hr/js/hr.ctr.add.js"></script>
	<script src="/app/hr/js/hr.ctr.emplist.js"></script>
	<script src="/app/hr/js/hr.ctr.empview.js"></script>
	<script src="/app/hr/js/hr.ctr.addupdatesalstruct.js"></script>
	<script src="/app/hr/js/hr.ctr.empdoc.js"></script>
	<script src="/app/hr/js/hr.ctr.emsalslipstruct.js"></script>
	<script src="/app/hr/js/hr.ctr.emplist_to_ganeratesalslip.js"></script>
	<script src="/app/hr/js/hr.ctr.selected_Employeesalaryslip.js"></script>
	<!-- complete	hr js  -->

	<!-- CRM Js -->
	<script src="/app/crm/js/crm_lead.js"></script>
	<script src="/app/crm/js/crm_lead_view.js"></script>
	<script src="/app/crm/js/crm_contacts.js"></script>
	<script src="/app/crm/js/crm_opportunity.js"></script>
	<script src="/app/crm/js/crm_module.js"></script>
	<script src="/app/crm/js/crm_contactsList.js"></script>
	<script src="/app/crm/js/crm_leadList.js"></script>
	<script src="/app/crm/js/crm_opportunityList.js"></script>


	<!-- setup module js -->

	<script src="/app/setup/js/setup_module.js"></script>
	<script src="/app/setup/js/setup_headerfooter.js"></script>
	<script src="/app/setup/js/setup_adduser.js"></script>
	<script src="/app/setup/js/setup_viewuser.js"></script>
	<script src="/app/setup/js/setup_changePlan.js"></script>
	<script src="/app/setup/js/disclaimer.js"></script>
	<script src="/app/setup/js/userlist.js"></script>
	<script src="/app/setup/js/sendmail.js"></script>

	<script src="/app/setup/js/setup_changetheme.js"></script>
	<script src="/app/setup/js/setup_setLogo.js"></script>
	<script src="/app/setup/js/manage_user_auth.ctr.js"></script>
	<script src="/app/setup/js/setup_departmentList.js"></script>


	<!--  profile js -->
	<script src="/app/profile/js/profilemodule.js"></script>
	<script src="/app/profile/js/getAllSalSlip.js"></script>
	<script src="/app/profile/js/viewProfile.js"></script>
	<script src="/app/profile/js/changePassword.js"></script>
	<!-- login user -->

	<script src="/app/login/js/login_module.ctr.js"></script>
	<script src="/app/login/js/newUser_student.ctr.js"></script>

	<script src="/app/myprofile/js/myprofile_update.ctr.js"></script>
	<script src="/app/myprofile/js/myprofile.ctr.js"></script>

	<script src="/app/login/js/needBusinessAccount.ctr.js"></script>
	<script src="/app/login/js/newBusinessAccount.ctr.js"></script>



	<!-- use for ganerating pdf -->
	<!--    <script type="text/javascript" src="/app/hr/js/jspdf.min.js"></script>

   
    <script src="/app/crm/js/crm_lead.js"></script>
   <script src="/app/crm/js/crm_lead_view.js"></script>
   <script src="/app/crm/js/crm_contacts.js"></script>
      <script src="/app/crm/js/crm_opportunity.js"></script>
  <!--  lead js -->

	<!-- setup module js -->

	<script src="/app/setup/js/setup_module.js"></script>
	<script src="/app/setup/js/setup_headerfooter.js"></script>
	<script src="/app/setup/js/EditBusiness.js"></script>



	<!-- Document -->
	<script src="/app/Document/js/document.js"></script>
	<script src="/app/Email/js/email.js"></script>

	<!--asset management   -->
	<script src="/app/AssetMangement/js/AssetMgmtModule.js"></script>
	<script src="/app/AssetMangement/js/AssignupdateAsset.js"></script>
	<script src="/app/AssetMangement/js/AddAsset.js"></script>
	<script src="/app/AssetMangement/js/ListAsset.js"></script>

	<script src="/app/taskmanagement/js/task_module.ctr.js"></script>


	<!-- use for ganerating pdf -->
	<!--    <script type="text/javascript" src="/app/hr/js/jspdf.min.js"></script>

	<!-- proadmin -->
	<script src="/app/ProAdmin/js/probusinesslist.js"></script>
	<script src="/app/ProAdmin/js/manage_institute_auth.ctr.js"></script>
	<script src="/app/ProAdmin/js/ProAdmin.js"></script>
	<script src="/app/ProAdmin/js/AddAccountType.js"></script>
	<script src="/app/ProAdmin/js/ListAccountType.js"></script>
	<script src="/app/ProAdmin/js/manage_auth_master.ctr.js"></script>

	<!-- setup module js -->
	<script src="/app/setup/js/setup_module.js"></script>
	<script src="/app/setup/js/setup_headerfooter.js"></script>

	<!-- login -->
	<script src="/app/login1/js/login.js"></script>


	<!-- Document -->
	<script src="/app/Document/js/document.js"></script>
	<script src="/app/Email/js/email.js"></script>

	<!-- initsetup -->
	<script src="/app/initsetup/js/initsetup.js"></script>

	<script src="index.ctr.js"></script>

</body>
</html>