<!DOCTYPE html>
<html lang="en" ng-app="stockApp" ng-controller="indexCtr">
<head>
<title>ProERP</title>
<meta name="viewport" content="initial-scale=1" />

<!--end send mail  -->
<link rel="stylesheet" href="/lib/base/css/angular-material.min.css">
<link rel="stylesheet" href="/lib/base/css/googleapi.roboto.css">
<link rel="stylesheet" href="/lib/base/css/font-awesome.css">
<link rel="stylesheet" href="/lib/base/css/bootstrap.min.css">
<link rel="stylesheet" href="/lib/base/css/md-data-table.min.css">
<link rel="stylesheet" href="/lib/base/css/textAngular.css">
<link rel="stylesheet" href="/css/accordianPane.css">
<link href="/app/AssetMangement/css/style.css" rel="stylesheet"
	type="text/css">
<link rel="stylesheet" href="/app/setup/css/checkbox.css">
<link href="app/invoice/css/style.css" rel="stylesheet" type="text/css" />
<link href="css/header.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<style>
.popover {
	float: left !important;
}
</style>
</head>
<body layout="column" ng-cloak md-theme="{{theme}}"
	md-theme-watch="true" layout="column" layout-fill>
	<md-content layout="column" style="height: 100%;" ng-cloak>
	<div ng-show="loading" style="padding-left: 8px;">
		<h4 class="md-title">Loading...Please wait...</h4>

		<md-progress-linear class="md-warn" md-mode="buffer" value="30"
			md-buffer-value="70" ng-disabled="false"></md-progress-linear>
	</div>
	<md-content ng-hide="loading"
		style="padding-left: 8px; padding-right: 8px; height: 100%;"
		ng-controller="AppCtrl" layout="column"> <!-- Top Navigation Pane -->
	<!-- <md-toolbar style="position: fixed;"> --> <md-toolbar>
	<div layout="row" class="md-toolbar-tools">
		<div ng-hide="toggleMainMenuSwitch">
			<md-button ng-click="toggleMainMenu()" class="md-fab md-mini"
				aria-label="Mini FAB"> <md-icon
				md-svg-src="img/icons/menu.svg"></md-icon> </md-button>
		</div>
		<div ng-show="toggleMainMenuSwitch">
			<md-button ng-click="toggleMainMenu()" class="md-fab md-mini"
				aria-label="Mini FAB"> <md-icon
				md-svg-src="/img/icons/ic_keyboard_arrow_left_black_24px.svg"></md-icon>
			</md-button>
		</div>
		<div hide-xs>
			<img ng-show="curUser.business.logBlobKey" ng-click="show_info()"
				ng-src="{{logBaseURL}}" class="md-card-image" height="60px"
				width="120px" />
			<h3 ng-hide="curUser.business.logBlobKey" class="md-toolbar-tools"
				ng-bind="curUser.business.businessName "></h3>
		</div>
		<span flex></span>
		<div layout="row" layout-align="end center">
			<!-- fill up the space between left and right area -->

			<div id="login" ng-show="!curUser">
				<md-button class="md-icon-button" ng-click="loginClick()">
				<ng-md-icon icon="login" style="fill: md-default" size="24">
				<md-tooltip> Login</md-tooltip></ng-md-icon></md-button>
				<md-button> <md-tooltip> Not Logged-in</md-tooltip> <img
					alt="Logo" src="img/images/ic_person_black_24px.svg" class=circular>
				</md-button>
			</div>
			<div id="logout" ng-show="curUser">
				<span hide-xs style="padding-top: 3px"
					ng-bind="curUser.firstName + ' ' + curUser.lastName"> </span>
				<md-button class="md-icon-button" ng-click="signOut()">
				<ng-md-icon icon="logout" style="fill: md-default" size="24">
				<md-tooltip> Logout</md-tooltip></ng-md-icon></md-button>
				<md-button> <md-tooltip> {{
				curUser.firstName + " " + curUser.lastName + "|" +
				curUser.email_id}} </md-tooltip> <img
					ngf-src="curUser.imageURl?curUser.imageURl: 'img/images/ic_person_black_24px.svg'"
					class=circular> </md-button>
			</div>
		</div>
	</div>

	</md-toolbar> <md-content layout="row" flex layout-fill style="height: 100%;">
	<!-- Left Navigation Pane --> <md-sidenav
		class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
		md-is-locked-open="toggleMainMenuSwitch"> <md-content
		layout="column" flex="100"> <md-content> <md-content
		class="md-accordion"
		ng-repeat="auth in curUser.userAuthMasterEntity.authorizations | orderBy: orderByAuthOrderValue"
		ng-show="curUser!=null"> <md-toolbar
		ng-init="data.expanded[$index] = false"
		ng-click="data.expanded[$index] = !data.expanded[$index]">
	<div class="md-toolbar-tools">
		<h4>
			<span ng-bind="auth.authDisplayName"></span>
		</h4>
		<span flex></span> <span
			ng-class="{expandCollapse:true, active:data.expanded[$index]}"></span>
	</div>
	</md-toolbar>
	<div layout="column" style="margin-left: 15px;"
		ng-class="{dataContent:true, activeContent:data.expanded[$index]}">
		<md-content layout="column" flex="100" layout-align="center start">
		<md-button
			ng-repeat="subAuth in auth.authorizations | orderBy: orderByAuthOrderValue"
			ui-sref="{{subAuth.uiStateName}}" ng-click="close()"
			class="menu-heading md-primary" aria-label="subAuth.authDisplayName"
			ng-bind="subAuth.authDisplayName"> </md-button> </md-content>
	</div>
	</md-content> </md-content> </md-content>
	<hr>
	<span flex class="md-caption">©2017-2018 ProERP Cloud Platform,
		a product of Protostar Consulting Services, Pune. All rights reserved.
	</span></md-sidenav> <md-content layout="column" layout-align="top stretch" layout-fill
		style="height: 100%;"> <md-content layout="column"
		style="height: 100%;"> <md-content id="tp1" ui-view flex
		layout="column" layout-align="top stretch" style="height: 100%;">
	<!--This is the center page of all main modules for the index module. -->
	</md-content> </md-content><!-- <span flex>©2017-2018 ProERP Google Cloud Platform, a product
		of Protostar Consulting Services, Pune. All rights reserved. </span> -->
	</md-content> <!-- </md-card>  --></md-content> <!--This is a botton section of the app--> </md-content> </md-content>


	<!-- All JS Dependencies -->
	<!-- 	<script src="/lib/base/googleapi.client.js"></script> -->
	<!-- 	<script src="/lib/base/jquery.min.js"></script>
	<script src="/lib/base/bootstrap.min.js"></script> -->

	<!-- Angular Material Dependencies -->
	<script src="/lib/base/angular.min.js"></script>
	<script src="/lib/base/angular-animate.min.js"></script>
	<script src="/lib/base/angular-route.min.js"></script>
	<script src="/lib/base/angular-aria.min.js"></script>
	<script src="/lib/base/angular-messages.min.js"></script>
	<script src="/lib/base/angular-resource.min.js"></script>
	<script src="/lib/base/angular-material-icons.min.js"></script>


	<script src="/lib/base/angular-material.min.js"></script>
	<script src="/lib/base/md-data-table.min.js"></script>

	<script src="/lib/base/ui-bootstrap-tpls.min.js"></script>
	<script src="/lib/base/angular-ui-router.min.js"></script>
	<script src="/lib/base/xeditable.js"></script>
	<script src="/lib/base/textAngular-rangy.min.js"></script>
	<script src="/lib/base/textAngular-sanitize.min.js"></script>
	<script src="/lib/base/textAngular.min.js"></script>
	<script src="/lib/base/ngStorage.min.js"></script>
	<script src="/lib/base/google-plus-signin.js"></script>
	<script src="/lib/base/numtoword.js"></script>
	<!-- file uplode library-->

	<script src="/lib/base/ng-file-upload-shim.min.js"></script>
	<!-- for no html5 browsers support -->
	<script src="/lib/base/ng-file-upload.min.js"></script>
	<script src="/lib/base/ng-file-upload.js"></script>

	<!-- <script src="/lib/base/ui-grid.js"></script> -->

	<script src="https://apis.google.com/js/client.js"></script>
	<script src="https://apis.google.com/js/api.js"></script>
	<!-- App JS Dependencies -->
	<script src="/app/common/common.app.js"></script>
	<script src="/app/common/commonServices.js"></script>

	<!-- Load other view/service/controllers files-->
	<script src="/app/common/app.object.service.js"></script>
	<script src="/app/common/app.localdb.endpoint.service.js"></script>
	<script src="/app/common/app.google.endpoint.service.js"></script>
	<script src="/app/common/app.endpoint.service.js"></script>

	<script src="/home.ctr.js"></script>

	<!-- 	Customer js  -->
	<script src="/app/crm/js/customer_module.ctr.js"></script>
	<script src="/app/crm/js/customer_add.ctr.js"></script>
	<script src="/app/crm/js/customer_list.ctr.js"></script>
	<script src="/app/crm/js/customer_invoiceList.ctr.js"></script>
	<script src="/app/crm/js/customer_sOlist.ctr.js"></script>
	<script src="/app/crm/js/crm_ViewContactsList.js"></script>
	<!-- 	<script src="/app/customer/js/customer_edit.ctr.js"></script> -->
	<!-- 	Complete Customre js  -->

	<!-- 	Account js  -->

	<script src="/app/account/js/account_module.ctr.js"></script>
	<script src="/app/account/js/account_add.ctr.js"></script>
	<script src="/app/account/js/account_income.ctr.js"></script>
	<script src="/app/account/js/account_payable.ctr.js"></script>
	<script src="/app/account/js/account_receivable.ctr.js"></script>
	<script src="/app/account/js/account_payableList.ctr.js"></script>
	<script src="/app/account/js/account_receivableList.ctr.js"></script>
	<!-- 	Complete Account js  -->

	<!-- Accounting entity -->

	<script src="/app/accounting/js/accounting_module.ctr.js"></script>
	<script src="/app/accounting/js/addacountCtr.ctr.js"></script>
	<script src="/app/accounting/js/accountlistCtr.ctr.js"></script>
	<script src="/app/accounting/js/account_addGeneralEntry.ctr.js"></script>
	<script src="/app/accounting/js/account_addEntry.ctr.js"></script>
	<script src="/app/accounting/js/account_entryList.ctr.js"></script>
	<script src="/app/accounting/js/accountGroupAdd.js"></script>
	<script src="/app/accounting/js/accountGroupEdit.js"></script>
	<script src="/app/accounting/js/accountGroupList.js"></script>
	<script src="/app/accounting/js/accountGroupView.ctr.js"></script>
	<script src="/app/accounting/js/accountChart.ctr.js"></script>
	<script src="/app/accounting/js/accountGroupView.ctr.js"></script>
	<script src="/app/accounting/js/account_Edit.js"></script>
	<script src="/app/accounting/js/voucherSalesCtr.ctr.js"></script>
	<script src="/app/accounting/js/voucherSalesListCtr.ctr.js"></script>
	<script src="/app/accounting/js/voucherRecieptCtr.ctr.js"></script>


	<script src="/app/accounting/js/voucherRecieptListCtr.ctr.js"></script>

	<script src="/app/accounting/js/voucherPurchesCtr.ctr.js"></script>
	<script src="/app/accounting/js/voucherPurchesListCtr.ctr.js"></script>




	<script src="/app/accounting/js/voucherRecieptListCtr.ctr.js"></script>
	<script src="/app/accounting/js/accountTrialBalance.ctr.js"></script>

	<script src="/app/accounting/js/accountBalanceSheet.js"></script>
	<script src="/app/accounting/js/generallistCtr2.ctr.js"></script>

	<!-- Complete Accounting entity -->




	<!-- 	Journal js  -->

	<script src="/app/journal/js/journal_module.ctr.js"></script>
	<script src="/app/journal/js/journal_addEntry.ctr.js"></script>
	<script src="/app/journal/js/journal_entryList.ctr.js"></script>

	<!-- 	Complete Journal js  -->


	<!-- 	Warehouse js  -->
	<!-- 	<script src="/app/warehouse/js/warehouse_module.ctr.js"></script>
	<script src="/app/warehouse/js/warehouse_add.ctr.js"></script>
	<script src="/app/warehouse/js/warehouse_list.ctr.js"></script>
	<script src="/app/warehouse/js/warehouse_edit.ctr.js"></script>
 -->
	<!-- 	Complete Warehouse js  -->

	<!-- 	Invoice js  -->
	<script src="/app/invoice/js/invoice_module.ctr.js"></script>
	<script src="/app/invoice/js/invoice_add.ctr.js"></script>
	<script src="/app/invoice/js/invoice_list.ctr.js"></script>
	<script src="/app/invoice/js/invoice_view.ctr.js"></script>
	<script src="/app/invoice/js/invoice_edit.ctr.js"></script>
	<script src="/app/invoice/js/invoice_settings.ctr.js"></script>

	<!-- 	Complete Invoice js  -->

	<!--   Quotation JS below -->
	<script src="/app/invoice/js/quotation_add.ctr.js"></script>
	<script src="/app/invoice/js/quotation_list.ctr.js"></script>
	<script src="/app/invoice/js/quotation_view.ctr.js"></script>
	<script src="/app/invoice/js/quotation_edit.ctr.js"></script>

	<!--    Complete Quotation JS   -->

	<!-- 	Stock js  -->
	<script src="/app/stock/js/stock_module.ctr.js"></script>
	<script src="/app/stock/js/stockItem_add.ctr.js"></script>
	<script src="/app/stock/js/stockItem_list.ctr.js"></script>
	<script src="/app/stock/js/stock_receipt_add.ctr.js"></script>
	<script src="/app/stock/js/stock_receipt_list.ctr.js"></script>
	<script src="/app/stock/js/stock_shipment_add.ctr.js"></script>
	<script src="/app/stock/js/stock_shipment_list.ctr.js"></script>

	<script src="/app/report/js/stock_reportByThreshold.ctr.js"></script>
	<script src="/app/report/js/stock_reportByWarehouse.ctr.js"></script>
	<script src="/app/report/js/tax_reportByTaxPaid.ctr.js"></script>
	<script src="/app/report/js/tax_reportByTaxReceived.ctr.js"></script>

	<!-- 	Warehouse js  -->
	<!-- 	<script src="/app/stock/js/warehouse_module.ctr.js"></script> -->
	<script src="/app/stock/js/warehouse_add.ctr.js"></script>
	<script src="/app/stock/js/warehouse_list.ctr.js"></script>
	<!-- 	<script src="/app/stock/js/warehouse_edit.ctr.js"></script> -->
	<!-- 	Complete Warehouse js  -->

	<!-- 	Complete Stock js  -->


	<!-- 	Tax js  -->
	<script src="/app/tax/js/tax.ctr.js"></script>
	<!-- 	Complete Tax js  -->


	<!-- 	Sales Order js  -->
	<script src="/app/sales/js/salesOrder_add.ctr.js"></script>
	<script src="/app/sales/js/salesOrder_list.ctr.js"></script>
	<script src="/app/sales/js/salesOrder_view.ctr.js"></script>
	<script src="/app/sales/js/salesOrder_module.ctr.js"></script>
	<script src="/app/sales/js/salesOrder_edit.ctr.js"></script>
	<!-- 	Complete Sales Order js  -->

	<!-- 	Purchase Order js  -->
	<script src="/app/purchase/js/purchaseOrder_add.ctr.js"></script>
	<script src="/app/purchase/js/purchaseOrder_list.ctr.js"></script>
	<script src="/app/purchase/js/purchaseOrder_view.ctr.js"></script>
	<script src="/app/purchase/js/purchaseOrder_module.ctr.js"></script>
	<script src="/app/purchase/js/purchaseOrder_edit.ctr.js"></script>
	<script src="/app/purchase/js/supplier_add.ctr.js"></script>
	<script src="/app/purchase/js/supplier_list.ctr.js"></script>
	<!-- 	Complete Purchase Order js  -->

	<!-- 	hr js  -->
	<script src="/app/hr/js/hr.ctr.js"></script>
	<script src="/app/hr/js/hr.ctr.add.js"></script>
	<script src="/app/hr/js/hr.ctr.emplist.js"></script>
	<script src="/app/hr/js/hr.ctr.empview.js"></script>
	<script src="/app/hr/js/hr.ctr.addupdatesalstruct.js"></script>
	<script src="/app/hr/js/hr.ctr.empdoc.js"></script>
	<script src="/app/hr/js/hr.ctr.emplist_to_ganeratesalslip.js"></script>
	<script src="/app/hr/js/hr.ctr.selected_Employeesalaryslip.js"></script>
	<script src="/app/hr/js/LeaveDetails.js"></script>
	<script src="/app/hr/js/SalaryMaster.js"></script>
	<script src="/app/hr/js/MonthlyPaymentDetail.js"></script>
	<!-- complete	hr js  -->


	<!-- 	hr js  -->
	<script src="/app/hr/js/hr.ctr.js"></script>
	<script src="/app/hr/js/hr.ctr.add.js"></script>
	<script src="/app/hr/js/hr.ctr.emplist.js"></script>
	<script src="/app/hr/js/hr.ctr.addupdatesalstruct.js"></script>
	<script src="/app/hr/js/hr.ctr.empdoc.js"></script>
	<script src="/app/hr/js/hr.ctr.emsalslipstruct.js"></script>
	<script src="/app/hr/js/hr.ctr.emplist_to_ganeratesalslip.js"></script>
	<script src="/app/hr/js/hr.ctr.timesheet.js"></script>
	<script src="/app/hr/js/payRollReports.js"></script>
	<script src="/app/hr/js/payRollReportDetails.js"></script>
	<script src="/app/hr/js/monthlyTax.js"></script>
	<!-- complete	hr js  -->

	<!-- 	hr js  -->
	<script src="/app/hr/js/hr.ctr.js"></script>
	<script src="/app/hr/js/hr.ctr.add.js"></script>
	<script src="/app/hr/js/hr.ctr.emplist.js"></script>
	<script src="/app/hr/js/hr.ctr.empview.js"></script>
	<script src="/app/hr/js/hr.ctr.addupdatesalstruct.js"></script>
	<script src="/app/hr/js/hr.ctr.empdoc.js"></script>
	<script src="/app/hr/js/hr.ctr.emsalslipstruct.js"></script>
	<script src="/app/hr/js/hr.ctr.emplist_to_ganeratesalslip.js"></script>
	<script src="/app/hr/js/hr.ctr.selected_Employeesalaryslip.js"></script>
	<!-- complete	hr js  -->

	<!-- CRM Js -->
	<script src="/app/crm/js/crm_lead.js"></script>
	<script src="/app/crm/js/crm_lead_view.js"></script>
	<script src="/app/crm/js/crm_contacts.js"></script>
	<script src="/app/crm/js/crm_opportunity.js"></script>
	<script src="/app/crm/js/crm_module.js"></script>
	<script src="/app/crm/js/crm_contactsList.js"></script>
	<script src="/app/crm/js/crm_leadList.js"></script>
	<script src="/app/crm/js/crm_opportunityList.js"></script>


	<!-- setup module js -->

	<script src="/app/setup/js/setup_module.js"></script>
	<script src="/app/setup/js/setup_headerfooter.js"></script>
	<script src="/app/setup/js/setup_adduser.js"></script>
	<script src="/app/setup/js/setup_viewuser.js"></script>
	<script src="/app/setup/js/setup_changePlan.js"></script>
	<script src="/app/setup/js/disclaimer.js"></script>
	<script src="/app/setup/js/userlist.js"></script>
	<script src="/app/setup/js/sendmail.js"></script>

	<script src="/app/setup/js/setup_changetheme.js"></script>
	<script src="/app/setup/js/setup_setLogo.js"></script>
	<script src="/app/setup/js/manage_user_auth.ctr.js"></script>
	<script src="/app/setup/js/setup_departmentList.js"></script>


	<!--  profile js -->
	<script src="/app/profile/js/profilemodule.js"></script>
	<script src="/app/profile/js/getAllSalSlip.js"></script>
	<script src="/app/profile/js/viewProfile.js"></script>
	<script src="/app/profile/js/changePassword.js"></script>
	<script src="/app/profile/js/myMonthlyDeduction.js"></script>

	<!-- login user -->
	<script src="/app/login/js/login_module.ctr.js"></script>
	<script src="/app/login/js/newUser_student.ctr.js"></script>

	<script src="/app/myprofile/js/myprofile_update.ctr.js"></script>
	<script src="/app/myprofile/js/myprofile.ctr.js"></script>

	<script src="/app/login/js/needBusinessAccount.ctr.js"></script>
	<script src="/app/login/js/newBusinessAccount.ctr.js"></script>



	<!-- use for ganerating pdf -->
	<!--    <script type="text/javascript" src="/app/hr/js/jspdf.min.js"></script>

   
    <script src="/app/crm/js/crm_lead.js"></script>
   <script src="/app/crm/js/crm_lead_view.js"></script>
   <script src="/app/crm/js/crm_contacts.js"></script>
      <script src="/app/crm/js/crm_opportunity.js"></script>
  <!--  lead js -->

	<!-- setup module js -->

	<script src="/app/setup/js/setup_module.js"></script>
	<script src="/app/setup/js/setup_headerfooter.js"></script>
	<script src="/app/setup/js/EditBusiness.js"></script>



	<!-- Document -->
	<script src="/app/Document/js/document.js"></script>
	<script src="/app/Email/js/email.js"></script>

	<!--asset management   -->
	<script src="/app/AssetMangement/js/AssetMgmtModule.js"></script>
	<script src="/app/AssetMangement/js/AssignupdateAsset.js"></script>
	<script src="/app/AssetMangement/js/AddAsset.js"></script>
	<script src="/app/AssetMangement/js/ListAsset.js"></script>

	<script src="/app/taskmanagement/js/task_module.ctr.js"></script>


	<!-- use for ganerating pdf -->
	<!--    <script type="text/javascript" src="/app/hr/js/jspdf.min.js"></script>

	<!-- proadmin -->
	<script src="/app/ProAdmin/js/probusinesslist.js"></script>
	<script src="/app/ProAdmin/js/manage_institute_auth.ctr.js"></script>
	<script src="/app/ProAdmin/js/ProAdmin.js"></script>
	<script src="/app/ProAdmin/js/AddAccountType.js"></script>
	<script src="/app/ProAdmin/js/ListAccountType.js"></script>
	<script src="/app/ProAdmin/js/manage_auth_master.ctr.js"></script>

	<!-- setup module js -->
	<script src="/app/setup/js/setup_module.js"></script>
	<script src="/app/setup/js/setup_headerfooter.js"></script>


	<!-- Document -->
	<script src="/app/Document/js/document.js"></script>
	<script src="/app/Email/js/email.js"></script>

	<!-- initsetup -->
	<script src="/app/initsetup/js/initsetup.js"></script>

	<script src="index.ctr.js"></script>

</body>
</html>