<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<b>SetUp Is Running .......................</b><br>
<b>{{step1}}</b><br>
<b>{{step2}}</b><br>

<section layout="row" layout-sm="column" layout-align="left left">
<md-button ng-show="step1" id="addemp" class="md-raised md-primary"  ng-click="addemp()">Next</md-button>


<md-button ng-show="step1" ng-disables="step4" ng-hide="step4" id="addgrp" class="md-raised md-primary"  ng-click="addgroup()">Create Account Group</md-button>
<br></br>
<b>{{step3}}</b><br>




</section>

</body>
</html>