<md-content layout-padding>
<section id="pagetoolbar" layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">{{selectedTax.id?'Update Tax': 'Add New
		Tax'}}</h4>
	</md-subheader>
	<span flex> </span>
	<div hide-xs>
		<md-button class="md-primary" id="Bulk Upload"
			ng-click="UplodeExcel($event)">Bulk Upload</md-button>
	</div>
</section>
<form name="taxForm">
	<div>
		<div layout="row" layout-xs="column">
			<md-input-container flex> <label>Code
				Name </label> <input name="taxName" ng-model="selectedTax.taxCodeName"
				ng-required="true">
			<div ng-messages="taxForm.taxName.$error"
				ng-if="taxForm.taxName.$submitted || taxForm.taxName.$touched">
				<div ng-message="required">Please Enter Tax Name(Example.:GST
					12.50)</div>

				<!-- 				<span class="help-block"
					ng-show="((taxForm.taxName.$error.pattern) &&  taxForm.taxName.$dirty) ">Tax
					Name should be text only.(Example.:abc)</span>
 -->
			</div>
			</md-input-container>
			<md-input-container flex> <label>Tax
				Rate </label> <input type="number" name="taxPercenatge"
				ng-model="selectedTax.taxPercenatge" ng-required="true">
			<div ng-messages="taxForm.taxPercenatge.$error"
				ng-if="taxForm.taxPercenatge.$touched">
				<div ng-message="required">Please Enter Tax in
					Percentage(Example.:12)</div>
			</div>
			</md-input-container>
		</div>
		<div layout="row" layout-xs="column">
			<md-input-container flex> <md-checkbox
				ng-model="selectedTax.withSubHeads" aria-label="active"
				ng-true-value="true" ng-false-value="false" id="changer">
			With Subheads </md-checkbox></md-input-container>

			<md-input-container flex> <md-checkbox
				ng-model="selectedTax.active" aria-label="active"
				ng-true-value="true" ng-false-value="false" id="changer">Tax
			Visibility </md-checkbox></md-input-container>
		</div>
		<div ng-show="selectedTax.withSubHeads"
			ng-hide="!selectedTax.withSubHeads">
			<div
				ng-show="!selectedTax.subHeads || selectedTax.subHeads.length==0"
				ng-hide="selectedTax.subHeads || selectedTax.subHeads.length>0">
				Add Tax Line Items:
				<md-button class="md-icon-button" ng-click="addTaxLineItem()">
				<ng-md-icon icon="add_circle" style="fill: md-default" size="24">
				<md-tooltip> Add Tax Line Items</md-tooltip></ng-md-icon> </md-button>

			</div>
			<div ng-show="selectedTax.subHeads || selectedTax.subHeads.length>0">
				<table md-table style="width: 50%">
					<thead md-head>
						<tr md-row>
							<th md-column width="4%">Sr. No.</th>
							<th md-column width="30%">Tax Item Name</th>
							<th md-column>Tax Percentage</th>
							<th md-column>Actions</th>

						</tr>
					</thead>

					<tbody md-body>
						<tr md-row ng-repeat="taxLineItem in selectedTax.subHeads">

							<td md-cell>{{ $index +1 }}</td>
							<td md-cell width="40%"><md-input-container flex>
								<input type="text" ng-model="taxLineItem.taxSubCodeName"
									aria-label="taxSubCodeName" ng-required="true"> </md-input-container></td>
							<td md-cell><md-input-container flex> <input
									type="number" ng-model="taxLineItem.taxPercenatge"
									aria-label="taxPerc"> </md-input-container></td>
							<td><md-icon
									md-svg-src="img/icons/ic_delete_forever_black_24px.svg"
									ng-click="removeTaxLineItem($index)" class="name"
									style="color: Green; height: 18px; width: 18px"></md-icon></td>
						</tr>
						<tr>
							<td><md-button class="md-icon-button"
									ng-click="addTaxLineItem()"> <ng-md-icon
									icon="add_circle" style="fill: md-default" size="24">
								<md-tooltip> Add New Tax Line Item</md-tooltip></ng-md-icon> </md-button></td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>



		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary" ng-click="cancelUpdate()">Back</md-button>
			<md-button class="md-raised md-primary"
				ng-disabled="taxForm.$invalid" ng-click="addTax()">Submit</md-button>
		</section>
	</div>
</form>
</md-content>